<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<link href="../images/jquery/colorpicker.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/jquery/colorpicker.js"></script>
<script>
jQuery(document).ready(function($) {
	$.fn.colorPicker.defaultColors = ['00FFFF', '000000', '999999', 'FF0000', 'FFFF00', '0000FF', 'FFFFFF', '00FF7F', '00FF00'];
	$('#color1').colorPicker();
})
</script>
<div id="currentPosition">
	<p><{$_your_current_position}> 插件 &raquo; 管理</p>
</div>
<div id="rightTop"> 
    <h3>插件</h3> 
    <ul class="subnav">
		<li><a href="plugin.php">管理</a></li>
        <li><a class="btn4"><{$title}></a></li>
    </ul>
</div>
<div class="info">
  <form action="plugin.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />
  <input type="hidden" name="entry" value="<{$name}>" />
  <input type="hidden" name="formhash" value="<{$formhash}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> Flash地址：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[movie]" value="<{$movie|default:'plugins/video/player.swf'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 宽度：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="pluginvar[width]" value="<{$width|default:'473'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 高度：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[height]" value="<{$height|default:'170'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 背景色：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" id="color1" name="pluginvar[bgcolor]" value="<{$bgcolor|default:'#ff0000'}>" /></td>
      </tr>      
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" id="Save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>