<object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="400" height="315">
	<param name="movie" value="plugins/video/player.swf" />
	<param name="allowfullscreen" value="true" />
	<param name="allowscriptaccess" value="always" />
	<param name="flashvars" value="file=demo.flv&image=plugins/video/preview.jpg" />
	<embed
		type="application/x-shockwave-flash"
		id="player2"
		name="player2"
		src="plugins/video/player.swf" 
		width="400" 
		height="315"
		allowscriptaccess="always" 
		allowfullscreen="true"
		flashvars="file=demo.flv&image=plugins/video/preview.jpg" 
	/>
</object>