/****globals***/
body, th, td, input, select, textarea { font: 12px/1.5em Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; }
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form, img,fieldset { margin: 0; padding: 0; border:0;list-style: none; }
a img { border: none; }
input,select{vertical-align:middle;}
.clear {clear:both; height:0; overflow:hidden; display:block; line-height:0}
a:link {color:#0000ff; text-decoration:none}
a:hover { text-decoration:underline}
#header { background:url(../images/console_header_bg.gif) repeat-x; height:140px;}
#header .logo {background: url(../images/console_heder_bg_2.gif) no-repeat center 0; width:960px; height:50px; padding:10px; margin:0 auto; }
#header .logo h1 { text-align:right;}
#wrapper {width:960px; margin:0 auto}
.console_left{ float:left; border-right:1px dashed #ccc; width:420px; padding:0 60px 0 20px; display:block; overflow:hidden}
.console_right{ float:right; width:386px;}
.console_left p { font-size:12px; padding:10px 0}
.title { font-size:24px; line-height:160%; font-weight:bold; }
.intro_1, .intro_2, .intro_3 {background: url(../images/console_icon.gif) 0 0 no-repeat; padding:0 0 0 80px; height:65px; line-height:65px; margin:10px 0 0 0; font-size:12px;}
.intro_2 { background-position:0 -68px}
.intro_3 { background-position:0 -148px}
.login label { display:block; height:30px; line-height:30px; color:#000000; margin:10px 0 5px 0; overflow:hidden; font-size:12px;font-weight:bold;}
.login input { margin:0 10px 0 0}
.txt_input { height:18px; width:150px;}
.code_input { height:18px; width:60px;}
.login .user, .login .pwd { color:#FF0000}
.login .forget { color:#0000ff; padding:15px 0 0 0; }
.login .code label { margin:5px 0;}
.login .code img { vertical-align:middle;cursor: hand;}
.login .btn_login { padding:15px 0}
.reg { height:30px; line-height:30px; padding:20px 0 15px 20px; font-size:12px;}
.hr_solid {border-bottom:1px #666666 solid; border-top:none;height:1px; line-height:1px;}
#footer { width:920px; height:30px; line-height:30px; padding:0 20px; margin:0 auto;}
#footer .left { width:600px; float:left}
#footer .right { float:right; text-align:right}