<{assign var="page_title" value="`$_company_album`"}>
<{include file="header.html"}>
<script src="../scripts/jquery/facebox.js" type="text/javascript"></script>
<link href="../images/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script>
jQuery(document).ready(function($) {
	$.facebox.settings.loadingImage = '<{$SiteUrl}>images/facebox/loading.gif'; 
	$.facebox.settings.closeImage = '<{$SiteUrl}>images/facebox/closelabel.gif'; 
	$('a[rel*=facebox]').facebox();
})
</script>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
     <div class="hint"><{$_must_input_with_star}></div>

	  <form name="edit_frm" method="post" action="<{$smarty.env.PHP_SELF}>" enctype="multipart/form-data" onsubmit="$('#BtnSubmit').attr('disabled',true);">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
	  <input type="hidden" name="id" value="<{$item.id}>">
	  <input type="hidden" name="do" value="save">

       <table class="offer_info_content">
          <tr>
            <th class="circle_left"><font class="red">*</font><{$_show_title}></th>
            <td class="circle_right"><input type="text" name="album[title]" value="<{$item.title}>" /></td>
          </tr>
          <tr>
            <th><{$_categories}></th>
            <td><select name="album[type_id]">
				<{html_options options=$AlbumTypes selected=$item.type_id}>
            </select></td>
          </tr>
          <tr>
            <th><font class="red">&nbsp; </font><{$_simple_description}></th>
            <td><textarea name="album[description]" cols="60" rows="8" wrap="VIRTUAL"><{$item.description}></textarea></td>
          </tr>
          <tr>
            <th><{$_attachment_upload}></th>
            <td>
                <input name="pic" type="file" id="uploadfile" onchange="preview()" />
                <span class="gray"><br>
                  <{$_image_size_format_provision}></span>
             </td>
          </tr>
		  <{if $item.image}>
          <tr>
           <th></th>
             <td><a href="<{$item.image}>" id="uploadpic_hover" rel="facebox"><img id="uploadpic" src="<{$item.image}>.small.jpg" alt="<{$item.title}>" width="80" height="80" border="0" /></a></td>
          </tr>
          <{/if}>
          <tr>
           <th class="circle_bottomleft"></th>
             <td class="circle_bottomright"><input name="btnSubmit" type="submit" id="BtnSubmit" value=" <{$_confirm_submit}> "></td>
          </tr>
       </table>
	</form>
	</div>
  </div>
<{include file="footer.html"}>