<{assign var="page_title" value="`$_brands`"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
      <div class="hint"><span class="btn_hint"><a href="brand.php?do=edit" class="btn_publish"><{$_click_add}></a></span><{$_add_your_brands}></div>               
     <table class="album" >
          <{foreach from=$Items item=item}>
          <tr bgcolor="<{cycle values="#CCFFCC,#ffffff"}>">
          <th><img src="<{$item.image}>" alt="" border="0" width="80" height="80" /></th>
          <td>
          <div id="certs" align="left">
            <ul>
            <li><{$_brand_name}><{$item.name}></li>
            <li><{$_description}><{$item.description|nl2br|truncate:100}></li>
            <li style="list-style:none"><a href="brand.php?do=edit&id=<{$item.id}>"><{$_modify}></a>&nbsp;<a href="brand.php?do=del&id=<{$item.id}>"><{$_delete}></a></li>
            </ul>
          </div>
          </td>
          </tr>
          <{foreachelse}>
          <tr><td colspan="2"><div align="center"><{$_no_datas_now}></div></td></tr>
          <{/foreach}>
      </table>				
     <table class="room_pages">
          <tr>
            <td><{$ByPages}></td>
          </tr>
     </table> 
</div>
</div>
<{include file="footer.html"}>