<{assign var="page_title" value="`$_change_password`"}>
<{include file="header.html"}>
<script type="text/javascript" src="../scripts/ajax.js"></script>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
     <div class="hint"><{$_must_input_with_star}></div>
	  <form name="changepassfrm" id="ChangePassFrm" method="post" action="changepass.php">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
	  <input type="hidden" name="action" value="checkpasswd" />
		 <table class="offer_info_content">
              <tr>
                <th class="circle_left"><span class="fontred"> *</span><{$_old_password}></th>
              <td class="circle_right"><input name="oldpass" type="password" id="oldpass" value=""><span id="checkoldpwdDiv"></span> </td>
            </tr>
            <tr>
              <th><span class="fontred"> *</span> <{$_new_password_n}></th>
              <td><input name="newpass" type="password" id="newpass"></td>
            </tr>
            <tr>
              <th><span class="fontred"> *</span> <{$_repeat}><{$_new_password_n}></th>
              <td><input name="re_newpass" type="password" id="re_newpass"></td>
            </tr> 
            <tr>
              <th class="circle_bottomleft"></th>
              <td class="circle_bottomright"><input name="btn_change_pwd" type="button" id="BtnChangePwd" value="<{$_i_sure}><{$_change_password}>" onclick="return checkInput();"></td>
            </tr> 
        </table>
	  </form>
		<table class="attentions">
		  <tr>
			<td bgcolor="#FFFFFF">
			<table width="100%"  border="0" cellpadding="5" cellspacing="0">
				<tr>
				  <td class="bottom"><{$_password_description}>
				</tr>
			</table>
			</td>
		  </tr>
		</table>
    </div>
   </div>
<{include file="footer.html"}>