<{assign var="page_title" value="`$_favorites`"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
      <table class="bggray">
        <tr>
          <td class="orange"><{$_favorites_tips}></td>
        </tr>
      </table>      
      <form name="listfrm" action="<{$smarty.server.PHP_SELF}>" method="post">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
      <table class="offer_publish_list">
        <tr>
          <td>
          <table class="bglist">
            <tr>
            <th><{$_type}></th>
            <th><{$_title}></th>
            <th><{$_collection_time}></th>
            <th><{$_selected}></th>
            </tr>
			<{foreach from=$Items item=item}>
            <tr>
              <td class="orange"><{$TradeTypes[$item.type_id]}></td>
              <td><a href="<{$SiteUrl}>offer/detail.php?id=<{$item.offerid}>" target="_blank"><{$item.title}></a>&nbsp;</td>
              <td><{$item.pubdate}>&nbsp;</td>
              <td><input name="id[]" type="checkbox" id="id_<{$item.id}>" value="<{$item.id}>"></td>
            </tr>
			<{/foreach}>
          </table>
          </td>
        </tr>
		<{if $Items}>
        <tr>
          <td><div align="right" style="padding:5px 0 ;">
                <input type="submit" name="del" value="<{$_delete_message}>" onClick="return window.confirm<{$_ok_delete}>">
              </div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="1" background="images/index_trade_line.gif"></td>
        </tr>
		<{else}>
        <tr align="center">
          <td><B><{$_no_collection_message}></B>&nbsp;</td>
        </tr>
		<{/if}>
        <tr>
          <td><table class="room_pages">
              <tr>
                <td><{$ByPages}></td>
              </tr>
          </table></td>
        </tr>
      </table>
      </form>
      </div>
</div>
<{include file="footer.html"}>
