<{assign var="page_title" value="`$_companynews`"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
      <div class="hint"><span class="btn_hint"><a href="news.php?do=edit" class="btn_publish"><{$_post_companynews}></a></span><{$_add_news_show}></div>  
		<form name="newsfrm" action="<{$smarty.server.PHP_SELF}>" method="post">
		<input type="hidden" name="formhash" value="<{$formhash}>">
            <table class="news">
                <tr>
                  <th><input name="newsidAll" type="checkbox" id="newsidAll" title="<{$_all_select}>" onClick="uaCheckAll(this, 'newsid[]')"></th>
                  <th><{$_title}></th>
                  <th><{$_category}></th>
                  <th><{$_state}></th>
                  <th><{$_time}></th>
                  <th><{$_operation}></th>
                </tr>
				<{foreach from=$Items item=item}>
                <tr align="center" class="bggray">
                  <td><input name="newsid[]" type="checkbox" id="newsid[]" onClick="uaCheckItem(this, 'newsidAll')" value="<{$item.CompanynewsId}>"></td>
                  <td><a href="news.php?do=edit&id=<{$item.CompanynewsId}>"><{$item.CompanynewsTitle|truncate:25}></a></td>
                  <td><{$CompanynewsTypes[$item.type_id]}></td>
                  <td><{$CheckStatus[$item.status]}></td>
                  <td><{$item.pubdate}></td>
                  <td><a href="news.php?do=edit&id=<{$item.CompanynewsId}>"><{$_modify}></a></td>
                </tr>
				<{foreachelse}>
				<{/foreach}>
            </table>
            <table class="room_pages">
          <tr>
            <td><{$ByPages}></td>
          </tr>
          </table>
            <table class="trade_line">
                <tr>
                  <td height="1" background="images/index_trade_line.gif"></td>
                </tr>
          
          <tr align="center" valign="bottom">
            <td height="40"><input name="del" type="submit" id="delete" value="<{$_delete_select}>"></td>
          </tr>
        </table>
		</form>
</div>
</div>
<{include file="footer.html"}>

