<{assign var="page_title" value="`$_companynews`"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
     <div class="blank"></div>
	  <form name="addnewsfrm" action="news.php" method="post">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
	  <input type="hidden" name="newsid" value="<{$item.id}>">
         <table class="offer_info_content">
			<tr>
            <th class="circle_left"><font class="red">* </font><{$_news_title}></th>
				<td class="circle_right"><font color="#666666">
					<{if $smarty.get.act eq "view"}>
					<{$item.Title}>
					<{else}>                          
					<input name="title" type="text" id="title" value="<{$item.Title}>" size="35">
					<{/if}>
				</font></td>
			  </tr>
			<tr>
            <th><{$_category_n}></th>
				<td><select name="type_id">
                          <{html_options options=$CompanynewsTypes selected=$item.type_id}>
                        </select></td>
			</tr>
			<tr>
				 <th><{$_content}></th>
				<td><p>
					<{if $smarty.get.action eq "view"}>
					<{$item.Content}>
					<{else}>
					<textarea name="content" cols="55" rows="10" wrap="VIRTUAL"><{$item.Content}></textarea>
					<{/if}>
					<font color="#FF3300"><br>
				</font></p></td>
             </tr>
			<tr>
				 <th class="circle_bottomleft"></th>
				<td class="circle_bottomright"><input name="save" type="submit" id="save" value=" <{$_confirm_submit}> "></td>
             </tr>                                 
          </table>
	</form>

</div>
</div>
<{include file="footer.html"}>
