<{assign var="page_title" value="`$_product_management`"}>
<{include file="header.html"}>
<script src="../scripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="../scripts/jquery/facebox.js" type="text/javascript"></script>
<link href="../images/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script>
jQuery(document).ready(function($) {
	$.facebox.settings.loadingImage = '<{$SiteUrl}>images/facebox/loading.gif'; 
	$.facebox.settings.closeImage = '<{$SiteUrl}>images/facebox/closelabel.gif'; 
	$('a[rel*=facebox]').facebox();
})
tinyMCE.init({
mode : "textareas",
theme : "simple",
theme_advanced_toolbar_location : "top",
theme_advanced_toolbar_align : "left"
});
</script>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$_product_management}></h2></div>

	  <form name="productaddfrm" method="post" action="<{$smarty.env.PHP_SELF}>" enctype="multipart/form-data" onsubmit="$('#Save').attr('disabled',true);">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
	  <input type="hidden" name="id" value="<{$item.id}>">
	  <input type="hidden" name="formattribute_ids" value="<{$item.formattribute_ids}>">
       <div class="hint"><{$_must_input_with_star}></div>
        <table class="offer_info_content">

                      <tr>
                        <th class="circle_left"><font class="red">*</font><{$_product_type}></th>
                        <td class="circle_right"><{html_radios name="data[product][sort_id]" options=$ProductSorts checked=$item.sort_id|default:2 separator=" "}></td>
                      </tr>
                      <tr>
                        <th><font class="red">*</font><{$_product_name}></th>
                        <td class="tdright"><input name="data[product][name]" type="text" id="dataProductName" value="<{$item.name}>">
                        <font color="#666666"><{$_words_length}></font></td>
                      </tr>
					  <{foreach from=$Forms name=form item=item1 key=key1}>
                      <tr>
                        <th> <{$item1.label}><{$_colon}></th>
                        <td class="tdright"><font color="#666666">
                          <input name="data[formitem][<{$key1}>]" type="text" id="<{$item1.id}>" value="<{$item1.value}>"></font></td>
                      </tr>
					  <{/foreach}>
                      <tr>
                        <th><{$_industry}></th>
                        <td class="tdright">
						<div id="dataIndustry">
							<select name="data[product][industry_id1]" id="dataProductIndustryId1" class="level_1" ></select>
							<select name="data[product][industry_id2]" id="dataProductIndustryId2" class="level_2"></select>
							<select name="data[product][industry_id3]" id="dataProductIndustryId3" class="level_3" ></select>
						</div>						
						</td>
                      </tr>
                      <tr>
                        <th><{$_area}></th>
                        <td class="tdright">
		              <div id="dataArea">
							<select name="data[product][area_id1]" id="dataProductAreaId1" class="level_1" ></select>
							<select name="data[product][area_id2]" id="dataProductAreaId2" class="level_2" ></select>
							<select name="data[product][area_id3]" id="dataProductAreaId3" class="level_3"></select>
						</div>

						</td>
                      </tr>
                      <tr>
                        <th><font class="red">*</font><{$_product_description}></th>
                        <td class="tdright"><textarea name="data[product][content]" id="dataProductContent" rows="8" wrap="VIRTUAL" style="width:370px;"><{$item.content}></textarea><br />
                            <font color="#FF3300"><{$_attention_explain}><br>
                        </font></td>
                      </tr>
                      <tr>
                        <th><{$_respective_series}></th>
                        <td class="tdright"><font color="#666666">
                        <span class="zi">
                          <select name="data[product][producttype_id]">
                            <option value="0"><{$_select}></option>
							<{foreach from=$ProductTypes name=producttype item=item2}>
							<option value="<{$item2.id}>" <{if $item.producttype_id==$item2.id}>selected<{/if}>><{$item2.name}></option>
							<{foreachelse}>
							<{/foreach}>
                          </select>
                        <{$_category_management_explain}></font></span></font></td>
                      </tr>
					  <tr>
				<th><{$_sorts_n}></th>
				<td><select name="data[product][category_id]" id="ProductpriceCategory">
				<{$Productcategories}>	
				</select></td>
			  </tr>
                      <tr>
                        <th><{$_product_brand}></th>
                        <td class="tdright"><select name="data[product][brand_id]">
                            <option value="0"><{$_select}></option>
                            <{html_options options=$UserBrands selected=$item.brand_id}>
                          </select></td>
                      </tr>
                      <tr>
                        <th><{$_tags_n}></th>
                        <td class="tdright"><input class="infoTableInput2" name="data[tag]" type="text" id="tag" value="<{$item.tag}>" /><label class="field_notice"><{$_space_separate}></label></td>
                      </tr>
                      <tr>
                        <th><{$_product_image}></th>
                        <td>
                            <input name="pic" type="file" id="uploadfile" onchange="preview()" />
                            <span class="gray"><br>
                              <{$_image_size_format_provision}></span></td>
                      </tr>
                      <tr>
					  <{if $item.image}>
                        <th></th>
                        <td><a href="<{$item.image|default:"javascript:;"}>" id="uploadpic_hover" rel="facebox"><img id="uploadpic" src="<{$item.image}>.small.jpg" alt="<{$item.name}>" width="80" /></a></td>
						<{/if}>
                      </tr>
                      <tr>
                        <th class="circle_bottomleft"></th>
                        <td class="circle_bottomright"><input name="save" type="submit" id="save" value=" <{$_confirm_submit}> "></td>
                      </tr>
          </table>
	</form>

</div>
</div>
<script>
var cache_path = "../";
var app_language = '<{$AppLanguage}>';
var area_id1 = <{$item.area_id1|default:0}> ;
var area_id2 = <{$item.area_id2|default:0}> ;
var area_id3 = <{$item.area_id3|default:0}> ;
var industry_id1 = <{$item.industry_id1|default:0}> ;
var industry_id2 = <{$item.industry_id2|default:0}> ;
var industry_id3 = <{$item.industry_id3|default:0}> ;
</script>
<script>
jQuery(document).ready(function($) {
	$("#ProductpriceCategory").val("<{$item.category_id|default:0}>")
})
</script>
<script src="../scripts/jquery/jquery.validate"></script>
<script src="../scripts/multi_select.js" charset="<{$Charset}>"></script>
<script src="../scripts/script_area.js"></script>
<script src="../scripts/script_industry.js"></script>
<{include file="footer.html"}>