<{assign var="page_title" value="`$_product_sort`"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
     <div class="blank"></div>
		  <form name="prodtypeeditfrm" method="post" action="producttype.php" autocomplete="off">
		  <input type="hidden" name="formhash" value="<{$formhash}>">
			  <input type="hidden" name="id" value="<{$item.id}>">
			<table width="100%" border="0" cellpadding="5" cellspacing="1" class="bgblue">
				<tr align="center">
				  <td width="40%" colspan="5">&nbsp;<{$_product_sort_name}>
					<input name="data[name]" type="text" value="<{$item.name}>">
					<input type="submit" name="save" value="<{$_saving}>"></td>
				  </tr>
          </table>
		</form>		 
</div>
</div>
<{include file="footer.html"}>
