<script charset="utf-8" type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<{$key|default:'ABQIAAAAnfs7bKE82qgb3Zc2YyS-oBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSySz_REpPq-4WZA27OwgbtyR3VcA'}>"></script>
<script type="text/javascript">     
google.load("maps", "2.x");     
</script>
<script>
$(document).ready(function(){     
var map = new GMap2(document.getElementById('phpb2bmap'));     
var burnsvilleMN = new GLatLng(<{$lat|default:'29.264911735066963'}>,<{$lng|default:'120.24544715881347'}>);
map.setCenter(burnsvilleMN, <{$zoomlevel|default:5}>); 
map.setUIToDefault();
map.openInfoWindow(map.getCenter(), 
                   document.createTextNode("<{$title|default:'No Label'}>"));
});
</script>
<style media="screen" type="text/css">     
#phpb2bmap { 
width:<{$width|default:500}>px; height:<{$height|default:500}>px; border-right: 3px outset; border-top: 3px outset; background: #ffffff; border-left: 3px outset;BORDER-BOTTOM: 3px outset;
} 
</style>
<div id="phpb2bmap"></div>