<{assign var="page_title" value="`$_adv_search`"}>
<{include file="`$ThemeName`/header.html"}>
<style type="text/css">
@import url(<{$theme_img_path}>effect.css);
</style>
<script src="scripts/jquery.tools.js"></script>
<div class="wrapper">
<div class="tips"><span><{$position}></span></div>  
<div class="advance_search">
	 <!-- the tabs -->
	  <ul class="tabs2 title_mouse">
		  <li><a href="javascript:;"><span><{$_offer}></span></a></li>
		  <li><a href="javascript:;"><span><{$_product}></span></a></li>
		  <li><a href="javascript:;"><span><{$_yellow_page}></span></a></li>
		  <li><a href="javascript:;"><span><{$_market}></span></a></li>
	</ul>
	<!-- tab "panes" -->
	<div class="panes box_bord">
		<div class="tabs_search" id="SearchOffer">
		<form name='form_send0' id='form_send0' method='GET' action='offer/list.php'>
			<input type="hidden" name="do" value="search" />
			<table>
				  <tr>
					<th><{$_offer_title}></th>
					<td><input type="text" name="q"  /></td>
				  </tr>
				  <tr>
					<th><{$_company_name}></th>
					<td><input type="text" name="company_name"  /></td>
				  </tr>
				  <tr>
					<th><{$_valid_time}></th>
					<td><select name="pubdate">
						<option value='0'><{$_no_time_limit}></option>
						<option value='l3'><{$_least_three_days}></option>
						<option value='l10'><{$_least_ten_days}></option>
						<option value='l30'><{$_least_thirty_days}></option>
						</select>
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="<{$_search}>"  class="btn_submit" />
					<input name="input2"  type="reset" value="<{$_reset}>" class="btn_submit"/>
				</td>
				  </tr>
			  </table>
		</form>
		</div>
		<!-- display none -->
		<div class="tabs_search" style="display:none" id="SearchProduct">
		<form name='form_send1' id='form_send1' method='GET' action='product/list.php'>
			<input type="hidden" name="do" value="search" />
			<table>
				  <tr>
					<th><{$_product_title}></th>
					<td><input type="text" name="q" id="q9" /></td>
				  </tr>
				  <tr>
					<th><{$_company_name}></th>
					<td><input type="text" name="company_name" /></td>
				  </tr>
				  <tr>
					<th><{$_post_time}></th>
					<td>
					  <select name="pubdate">
						<option value='0'><{$_no_time_limit}></option>
						<option value='l3'><{$_least_three_days}></option>
						<option value='l10'><{$_least_ten_days}></option>
						<option value='l30'><{$_least_thirty_days}></option>
					  </select>						
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="<{$_search}>"  class="btn_submit" />
					<input name="input2"  type="reset" value="<{$_reset}>" class="btn_submit"/>						
					</td>
				  </tr>
			  </table>
			  </form>
		</div>
		<div class="tabs_search" style="display:none" id="SearchCompany">
		<form name='form_send2' id='form_send2' method='get' action='company/list.php'>
			<input type="hidden" name="do" value="search" />
			<table>
				  <tr>
					<th><{$_company_name}></th>
					<td><input type="text" name="q" id="q15" /></td>
				  </tr>
				  <tr>
					<th><{$_main_prod_n}></th>
					<td><input type="text" name="main_prod" /></td>
				  </tr>
				  <tr>
					<th><{$_belong_industry}></th>
					<td>
						<p id="dataIndustry">
							<select name="industry_id1" id="dataTradeIndustryId1" class="level_1" style="width:120px;" ></select>
							<select name="industry_id2" id="dataTradeIndustryId2" class="level_2" style="width:120px;"></select>
							<select name="industry_id3" id="dataTradeIndustryId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th><{$_area}></th>
					<td>
						<p id="dataArea">
							<select name="area_id1" id="dataTradeAreaId1" class="level_1" style="width:120px;" ></select>
							<select name="area_id2" id="dataTradeAreaId2" class="level_2" style="width:120px;"></select>
							<select name="area_id3" id="dataTradeAreaId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="<{$_search}>"  class="btn_submit" />
					<input name="input2"  type="reset" value="<{$_reset}>" class="btn_submit"/>
					</td>
				  </tr>
			  </table>
			  </form>
		</div>
		<div class="tabs_search" style="display:none" id="SearchMarket">
		<form name='form_send3' id='form_send3' method='GET' action='market/list.php'>
			<input type="hidden" name="do" value="search" />
			<table>
				  <tr>
					<th><{$_market_name}></th>
					<td><input name="q" type="text" /></td>
				  </tr>
				  <tr>
					<th><{$_belong_industry}></th>
					<td>
						<p id="dataIndustry">
							<select name="industry_id1" id="dataTradeIndustryId1" class="level_1" style="width:120px;" ></select>
							<select name="industry_id2" id="dataTradeIndustryId2" class="level_2" style="width:120px;"></select>
							<select name="industry_id3" id="dataTradeIndustryId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th><{$_area}></th>
					<td>
						<p id="dataArea">
							<select name="area_id1" id="dataTradeAreaId1" class="level_1" style="width:120px;" ></select>
							<select name="area_id2" id="dataTradeAreaId2" class="level_2" style="width:120px;"></select>
							<select name="area_id3" id="dataTradeAreaId3" class="level_3" style="width:120px;"></select>
						</p>						
					</td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td>
					<input type="submit" value="<{$_search}>"  class="btn_submit" />
					<input name="input2"  type="reset" value="<{$_reset}>" class="btn_submit"/>
					</td>
				  </tr>
			  </table>
		</form>
		</div>
	</div>
	</div>
</div>
<script>
var app_language = '<{$AppLanguage}>';
$(function() {
	$("ul.tabs2").tabs("div.panes > div");
});
</script>
<script src="scripts/multi_select.js" charset="<{$Charset}>"></script>
<script src="scripts/script_area.js"></script>
<script src="scripts/script_industry.js"></script>
<{include file="`$ThemeName`/footer.html"}>