<{assign var="page_title" value="`$_dictionary`"}>
<{assign var="nav_id" value="11"}>
<{assign var="metakeywords" value="`$_dictionary`"}>
<{assign var="metadescription" value="`$_dict_digest_content`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
	<div class="content clearfix">
	  <div class="main_left_w720">
	  <div class="title_bar_s5">
	  <span class="title_top_s5"><span></span></span>
	  <div class="lemma clearfix">
		<div class="new_lemma">
		 <h2><{$_latest_words}></h2>
		 <ul>
		 <{dict row=25}>
		  <li>[link:title]</li>
		 <{/dict}>
		 </ul>
		</div>
		<div class="hot_lemma">
		 <h2><{$_hot_words}></h2>
		 <ul>
		 <{dict row=25 orderby="hits DESC"}>
		  <li>[link:title]</li>
		 <{/dict}>
		 </ul>
		</div>
	  </div>
   </div>
	   <div class="blank6"></div>
	   <div class="lemma_main">
		 <ul>
			<{foreach from=$Dictypes name=Dicttypes item=item1 key=key1}>
			 <li>
			  <a href="dict/list.php?typeid=<{$item1.id}>"><{$item1.name}></a>
				<{if $item1.sub}>
				  <p class="clearfix">
						<{foreach from=$item1.sub name=SubDicttypes item=item2 key=key2}>
							<a href="dict/list.php?typeid=<{$item2.id}>"><{$item2.name}></a>
						<{/foreach}>
				  </p>
				<{/if}>
				<{if !$smarty.foreach.Dicttypes.last}>
				    <hr class="hr_dashed" />
				<{/if}>
			 </li>
			<{/foreach}>
		 </ul>
	   </div>
	  </div>
	  <div class="main_right_w230">
	   <div class="title_bar_s4">
	   <span class="title_top_s4"><span></span></span>
	   <h3><{$_dict_digest}></h3>
	   </div>
	   <div class="dictionary">
		<form name="dict_search_frm" id="dictSearchFrm" action="dict/list.php" method="get">
		<input type="hidden" name="do" value="search" />
		 <p><{$_dict_digest_content}></p>
		 <p><input name="q" id="queryStr" type="text" class="input_w160"/>&nbsp;<input type="submit" value="<{$_search}>" class="btn_submit_w45"/></p>
		</form>
	   </div>
	   <div class="blank6"></div>
		<div class="title_bar_s4">
	   <span class="title_top_s4"><span></span></span>
	   <h3><{$_announce}></h3>
	   </div>
	   <div class="dictionary">
		<ul>
			<{announce row=4 titlelen=15 infolen=35}>
				<li><a href="[link:title]" target="_blank">[field:title]</a></li>
			<{/announce}>
		</ul>
	   </div>
	  </div>
	</div>
</div>
<{include file="`$ThemeName`/footer.html"}>