<div id="footer" class="footer_class">
	<div class="ins"> 
		<{userpage row=15}>
			<a href="[link:title]" title="[field:title]">[field:title]</a><span>|</span>
		<{/userpage}>
		<p><{$site_name}><{$_copyright}>&copy;&nbsp;<{$_service_hotline}><{$service_tel}>&nbsp;<{$_service_email}>:<{mailto text="`$service_email`" address="`$service_email`" encode="javascript"}>&nbsp;<a href="javascript:;" onclick="$('html, body').animate({scrollTop: '0px'}, 300);return false;"><{$_go_top}></a>     </p>
		<p><{$icp_number}></p>
		<p class="footer_im"><{im type="qq" id="`$service_qq`"}><{im type="msn" id="`$service_msn`"}></p>
		<!-- <p>by SCRIPTUX.COM <a href="http://www.scriptux.com" target="_blank">Full Nulled Scripts</a></p> -->
	</div>
</div>
<script src="<{$theme_style_path}>assets/dist/js/bootstrap.bundle.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script type="text/javascript" src="<{$theme_style_path}>assets/dist/js/grouploop-1.0.0.min.js"></script>
<script type="text/javascript" src="<{$theme_style_path}>assets/dist/js/prefixfree-1.0.7.js"></script>

<!-- new style js files -->

<!-- Plugins JS File -->
    <script src="<{$theme_style_path}>assets/js/jquery.min.js"></script>
    <!-- <begin runtime type= trus" -->
    <script src="<{$theme_style_path}>assets/js/bootstrap.bundle.min.js"></script>
    <script src="<{$theme_style_path}>assets/js/jquery.hoverIntent.min.js"></script>
    <script src="<{$theme_style_path}>assets/js/jquery.waypoints.min.js"></script>
    <script src="<{$theme_style_path}>assets/js/superfish.min.js"></script>
    <script src="<{$theme_style_path}>assets/js/owl.carousel.min.js"></script>
    <script src="<{$theme_style_path}>assets/js/bootstrap-input-spinner.js"></script>
    <script src="<{$theme_style_path}>assets/js/jquery.magnific-popup.min.js"></script>
    <script src="<{$theme_style_path}>assets/js/jquery.plugin.min.js"></script>
    <script src="<{$theme_style_path}>assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="<{$theme_style_path}>assets/js/main.js"></script>
    <script src="<{$theme_style_path}>assets/js/demos/demo-14.js"></script>

<!-- ENd of new style js files -->

  <script>
    
    $('#grouploop-3').grouploop({
      velocity: 1,
      forward: false,
      pauseOnHover: true,
      childNode: ".item",
      childWrapper: ".item-wrap"
    });
  </script>

</body>
</html>