/*  
The Name: Default
The URI: http://wtcaccra.com
Description: A B2B Portal {Virtual Trade Portal}
Author: World Trade center Accra Digital Services
Author URI: http://www.wtcdigitalservices.com
Version: 3.0
*/


/*hr----------------------------------------------------*/

.hr_dashed {
	border-bottom: 1px #cccccc dashed;
	border-top: none;
	height: 1px;
	line-height: 1px;
	clear: both;
}

.hr_solid {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	height: 1px;
	line-height: 1px;
	clear: both;
}

.height_1 {
	height: 1px;
	line-height: 1px;
	overflow: hidden;
}

.wrapper .link-underline a {
	text-decoration: underline;
}

a.external {
	background: url("images/external.png") no-repeat scroll right center transparent;
	padding-right: 13px;
}


/*window opener*/

.new_window {
	font-family: webdings;
}


/*main layout*/

.main_left {
	width: 77%;
	float: left
}

.main_left_w720 {
	width: 720px;
	float: left
}

.main_left_w180 {
	width: 180px;
	float: left
}

.main_left_w750 {
	width: 760px;
	float: left
}

.main_left_w220 {
	width: 220px;
	float: left
}

.main_right {
	width: 232px;
	float: right;
}

.main_right_w770 {
	width: 770px;
	float: right
}

.main_right_w230 {
	width: 230px;
	float: right
}

.main_right_w220 {
	width: 220px;
	float: right
}

.main_right_w730 {
	width: 730px;
	float: right
}

.news_all_left_con {
	width: 699px;
	padding: 10px;
}

.all_left {
	width: 720px;
	float: left;
}

.all_right {
	width: 230px;
	float: right;
}

.list_content_width {
	width: 320px;
	margin: 0;
}

.list_offer_content_width {
	width: 330px;
	margin: 0;
}


/*step*/

.step_01,
.step_02,
.step_11,
.step_12 {
	background: url(images/step_num.gif) no-repeat 0 0;
	padding: 0 25px;
}

.step_01 {
	background-position: 0 1px;
}

.step_02 {
	background-position: 0 -79px;
}

.step_11 {
	background-position: 0 -40px;
}

.step_12 {
	background-position: 0 -119px;
}

.step1,
.step2,
.step3 {
	background: url(images/number_bg.gif) no-repeat 0 0;
	height: 19px;
	padding: 0 10px 0 22px;
}

.step2 {
	background-position: 0 -56px;
	height: 19px;
	padding: 0 10px 0 22px;
}

.step3 {
	background-position: 0 -27px;
	height: 19px;
	padding: 0 10px 0 22px;
}


/*Advertise ----------------------------------------------------*/

.adv {
	text-align: center;
}

.adv img {
	margin: 6px 5px 0 2px;
}


/*index----------------------------------------------------*/

.more {
	float: right;
	text-align: right;
	height: 29px;
	line-height: 29px;
	font-weight: normal;
}

.input {
	margin: 3px 0;
}

.title_more {
	float: right;
	text-align: right;
	height: 25px;
	line-height: 22px;
	font-weight: normal;
}

.notebox {
	width: 232px;
}

.notecont {
	width: 216px;
	padding: 12px 7px 5px 7px;
	padding-bottom: 5px;
}

.notecont img {
	width: 71px;
	float: left;
}

.note_bar {
	height: 70px;
	clear: both
}

.note_bar dl {
	float: left;
	width: 120px;
	margin-left: 10px;
	height: 70px;
	display: block;
	overflow: hidden
}

.note_title {
	clear: both;
	margin-top: 6px;
}

.note_title li {
	float: left;
	width: 90px;
	height: 22px;
	line-height: 22px;
	padding-left: 15px;
	background: url(images/listbg.jpg) no-repeat 5px 10px;
	overflow: hidden;
	display: block
}

.hot_list li {
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.hot_list li h3 {
	height: 21px;
	overflow: hidden;
	background-color: #FFFFFF;
}

.hot_list li p {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 0 0 0 5px;
}

.hotcont {
	width: 216px;
	padding: 12px 7px 5px 7px;
	padding-bottom: 5px;
}

.hotcont a img {
	width: 71px;
	height: 70px;
	border: 1px solid #CFCFCF;
}

.hot_bar {
	height: 70px;
	clear: both
}

.hot_bar dl {
	float: left;
	width: 120px;
	margin-left: 10px;
	height: 70px;
	display: block;
	overflow: hidden
}

.hotcont textarea {
	width: 210px;
	height: 48px;
	margin: 0 0 10px 0
}

.hotcont_list {
	clear: both;
	padding: 8px 0 0 0
}

.hotcont_list li {
	height: 21px;
	line-height: 21px;
	background: url(images/listbg.jpg) no-repeat 0px 8px;
	padding: 0 0 0 10px;
	display: block;
	overflow: hidden
}

.hotcont_service {
	width: 216px;
	padding: 10px 7px 10px 7px;
}

.hotcont_service li {
	float: left;
	width: 200px;
	height: 18px;
	padding-left: 10px;
	background: url(images/listbg.jpg) no-repeat 0px 5px;
	display: inline;
	overflow: hidden;
	line-height: 18px;
}

.hotcont_service textarea {
	width: 210px;
	height: 48px;
	margin: 5px 0 10px 0
}

.latest {
	width: 475px;
}

.latest02 {
	width: 473px;
	padding: 0 0 0 1px;
	display: inline
}

.latestbox {
	height: 31px;
	background: url(images/latestbg.jpg);
}

.latestbox li {
	float: left;
}

.lasestsend {
	background: url(images/send.jpg) no-repeat left 3px;
	padding-left: 15px;
	margin-top: 5px;
}

.law_list {
	padding: 0 10px 10px 10px;
}

.law_list li {
	height: 22px;
	line-height: 22px;
	overflow: hidden;
}

.law_list li h3 {
	font-size: 12px;
	background-color: #FFFFFF
}

.lasestcontbox {
	height: 254px;
	overflow: hidden;
	padding-top: 10px;
}

.law {
	height: 254px;
	overflow: hidden;
	padding-top: 10px;
	width: 230px;
}

.vipcont {
	width: 216px;
	padding: 7px 7px 0px 7px;
	height: 260px;
	overflow: hidden;
}

.typecont {
	float: left;
	width: 715px;
}

.lasestcontboxh {
	height: 95px;
	padding: 0 0 0 15px;
	clear: both;
	overflow: hidden
}

.lasestcontboxh li {
	float: left;
	width: 72px;
	text-align: center;
	margin: 0 18px 0 0;
	display: block;
	overflow: hidden;
	_display: inline;
}

.lasestcontboxh p {
	height: 20px;
	line-height: 20px;
	width: 72px;
	overflow: hidden;
	text-align: center;
}

.lasestcontboxh li img {
	border: 1px solid #ccc;
	width: 70px;
	height: 70px;
}

.lasestcontboxb {
	clear: both
}

.lasestcontboxb li {
	float: left;
	width: 216px;
	height: 20px;
	overflow: hidden;
	padding-left: 15px;
	line-height: 20px;
	margin: 2px 0 0 0
}

.lasestcontboxh02 li {
	float: left;
	width: 92px;
	text-align: center;
	margin: 0 0 0 20px;
	display: block;
	overflow: hidden;
}

.lasestcontboxh02 li img {
	border: 1px solid #ccc;
	width: 90px;
	height: 65px;
}

.lasestcontboxh02 li p {
	width: 92px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.vipcont li {
	width: 200px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
}


/*index_btn_bg*/

.freeregc {
	padding: 0 0 0 12px;
}

.freetit {
	width: 96px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 13px;
	margin-right: 12px;
	margin-top: 10px;
}

.btn_free {
	display: inline-block;
	height: 39px;
	width: 205px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 0 0 0;
	*height: 37px;
	*padding: 8px 0 0 0;
}

.btn_cont {
	width: 60px;
	height: 22px;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
	cursor: pointer;
	line-height: 22px;
	margin: 10px 0 0 0;
}

.latestbox li a {
	width: 99px;
	height: 30px;
	margin-right: 1px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 31px;
	display: block;
	overflow: hidden
}

.latestbox li.lasestcur a {
	width: 101px;
	height: 31px;
	margin-right: 1px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 31px;
	display: block;
	overflow: hidden
}


/*Industrial Classification index----------------------------------------------------*/

.type {
	float: left;
	width: 717px;
}

.typebox,
.typeboxbottom {
	width: 705px;
	padding: 5px;
	position: relative
}

.typeboxbottom {
	border-bottom: none;
}

.line_w605 {
	border-bottom: 1px dashed #ccc;
	clear: both;
	width: 605px;
	height: 5px;
	_height: 5px;
	_line-height: 0px;
}

.typecont .line {
	border-bottom: 1px dashed #ccc;
	clear: both;
	height: 2px;
	_height: 2px;
	_line-height: 0px;
	margin: 0 7px;
}

.typebox table {
	width: 100%
}

.typebox ul li,
.typeboxbottom ul li {
	float: left;
	width: 40%;
	margin-left: 10px;
	line-height: 22px;
	display: block;
	overflow: hidden
}

.typebox ul li a {
	display: inline-block;
}

.typebox ul li span,
.typeboxbottom ul li span {
	margin: 0px 2px;
	display: inline-block;
}


/*Branding index----------------------------------------------------*/

.brandcont {
	padding: 12px 0px 5px 9px;
}

.brandcont li {
	float: left;
	width: 108px;
	text-align: center;
}

.brandcont li p {
	height: 24px;
	line-height: 22px;
	width: 100px;
	overflow: hidden
}

.brandcont img {
	border: 1px solid #CFCFCF;
	width: 100px;
	height: 50px;
	display: block;
}

.faqtit a:link {
	float: right;
	margin-top: 5px;
	font-weight: normal
}

.news li {
	float: left;
	width: 82px;
	text-align: center;
	margin: 10px 0 0 19px;
	display: inline;
	overflow: hidden;
}

.news p {
	width: 80px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.news li a img {
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

.newscontrol {
	float: right;
	width: 8px;
	padding-top: 80px;
}

.newscontrol img {
	margin-top: 20px;
	cursor: pointer;
}

.newscar {
	width: 232px;
}

#newscarcont {
	width: 216px;
	padding: 0px 7px 0px 7px;
	padding-bottom: 6px;
}

#newscarcont a img {
	width: 71px;
	height: 70px;
	border: 1px solid #CFCFCF;
}

#newscarcont dl {
	float: left;
	width: 120px;
	margin: 0 0 3px 10px;
}

#newscarcont li {
	margin-top: 3px;
	width: 200px;
	height: 18px;
	line-height: 18px;
	padding-left: 10px;
	background: url(images/listbg.jpg) no-repeat 0px 5px;
	overflow: hidden;
}

.newscarcontboxb li {
	float: left;
	width: 205px;
	height: 22px;
	line-height: 22px;
	padding-left: 20px;
	background: url(images/listbg.jpg) no-repeat 10px 10px;
	overflow: hidden;
	display: block
}

.hotztbox {
	border: 1px solid #666;
	padding: 1px;
	padding-bottom: 11px;
	text-align: center
}

.hotztbox .title {
	height: 30px;
	background: url(images/sub_title_bg.gif) repeat-x 0 -90px;
}

.hotztbox a img {
	border: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
}

.pardent {
	border: 1px solid #ccc;
	padding-bottom: 10px;
}

.pardentbox {
	padding-left: 10px;
	width: 943px;
	margin-top: 10px;
}

.friend_link_content a {
	display: inline-block;
}

.friend_link_content span {
	padding: 0 5px;
	display: inline-block
}

.hotztbox h2 {
	height: 19px;
	padding: 5px 10px 2px 10px;
	margin-bottom: 10px;
	text-align: left
}

.hotztbox li {
	width: 205px;
	margin: 0 auto;
	overflow: hidden
}

.hotztbox li a img {
	width: 205px;
	height: 50px;
	display: block;
}

.hotztbox li div {
	height: 20px;
	overflow: hidden;
}

.bottomc {
	height: 298px;
}

.hotzt {
	width: 232px;
}


/*帮助列表页----------------------------------------------------*/

.contentbox {
	padding: 6px 0;
}

.breadnav img {
	margin-right: 10px;
}

.help_l {
	width: 232px;
	overflow: hidden;
}

.help_ltop {
	height: 9px;
	background: #DBF1FD;
}

.help_lcont {
	background: #DBF1FD;
	padding-top: 10px;
}

.help_telcont {
	height: 59px;
	padding-left: 15px;
	padding-top: 5px;
}

.help_telcont p {
	text-align: right;
	width: 180px;
	height: 30px;
	line-height: 30px;
}

.help_lcontnavs {
	height: 44px;
	line-height: 44px;
	text-align: right;
	padding-right: 15px;
}

.help_r {
	width: 720px;
}

.help_tel {
	height: 64px;
	background: url(images/help_tel.gif) center 0 no-repeat;
}

.help_telcont {
	background: url(images/tel.gif) no-repeat 30px 25px;
}

.help_rsearch {
	height: 28px;
	padding: 15px 20px 35px 25px;
}

.help_rsearch input {
	padding: 2px;
	margin-right: 10px;
}

.search_en {
	font: 14px arial, sans-serif;
	vertical-align: top;
}

.foot_contact {
	height: 25px;
	line-height: 25px;
	padding: 15px 20px 35px 25px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.help_rgo {
	width: 26px;
	height: 26px;
	background: url(images/go.jpg);
	border: none;
	cursor: pointer;
	margin-left: 20px;
}

.help_rbg {
	min-height: 400px;
	padding: 0 20px 15px 25px;
	width: 650px;
	_height: 400px
}


/* self-defin----------------------------------------------------*/

.self_def_title {
	text-align: center;
	font: 14px bold;
}

.self_def_con {
	padding: 0px 20px;
	text-indent: 3em;
}

.help_l {
	width: 232px;
	overflow: hidden;
}

.help_r {
	background: url(images/help_rcontbg.jpg) no-repeat 450px bottom;
}

.self_def_nav {
	height: 44px;
	line-height: 44px;
	text-align: right;
	padding-right: 15px;
}

.tips img {
	margin-right: 5px;
}

.quhuimima {
	margin-bottom: 50px;
}

.messagecon img,
.messageconleft,
.messageconright {
	float: left;
}

.messageconleft {
	padding: 20px 0 0 50px;
}

.messagecon_list {
	border: 0;
}

.messagecon_list th {
	font-weight: bold;
	text-align: right;
	padding: 5px;
}

.remessagecon p {
	font-style: italic;
}

.messagecon img {
	margin-left: 90px;
}

.messageconright {
	padding: 30px 0 0 100px;
}

.quhuimimabutton {
	background: url(images/quhuimima_17.jpg) no-repeat;
	width: 121px;
	height: 22px;
	border: none;
	margin: 10px 0 0 120px;
}

.clear_float {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}


/*job----------------------------------------------------*/

.job_type {
	width: 281px;
}

.job_type h2 {
	height: 28px;
	overflow: hidden;
}

.job_type .hot_title b {
	font-size: 14px;
}

.job_type_c {
	min-height: 570px;
	_height: 570px;
	width: 279px;
	height: auto;
}

.job_type_c h3 p,
.co_type_c h3 p,
.co_assort h3 p {
	padding-left: 12px;
	background: url(images/add_info08.gif) 0 9px no-repeat;
	*background: url(images/add_info08.gif) 0 7px no-repeat;
	width: 35px;
	height: 26px;
}

.job_type_c ul {
	width: 281px;
}

.job_type_c div {
	text-align: left;
	padding: 7px 4px 7px 7px;
	line-height: 18px;
}

.job_type_c div em {
	margin: 0 5px;
}

.job_ss h2 {
	font-size: 14px;
	padding: 4px 0 6px 13px;
}

.job_ss table {
	margin: 0 auto;
}

.job_ss table td {
	padding: 5px 0;
}

.job_ss select {
	height: 20px;
	margin-right: 5px;
}

.job_ss .job_gjz {
	width: 120px;
	margin-right: 5px;
}

.job_ss .job_but {
	width: 39px;
	height: 20px;
	border: 0;
	background: url(images/qiugoupage_11.jpg) no-repeat;
	cursor: pointer;
}

.job_reg {
	width: 231px;
}

.job_reg_c {
	width: 229px;
}

.job_reg_c p {
	width: 96px;
	height: 32px;
	line-height: 32px;
	margin: 8px 0 0 12px;
	display: inline;
	text-align: center
}

.job_reg_c a {
	font-size: 13px;
}

.job_reg_c em {
	text-align: center;
	display: block;
	overflow: hidden;
}

.job_reg_c .reg {
	clear: both;
	padding: 15px 0 0 12px;
	_text-align: center;
}

.job_reg_c .reg span a {
	text-align: center;
}

.job_area h2 {
	font-size: 14px;
	background: url(images/lhighs.gif) 10px 12px no-repeat;
	padding: 6px 0 0 19px;
}

.job_area div {
	padding: 10px 15px;
	line-height: 20px;
}

.job_area div a {
	margin-right: 9px;
}

.job_new {
	width: 671px;
	margin: 6px 0 0 8px;
}

.job_new_tt {
	height: 31px;
	background: url(images/job_new_1px.gif) repeat-x;
}

.job_new_tt h2 {
	width: 99px;
	height: 31px;
	background: url(images/job_new_tt.gif) no-repeat;
	margin-right: 1px;
	text-align: center;
	line-height: 31px;
	font-size: 14px;
	cursor: pointer;
}

.job_new_tt p {
	width: 35px;
	padding: 5px 0 0 12px;
	background: url(images/add_info08.gif) 0 9px no-repeat;
}

.job_new_c {
	width: 669px;
	padding: 10px 0;
}

.job_new_c ul {
	width: 669px;
}

.job_new_c ul li {
	float: left;
	display: inline;
	width: 320px;
	padding-left: 10px;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
}

.job_new_c ul li p {
	width: 105px;
}

.job_new_c ul li em {
	width: 190px;
}

.job_list_left .price h3 span img {
	margin-top: 6px;
	*margin-top: 4px;
	margin-left: 3px;
	margin-right: 12px;
}

.job_area {
	width: 669px;
	background: url(images/map.gif) right repeat-y;
	margin: 6px 0 0 8px;
}


/*job list----------------------------------------------------*/

.job_list_left {
	width: 721px;
}

.job_list_left .price {
	height: 34px;
	overflow: hidden;
}

.job_list_left .price span {
	font-size: 13px;
	font-weight: bold;
}

.job_list_left .price .pricecon {
	width: 707px;
}

.job_list_c ul li {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}

.job_list_c ul li:hover {
	background-color: #eff4fa
}

.job_list_c ul li h3 {
	width: 185px;
	padding-left: 10px;
}

.job_list_c ul li em {
	width: 185px;
	padding-left: 10px;
	text-align: left;
}

.job_list_c ul li p {
	width: 135px;
	padding-left: 10px;
	text-align: center;
}

.job_list_c ul li.title {
	background: #ececec;
	padding: 3px 0
}

.job_list_c ul li.title h3,
.job_list_c ul li.title em,
.job_list_c ul li.title p {
	font-weight: bold;
}

.job_list_c ul li.title h3 span,
.job_list_c ul li.title em span {
	margin-left: 5px;
}

.job_list_c ul li.odd {
	background: url(images/job_l_li_bg1.gif) 0 0 no-repeat;
}

.job_list_c ul li.even {
	background: url(images/job_l_li_bg2.gif) 0 0 no-repeat;
}

.job_good {
	width: 230px;
}

.job_good .price span {
	font-size: 13px;
	font-weight: bold;
}

.job_good .price .pricecon {
	width: 216px;
}

.job_good .price h3 span img {
	margin-top: 6px;
	*margin-top: 4px;
	margin-left: 3px;
}

.job_good_c ul li {
	width: 205px;
	height: 18px;
	line-height: 18px;
	padding-left: 10px;
	overflow: hidden;
}


/*market list----------------------------------------------------*/

.market_list {
	width: 720px;
}

.market_list .price {
	height: 35px;
}

.market_list .price span {
	font-size: 13px;
}

.market_list .price .pricecon {
	width: 702px;
	text-align: right;
	padding-right: 5px;
}

.market_list .price .pricecon img {
	float: none;
}

.market_list .price h3 span img {
	margin-top: 6px;
	*margin-top: 4px;
	margin-left: 3px;
}

.market_list_c ul {
	padding: 10px 5px;
}

.market_list_c ul li img {
	width: 80px;
	border: 1px #ccc solid;
	margin: 7px 0 10px 10px;
	*margin: 7px 0 5px 10px;
	display: inline
}

.market_list_c ul li h2 {
	margin-top: 5px;
	font-size: 13px;
	margin-left: 10px;
}

.market_list_c ul li p {
	margin-left: 10px;
	line-height: 20px;
	overflow: hidden;
	margin-top: 5px;
}

.market_list_c .price {
	margin-top: -1px;
	*margin-top: -4px;
}

.market_list_c .price .pricecon {
	height: 27px;
	width: 710px;
	background: url(images/price_05.jpg) bottom repeat-x;
}

.market_add {
	height: 78px;
	margin: 6px 0 0 0;
	padding: 5px 10px;
}

.market_add p {
	width: 121px;
	height: 22px;
	margin: 10px auto 0;
	background: url(images/quhuimima_17.jpg) no-repeat;
	text-align: center;
	line-height: 22px;
	font-weight: bold;
}

.market_list_right {
	width: 230px;
	float: right;
}


/*tips----------------------------------------------------*/

.tips span {
	color: #000;
	background: url(images/square_bg.gif) no-repeat 6px -16px;
	padding: 0 0 0 18px;
	height: 30px;
	line-height: 30px;
}

.tips span em {
	color: #999
}

.tips span a {
	color: #999
}

.tips_title {
	color: #000;
	background: url(images/square_bg.gif) no-repeat 6px -16px;
	padding: 0 0 0 18px;
	height: 30px;
	line-height: 30px;
}

.tips span.save {
	color: #ff9513;
	font-weight: bold;
	margin-left: 300px;
}


/*exhibition list----------------------------------------------------*/

.exhibition_c .companylistconhead span {
	font-size: 13px;
}

.exhibition_c .companylistconhead span.span2 {
	margin-left: 580px;
}

.exhibition_c .companylistcontent .fair_date {
	width: 150px;
	float: right;
}

.exhibition_c .ex_info {
	height: 60px;
	line-height: 20px;
	overflow: hidden;
	text-indent: 24px;
}

.exhibition_c .companylistcontent div p span.span5 {
	font-size: 13px;
}

.ex_choose p {
	padding: 7px 10px;
	line-height: 17px;
}

.ex_choose p a.more {
	margin-left: 20px;
}


/*company_list----------------------------------------------------*/

.company_list_left {
	width: 232px;
}

.company_list_left .hot_title strong,
.company_list_right .hot_title strong {
	font-size: 14px;
	padding-top: 5px;
	background: url(images/hot_titlebg.jpg) no-repeat left 10px;
}

.co_store_c {
	width: 220px;
	height: auto;
	padding: 7px 5px;
}

.co_type_c {
	width: 718px;
	height: auto;
}

.co_store_c .hotline {
	font-weight: bold;
	text-align: center;
	width: 208px;
}

.co_store_c em {
	font-weight: bold;
}

.co_store_c span {
	font-weight: bold;
	margin-left: 30px;
	font-size: 13px;
}

.co_store_c p {
	width: 118px;
	height: 22px;
	margin: 10px auto;
	line-height: 22px;
}

.co_store_c p a {
	font-size: 13px;
	text-align: center
}

.co_good {
	margin-top: 6px;
}

.co_store_c ul {
	width: 220px;
}

.co_store_c ul li {
	width: 210px;
	height: 18px;
	line-height: 18px;
	padding-left: 10px;
	overflow: hidden;
}

.co_store_c ul li a {
	margin-right: 5px;
}

.area_subsite ul li {
	width: 40%;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	float: left
}

.company_list_ad {
	margin: 6px 0;
}

.company_list_right {
	width: 722px;
}

.company_list_focus {
	width: 410px;
	height: 190px;
	overflow: hidden;
	margin-left: 3px;
	display: inline;
}

.co_add {
	width: 300px;
	margin-left: 9px;
	display: inline;
}

.co_add .co_store_c {
	width: 288px;
	height: 146px;
}

.co_add table {
	margin: 0 auto;
}

.co_add table td {
	padding: 5px 0;
}

.co_add_in {
	width: 140px;
	height: 18px;
}

.co_login_but {
	width: 49px;
	height: 49px;
	border: 0;
	cursor: pointer;
	font-size: 13px;
}

.co_store_c p.co_tg,
.co_store_c p.co_fb {
	width: 91px;
	height: 25px;
	margin: 0 7px 0 0;
	display: block;
	overflow: hidden;
}

.co_store_c p.co_reg {
	width: 202px;
	height: 25px;
	no-repeat;
	margin: 0;
}

.co_type {
	width: 720px;
	margin: 6px 0 0 2px;
}

.co_type_c li {
	width: 48%;
	margin: 5px 0 5px 10px;
	display: inline;
	overflow: hidden;
	float: left
}

.co_type_c li a.co_type_f {
	font-weight: bold;
	margin-right: 8px;
	font-size: 13px;
}

.co_type_c li em,
.co_assort_c div em {
	margin: 0 2px;
}

.co_assort {
	width: 620px;
}

.co_assort h2 {
	height: 28px;
	overflow: hidden;
}

.co_assort .hot_title b {
	font-size: 14px;
}

.co_assort_c div {
	width: 280px;
	padding: 5px 0 5px 5px;
	display: inline;
	overflow: hidden;
}

.co_assort_c div a.co_type_f {
	font-weight: bold;
	margin-right: 8px;
	font-size: 13px;
}


/*offer page----------------------------------------------------*/

.code {
	float: right;
}

.kinds {
	width: 1060px;
	padding: 8px;
	margin-bottom: 6px;
}

.kinds p {
	line-height: 19px;
}

.kinds p.group {
	line-height: 18px;
}

.kinds a {
	margin: 0 5px;
}

.kinds a.moju {
	margin-left: 83px;
}

.kinds p.group2 span,
.kinds p.group2 label {
	float: left;
}

.kinds label {
	margin-top: 3px;
	margin-right: 15px;
}

.qiugoucontentleft {
	width: 882px;
	float: left;
	overflow: hidden
}

.qiugoucontent {
	margin: 6px 0 20px 0;
	height: auto;
}

.qiugoulefttop ul {
	list-style-type: none;
	float: left;
	margin-left: 30px;
	margin-top: 3px;
}

.qiugoulefttop ul li {
	float: left;
	padding-left: 25px;
	height: 25px;
	line-height: 25px;
	width: 65px;
}

.qiugoulefttop ul li.play1 {
	background: url(images/qiugoupage_24.jpg) no-repeat left center;
}

.qiugoulefttop ul li.play2 {
	background: url(images/qiugoupage_26.jpg) no-repeat left center;
}

.qiugoulefttop ul li.play3 {
	background: url(images/qiugoupage_28.jpg) no-repeat left center;
}

.qiugouleftcon table {
	border: 0;
	width: 100%;
	padding: 0 1px;
}

.qiugouleftcon th {
	font-weight: bold;
	padding: 10px;
}

.qiugouleftcon td {
	border-bottom: 1px dashed #ccc;
	padding: 10px;
}

.qiugouleftcon .offer_img {
	width: 80px;
	text-align: center;
}

.qiugouleftcon .offer_info {
	text-align: left;
}

.qiugouleftcon .offer_area {
	text-align: center;
}

.qiugouleftcon .offer_level {
	width: 60px;
	text-align: center;
}

.qiugouleftcon .offer_contact {
	width: 80px;
	text-align: left
}

.offer_contact a span {
	cursor: pointer
}

.qiugouleftcon .offer_img img {
	width: 80px;
	height: 80px;
	display: block;
	overflow: hidden;
	margin-left: 5px;
}

.qiugouleftcon .offer_info p {
	line-height: 20px;
}

.qiugouleftcon .offer_info .blue {
	font-size: 14px;
	font-weight: bold;
}

.qiugouleftcontop {
	height: 31px;
	font-weight: bold;
	padding: 5px 10px;
}

.qiugouleftcontop label {
	margin-right: 10px;
}

.checkbox {
	width: 20px;
	overflow: hidden;
}

.qiugousubmit {
	width: 80px;
}

.qiugouleftcontop label {
	float: left;
}

.qiugouleftcontop ul {
	width: 600px;
	float: right
}

.qiugouleftcontop ul li {
	float: left;
	font-weight: bold;
	width: 110px;
	text-align: center;
	height: 22px;
	line-height: 22px
}

.qiugouleftcontop ul li.gongqiucompany {
	width: 240px;
	text-align: left;
	height: 22px;
	line-height: 22px
}

.detailcon,
.detailcon2 {
	border-bottom: 1px dotted #ccc;
	padding: 10px 0 10px 10px;
	text-align: center;
}

.detailcon2 {
	border: none;
}

.detailcon ul,
.detailcon2 ul {
	float: left;
	width: 600px;
}

.detailcon ul.images,
.detailcon2 ul.images {
	width: 130px;
}

.detailcon ul.images li.label,
.detailcon2 ul.images li.label {
	padding-top: 40px;
	margin-right: 10px;
}

.detailcon ul li,
.detailcon2 ul li {
	float: left;
}

.detailcon ul.paragraphs li,
.detailcon2 ul.paragraphs li {
	width: 100px;
	margin-left: 10px;
	text-align: left;
}

.detailcon ul.paragraphs li.paragraph,
.detailcon2 ul.paragraphs li.paragraph {
	width: 230px;
}

.detailcon ul.paragraphs li.paragraph span.blue,
.detailcon2 ul.paragraphs li.paragraph span.blue {
	font-weight: bold;
	font-size: 14px;
	margin-right: 4px;
}

.detailcon ul.paragraphs li.paragraph2,
.detailcon2 ul.paragraphs li.paragraph2 {
	width: 100px;
	text-align: center;
}

.detailcon ul.paragraphs li.paragraph2 .one,
.detailcon2 ul.paragraphs li.paragraph2 .one {
	background: url(images/qiugoupage_50.jpg) no-repeat left center;
	padding-left: 20px;
}

.detailcon2 ul.paragraphs li.paragraph2 .two,
.detailcon ul.paragraphs li.paragraph2 .two {
	background: url(images/qiugoupage_53.jpg) no-repeat left center;
	padding-left: 20px;
}

.links {
	height: 25px;
	border-top: 1px solid #666;
	background: #dcdcdc;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 250px;
	overflow: hidden;
	width: 508px;
	display: block
}

.links ul {
	list-style-type: none;
	text-align: left;
	height: 25px;
}

.links ul li {
	float: left;
	margin-right: 75px;
	display: block;
	overflow: hidden;
}

.links ul li.contactus {
	margin-right: 20px;
}

.qiugoucontentright {
	width: 190px;
	float: right;
}

.keyadv {
	height: 24px;
	border: 1px solid #ccc;
	background: #f0f0f0 url(images/lhighs.gif) no-repeat 8px center;
	padding: 6px 0 0 18px;
	margin-bottom: 6px;
}

.buymessagetop,
.recommendcompanytop {
	height: 24px;
	padding: 5px 0 5px 8px;
	overflow: hidden;
	font-weight: bold;
	_height: 21px;
	_padding: 8px 0 0 8px;
}

.buymessagetop img,
.recommendcompanytop img {
	margin-right: 5px;
}

.buymessage ul,
.recommendcompany ul {
	list-style-type: none;
	padding: 6px 0 0 10px;
	height: 100px;
}

.recommendcompany ul {
	height: 50px;
}

.buymessage ul li {
	float: left;
	width: 80px;
	height: 18px;
	line-height: 18px;
}

.recommendcompany p {
	padding: 0 0 2px 10px;
	height: 20px;
	overflow: hidden
}

.recommendcompany ul {
	list-style-type: none;
}

.recommendcompany ul li {
	width: 80px;
	float: left;
}

.offer_list_top3_c {
	padding: 16px 0px 10px 11px;
}

.offer_list_top1_news ul {
	width: 328px;
	height: 213px;
	padding: 1px 0px 2px 0;
}


/*takenumberpage----------------------------------------------------*/

.takenumber {
	widht: 758px;
	height: 100px;
	margin-bottom: 20px;
	padding-top: 10px;
}

.takenumber img,
.takenumber p {
	float: left;
}

.takenumber img {
	margin-left: 200px;
	display: inline;
}


/*detailpage----------------------------------------------------*/

.detailtop {
	margin-top: 6px;
}

.left1 {
	width: 140px;
	text-align: center;
}

.left1 img {
	max-width: 140px;
	max-height: 125px;
}


/* for Firefox & IE7 */

* html .left1 img {
	/* for IE6 */
	width: expression(this.width > 140 && this.width > this.height ? 140: true);
	height: expression(this.height > 125 ? 125: true);
}

.detailtopcon h3 {
	height: 28px;
	color: #000;
	font-size: 14px;
	text-align: center;
	padding-top: 3px;
}

.detailtopconleft,
.detailtopconleft2 {
	float: left;
}

.detailtopconleft2 {
	margin: 8px 0px 0 10px;
	display: block;
	overflow: hidden
}

.detailtopconleft2 p {
	line-height: 22px;
	width: 380px;
}

.detailtopconleft2 form {
	margin-top: 10px;
}

.detailtopconleft {
	margin: 4px 0 0 10px;
	display: block;
	overflow: hidden;
	_width: 130px;
}

.detailtopconleft p.left2 img {
	vertical-align: middle;
}

.detailtopconleft p.left2 {
	height: 30px;
	line-height: 30px;
	margin: 5px 0 0 26px;
}

.detailtopconleft p.left2 span {
	margin: 0 0 0 5px;
}

.detailtopconright {
	padding: 8px 10px 0 20px;
	float: right;
	background: url(images/detail_10.jpg) no-repeat;
	height: 175px;
	width: 350px;
	display: inline;
	overflow: hidden
}

.detailtopconright p {
	line-height: 30px;
}

.detailtopconright p img {
	vertical-align: middle
}

.detailtop3 {
	margin: 0 0 20px 0;
}

.detailtop3left {
	width: 598px;
	height: auto;
	float: left;
}

.detailtop3left h3 {
	width: 588px;
	height: 25px;
	padding-top: 5px;
	_height: 22px;
	_padding-top: 8px;
	font-size: 14px;
	padding-left: 10px;
}

.detailtop3left h3 img {
	margin-right: 8px;
}

.detailtop3leftcon {
	padding: 10px;
}

.detailtop3leftcon tr,
.detailtop3leftcon td {
	border: 1px solid #ccc;
}

.tableblue {
	width: 66px;
	background: #d6effa;
	text-align: center;
}

.lightblue {
	background: #f5fafc;
}

.detailtop3leftcon p {
	margin-top: 10px;
}

.detailtop3right {
	width: 350px;
	height: auto;
	margin-left: 10px;
	float: left;
}

.contacttype {
	width: 348px;
	margin-bottom: 6px;
}

.contacttype h3 {
	width: 338px;
	height: 24px;
	padding: 5px 0 0 10px;
	_height: 21px;
	_padding: 8px 0 0 10px;
}

.contacttype h3 img {
	margin-right: 8px;
}

.contacttype p {
	padding: 10px 0 10px 10px;
}

.contacttype ul {
	list-style-type: none;
	width: 328px;
	padding: 10px;
}

.contacttype ul li {
	height: 20px;
}

.contacttype ul li .title {
	width: 270px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	display: block;
	float: left
}

.contacttype ul li .type {
	width: 35px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	display: block;
	float: right
}


/*askprice----------------------------------------------------*/

.price_step1 {
	float: right;
	width: 700px;
	height: 23px;
	line-height: 25px;
	background: url(images/reg_step1.gif) no-repeat 0 6px;
	text-indent: 22px;
	font-weight: normal
}

.price_step1 span {
	padding: 0 57px 0 0;
	overflow: hidden
}

.price h3 span img {
	margin-top: 3px;
	float: left;
}

.pricepic {
	margin-right: 8px;
}

.pricecontent p {
	font-weight: bold;
	border-bottom: 1px dashed #999;
}

.content1 img,
.content1 p {
	float: left;
}

.content1,
.content2,
.content3 {
	padding: 10px 0 10px 20px;
}

.content3 {
	padding-bottom: 0px;
}

.content1 p {
	border: none;
	font-weight: normal;
	margin-left: 20px;
}

.content2 label {
	font-weight: bold;
	width: 200px;
	float: left;
}

.content2 label.title {
	width: 120px;
	text-align: right;
	margin-right: 10px;
	padding: 5px 0
}

.content2 label.priceselect {
	width: 60px;
	font-weight: normal;
}

.content2 label.text,
.textaera,
.textaera2 {
	width: 500px;
	padding: 5px 0
}

.textaera2 {
	height: 100px;
}

.content2 label.priceselect2 {
	width: 120px;
	font-weight: normal;
}

.content3 {
	font-weight: bold;
}

.content3 label {
	float: left;
}

.content3 label.name {
	width: 120px;
	text-align: right;
	margin: 5px 0
}

.priceright {
	width: 60px;
}

.content3 input {
	margin: 5px 0
}

.enquiry {
	margin: 0 0 0 70px;
	display: block;
	overflow: hidden;
	_display: inline;
}

.content3 img {
	margin-left: 3px;
}

.pricebutton {
	background: url(images/gongqiu04.jpg) no-repeat;
	width: 67px;
	height: 22px;
	border: none;
	margin: 10px 0 0 120px;
}


/*genrenheqiyezhuce----------------------------------------------------*/

.registercon p {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 3px;
}

.registercon label {
	float: left;
	width: 150px;
}

.registerp2 label {
	width: 180px;
	float: none;
	padding: 5px 0 0 3px;
}

.registercon label.registerlabel {
	font-weight: bold;
	text-align: right;
}

.registercon label.lenglabel {
	width: 600px;
	margin: 5px 0;
	margin-left: 140px;
}

.registercon span.registercheck {
	width: 200px;
	float: left;
}

.registercon span.registercheck .registerpic {
	float: left;
}

.registercon span.registercheck p {
	float: left;
	border: none;
	margin-left: 10px;
}

.registercon span.registercheck p .registerpic2 {
	margin-top: 3px;
}

.registercon label.checkinput {
	margin: 10px 0 0 140px;
}

.registercon .registerp1,
.registercon .registerp2 {
	border: none;
	font-weight: normal;
	font-size: 12px;
	margin-left: 140px;
}

.registerbutton {
	width: 171px;
	height: 22px;
	border: none;
	position: relative;
	padding: 0 0 0 140px;
}


/*loadingpage----------------------------------------------------*/

.loading img {
	margin-right: 5px;
}

.loadingcon {
	height: 330px;
	margin: 10px 0;
}

.loadingconright {
	width: 578px;
	margin-left: 10px;
	height: 308px;
	padding: 10px;
}

.loadingconleft,
.loadingconright {
	float: left;
	border: 1px solid #ccc;
}

.loadingconleft {
	width: 328px;
	height: 308px;
	padding: 10px;
}

.loadingconleft label {
	float: left;
	width: 220px;
	margin: 5px 0;
	display: block;
	overflow: hidden
}

.loadingconleft label.loadingname {
	width: 80px;
	text-align: right;
	font-weight: bold;
}

.loadingcheck input {
	width: 60px;
	margin-right: 3px;
	margin-bottom: 3px;
}

.loadingcheck input,
.loadingcheck img {
	float: left;
}

.login {
	height: 22px;
	padding: 10px 40px 10px 10px;
	text-align: center;
	display: block;
	overflow: hidden;
}

.loadingconleft label.loadinglabel,
.loadingconleft label.loadinglabel1 {
	width: 80px;
	margin-bottom: 30px;
}

.loadingconleft label.loadinglabel1 {
	margin-left: 80px;
}

.loadingconright ul {
	list-style-type: none;
	padding: 20px 0 0 8px;
	height: 200px;
}

.loadingconright ul li {
	float: left;
	width: 190px;
	height: 90px;
}

.loadingconright ul li img {
	float: left;
	margin-right: 5px;
}

.member_reg {
	height: 30px;
	text-align: center;
}


/*companylistpage----------------------------------------------------*/

.filter {
	line-height: 22px;
	border: 1px solid #ccc;
}

.filter form {
	padding: 5px 0
}

.filter a {
	padding: 0 5px;
}

.company_list_search {
	width: 100%;
	border: 0;
}

.company_list_search th {
	height: 36px;
	font-weight: bold;
}

.company_list_search td {
	text-align: center;
	padding: 5px;
}

.companylisttop {
	width: 948px;
	height: 23px;
	border: 1px solid #ccc;
	margin-bottom: 6px;
	padding: 5px 0 0 10px;
}

.company_list_search .company_info {
	text-align: left;
	width: 430px;
	margin: 0
}

.companylisttop a {
	margin: 0 10px;
}

.companylisttop img,
.companylisttop2 img {
	margin-right: 5px;
}

.companylisttop2 {
	width: 948px;
	height: 28px;
	border: 1px solid #ccc;
	padding: 10px 0 0 10px;
	margin-bottom: 6px;
}

.companylisttop2 form {
	width: 600px;
	float: left;
}

.companylisttop2 img,
.companylisttop2 span {
	float: left;
}

.companylisttop2 span {
	margin-right: 40px;
}

.companylisttop2 label {
	margin: 0 5px;
}

.companylisttop2 img {
	margin-top: 5px;
}

.companylistbutton {
	background: url(images/qiugoupage_11.jpg) no-repeat;
	width: 39px;
	height: 20px;
	border: none;
}

.companylistcontop img {
	margin-right: 5px;
}

.companylistcontoppic {
	margin-left: 400px;
}

.companylistconhead span.span1 {
	margin-left: 15px;
}

.companylistconhead span.span2 {
	margin-left: 310px;
}

.companylistconhead span.span3 {
	margin-left: 105px;
}

.companylistconhead span.span4 {
	margin-left: 80px;
}

.companylistcontent2 {
	border-bottom: 1px dashed #ccc;
	padding: 10px;
	margin: 0 0 10px 0
}

.companylistcontent2 {
	border: none;
}

.companylistcontent2 div {
	width: 290px;
	margin-right: 98px;
}

.companylistcontent {
	margin: 0 8px;
}

.companylistcontent .span6,
.companylistcontent .span {
	margin-left: 120px;
}

.companylistcontent .span7,
.companylistcontent2 .span7 {
	margin-left: 100px;
}

.companylistconleft {
	width: 760px;
	float: left
}

.companylistsubpage {
	text-align: center;
	font-weight: bold;
	padding-left: 240px;
	margin: 6px;
}

.companylistsubpage img,
.companylistsubpage span {
	float: left;
}

.companylistsubpage img {
	margin: 0 3px;
	margin-top: 4px;
}

.companylistconright {
	width: 188px;
	float: right
}

.lookcompany {
	margin: 0;
}

.lookcompany p {
	padding: 10px;
}

.companylistseecon {
	padding: 10px;
}

.companylistseecon li {
	height: 22px;
	line-height: 22px;
	width: 166px;
	overflow: hidden
}

.companylistseecon p a {
	margin: 0 3px;
}


/*servicepage----------------------------------------------------*/

.servicecon {
	margin-bottom: 10px;
}

.serviceconleft {
	width: 718px;
	float: left;
}

.serviceconright {
	width: 230px;
	height: auto;
	float: right
}

.serviceconright img {
	float: left;
}

.serviceconrightcon {
	height: 29px;
}

.serviceconrightcon img {
	margin: 6px 6px 0 0;
}


/*hotlinetakeoutpage----------------------------------------------------*/

.hotlinetakeoutcon {
	width: 958px;
	height: 65px;
	margin-top: -1px;
	text-align: center;
	padding-top: 13px;
}

.hotlinetakeoutcon img {
	float: left;
	margin: 0 10px 0 240px;
}

.hotlinetakeoutcon p {
	text-align: left;
}

.hotlinetakeoutcon p span {
	font-weight: bold;
}


/* add market info----------------------------------------------------*/

.add_info {
	margin-top: 10px;
}

.add_infoleft {
	width: 247px;
	height: auto;
	float: left;
}

.add_infoleft img,
.add_info_con {
	float: left;
}

.add_infoleft_con {
	width: 247px;
}

.add_infoleft_conlist li {
	height: 24px;
	line-height: 24px;
	overflow: hidden
}

.add_inforight {
	width: 703px;
	height: auto;
	float: right;
}

.add_inforight_title h3 {
	background: url(images/add_info06.jpg) no-repeat 8px center;
	line-height: 31px;
	height: 31px;
	font-size: 14px;
	padding: 0 0 0 18px;
	float: left;
	width: 200px;
}

.search_more {
	float: right;
	width: 120px;
	padding: 5px 0 0 0
}

.table_con {
	width="680";
	height: auto;
	float: right;
}

.add_link_title {
	height: 30px;
	width: auto;
}


/* websit information ----------------------------------------------------*/

.body_content {
	height: auto;
	text-align: center;
	margin: 0 auto;
}

.text_left img,
.text_right img {
	margin: 0px 10px;
}

.text_title {
	font-size: 14px;
	font-weight: bold;
	float: left;
	text-align: center;
	width: 800px;
}

.content_body {
	text-align: left;
	padding: 10px 10px 20px 10px;
}

.content_body p {
	text-indent: 2em;
}

.top {
	width: 80px;
	float: left;
	display: inline;
	padding: 7px 0 0 0;
	overflow: hidden
}

.next {
	width: 80px;
	float: right;
	display: inline;
	padding: 7px 0 0 0;
	overflow: hidden
}


/* add_link ----------------------------------------------------*/

.add_link_left {
	font: Verdana, Geneva, sans-serif 12px;
	width: 228px;
	float: left;
}

.add_link_leftcon li {
	height: 24px;
	line-height: 24px;
}

.add_link_right {
	width: 712px;
	float: right;
}

.add_link_rightcon_info {
	padding: 10px;
	border: 0
}

.add_link_rightcon_info th {
	height: 25px;
	width: 100px;
	text-align: right;
	font-weight: normal;
	line-height: 25px;
	padding: 5px;
}

.add_link_rightcon_info td {
	width: 300px;
	text-align: left;
	font-weight: normal;
	line-height: 25px;
	padding: 5px;
}


/* market all info---------------------------------------------------- */

.maincon {
	margin-top: 10px;
}

.all_right_con .news_list li {
	height: 20px;
	overflow: hidden
}


/* webmap---------------------------------------------------- */

.webmap {
	margin-top: 10px;
	position: relative;
}

.webmap_left {
	width: 720px;
	float: left;
}

.webmap_left_title {
	background: url(images/webmap01.jpg) no-repeat;
	width: 118px;
	height: 30px;
	margin: 0px;
}

.webmap_left_title span {
	font-weight: bold;
	padding: 8px 0px 8px 5px;
	line-height: 30px;
	display: block;
}

.webmap_left_con1 p,
.webmap_left_con2 p {
	margin: 5px;
}

.webmap_left_con1 {
	border-bottom: 1px dashed #cccccc;
}

.webmap_left_title img {
	margin-right: 5px;
}

.webmap_right {
	width: 230px;
	float: right
}

.webmap_right_title {
	background: url(images/news_all_bg02.jpg) no-repeat;
	width: 232px;
	height: 32px;
	margin: 0px;
}

.webmap_right_con li {
	line-height: 21px;
}


/* news all ----------------------------------------------------*/

.news_all {
	margin-top: 10px;
}

.news_all_left {
	width: 721px;
	height: auto;
	float: left;
}

.news_title P {
	font-weight: bold;
	font-size: 12px;
}

.news_title P .gray {
	font-weight: normal;
	padding: 0 10px 0 0
}

.news_title_border {
	font-weight: bold;
	font-size: 14px;
}

.news_title_border2 {
	font-weight: bold;
	font-size: 12px;
}

.news_all_left_con p {
	text-indent: 2em;
	margin: 5px auto;
}

#news_info {
	margin-top: 60px;
	text-align: right;
	height: 30px;
	width: 95%;
}


/* Exhibition Details---------------------------------------------------- */

.fullsrceen_ad {
	margin: 0 auto;
	width: 960px;
}

.fullsrceen_ad img {
	width: 960px;
}

.ex_con_left {
	width: 700px;
	float: left;
}

.ex_con_left_con {}

.ex_con_rightlist li {
	height: 22px;
	line-height: 22px;
}

.ex_con_right {
	width: 246px;
	float: right
}

.ex_con_right_con_body span {
	text-align: center;
}


/* Exhibition ----------------------------------------------------*/

.exh_ad span {
	text-align: center;
	height: 52px;
	padding: 0 0 0 2px;
	overflow: hidden;
	display: block
}

.exh_con_left {
	width: 750px;
	float: left;
}

.exh_con_left_pic img {
	margin: 0px 3px;
	border: 1px solid #cccccc;
	width: 280px;
	height: 220px;
}

.exh_con_left_top {
	margin-top: 0px;
	margin-left: 0px;
	width: 750px;
	height: 220px;
	display: inline;
}

.exh_con_left_topcon {
	clear: left;
	position: absolute;
}

.exh_con_img {
	width: 220px;
	float: left;
}

.exh_con_img img {
	width: 220px;
	height: 165px;
	display: block;
	overflow: hidden;
}

.exh_con_net {
	float: right;
	background: url(images/exh_01.jpg) no-repeat;
	width: 520px;
}

.net_title h2 {
	height: 29px;
	line-height: 29px;
	padding: 0 0 0 18px;
	font-size: 14px;
}

.net_content {
	overflow: hidden
}

.net_content .main {
	height: 92px;
	padding: 5px 0 0 0;
}

.net_content_img {
	width: 92px;
	float: left;
	display: inline;
	overflow: hidden;
}

.net_content_img img {
	display: block;
	overflow: hidden;
	border: 1px solid #ccc;
	margin: 5px;
	width: 80px;
	height: 80px
}

.net_content_intro {
	float: left
}

.net_content_intro p {
	padding: 0 5px;
}

.net_content_intro h3 {
	padding: 10px 0px 6px 0;
	text-align: center;
	font-size: 14px;
}

.net_meeting {
	padding: 5px;
	border-top: 1px dashed #666;
	overflow: hidden
}

.net_meeting li {
	height: 19px;
}

.net_meeting_title {
	width: 245px;
	height: 19px;
	line-height: 19px;
	display: block;
	overflow: hidden;
	float: left;
}

.net_meeting_time {
	width: 85px;
	float: right
}

.exh_recentlist {
	padding: 10px;
	padding-right: 0;
}

.exh_recentlist .title {
	width: 180px;
	height: 22px;
	overflow: hidden;
	float: left;
	display: block;
}

.exh_recentlist .date {
	width: 90px;
	text-align: center;
	float: right;
	display: block;
	overflow: hidden
}

.exh_recentlist li {
	height: 20px;
	line-height: 20px;
	width: 355px;
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 10px 0 0;
	_display: inline
}

.exh_con_right {
	width: 200px;
	float: right;
}

.exh_consulting li {
	height: 19px;
	line-height: 19px;
	width: 178px;
	overflow: hidden
}

.exh_find table {
	border: 0;
}

.exh_find th {
	text-align: right;
	font-weight: normal;
	height: 35px;
	width: 70px;
}

.exh_find td {
	width: 110px;
	height: 35px;
}

.exh_consulting {
	padding: 2px 10px 3px 10px;
}

.exh_find {
	padding: 10px 10px 15px 10px;
}

.news_mainbody_right_con {
	padding: 6px 5px;
}

.news_mainbody_left_con_body {
	padding: 7px 5px;
}


/* news ----------------------------------------------------*/

.second_nav {
	background: url(images/placeprice_bg.gif) repeat-x;
	padding: 5px 10px;
	border: 1px solid #f0f4f5;
	border-top: none;
	line-height: 20px
}


/*.second_nav li{ float:left; margin-right:1px; cursor:pointer; text-align:center; width:60px; height:24px; line-height:24px;display:block;}*/

#second_all_nav {
	width: 80px;
	height: 24px;
	display: block;
	font-weight: bold;
	overflow: hidden;
	float: left;
	text-align: center;
}

.news_nav_txt {
	width: 850px;
	float: right;
	display: inline
}

.news_nav_txt a {
	display: inline-block;
	margin-left: 10px;
}

.news_mainleft {
	width: 770px;
	float: left;
}

.news_mainbody_left {
	width: 220px;
	float: left;
}

.news_mainbody_mid {
	width: 540px;
	float: right;
}

.news_mainbody_right {
	width: 180px;
	float: right;
}

.add_date {
	float: right;
}

.news_mainbody_mid_con {
	padding: 5px
}

.news_mainbody_mid_con li {
	height: 20px;
	line-height: 20px;
	width: 260px;
	float: left;
	overflow: hidden;
	display: block
}

.news_mainbody_right {
	width: 180px;
	float: right
}

.news_mainbody_left_con_body li {
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.news_mainbody_right_con li {
	height: 20px;
	line-height: 20px;
	width: 165px;
	overflow: hidden
}


/* find product ----------------------------------------------------*/

.box960 {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
}

.product_sort li {
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.product_sort li em {
	float: right;
}

.main_left_w220 .product_img,
.main_left_w220 .product_img img {
	width: 220px;
	height: 280px;
	display: block
}

.find_product_leftcon li {
	line-height: 12px;
	padding: 0px 5px;
}

.product_reports {
	width: 570px;
	float: left;
}

.product_reports_img img {
	width: 550px;
	display: block;
	padding: 5px 0
}

.product_reports_list li {
	width: 80px;
	float: left;
	padding: 10px;
	display: inline
}

.product_reports_list img {
	width: 80px;
	height: 80px;
	display: block;
}

.product_reports_list p {
	width: 80px;
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.find_product_right {
	width: 150px;
	float: right;
}

.nominate_content li {
	width: 138px;
	padding: 10px 0;
	border-bottom: 1px dashed #b7e2fd;
	height: 50px;
	display: block
}

.nominate_img {
	width: 50px;
	height: 50px;
	float: left;
}

.nominate_img img {
	width: 50px;
	height: 50px;
	display: block;
}

.nominate_text {
	width: 80px;
	float: right
}

.nominate_text p {
	width: 80px;
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.nominate_line {
	height: 2px;
	border-bottom: 1px dashed #b7e2fd;
	clear: both;
	width: 138px;
}

.find_product_mid_top {
	background: url(images/find_product08.jpg) no-repeat top left;
	width: 570px;
}

.find_product_mid_top h2 span {
	clear: left;
}

.find_product_mid_top h3 {
	padding: 5px;
}

.find_product_blue span {
	float: right;
	font-weight: normal;
}

.find_product_mid_con ul {
	float: left;
}

.find_product_mid_con ul li {
	margin: 5px;
}

.ad_text {
	border: 1px solid #B7E2FD;
	background: url(images/ad_12.jpg) no-repeat;
	height: 80px;
	padding: 5px 0px 5px 35px;
}

.ad_text li {
	height: 20px;
	line-height: 20px;
	float: left;
	width: 160px;
	padding: 0 0 0 10px;
	display: inline
}


/* news list ----------------------------------------------------*/

.news_list_right {
	width: 200px;
	float: left;
	margin: 30px 0px 5px 10px;
	padding: 0px;
}

.news_list_rightcon {
	border: 1px solid #cccccc;
}

.news_list_rightcon p {
	padding: 10px;
}

.news_list_search {
	width: auto;
	height: 70px;
	border: 1px solid #cccccc;
	text-align: center;
}

.news_list_search div label {
	padding: 10px auto;
}


/* offer ----------------------------------------------------*/

.offer_list_top1 {
	width: 330px;
}

.offer_list_top1_news {
	width: 330px;
}

.offer_list_top1_newscon {
	width: 330px;
}

.offer_list_top1_news ul li {
	width: 328px;
	height: 19px;
	line-height: 19px;
	overflow: hidden;
}

.offer_list_top1_news ul li h3 {
	width: 150px;
	padding-left: 5px;
}

.offer_list_top1_news ul li em {
	width: 150px;
	padding-left: 5px;
	text-align: left;
}

.offer_list_top1_news ul li p {
	width: 50px;
	padding-left: 5px;
	text-align: center;
}

.offer_list_top1_news ul li.title {
	background: #B7E4FB;
}

.offer_list_top1_news ul li.title h3,
.offer_list_top1_news ul li.title p {
	font-weight: bold;
}

.offer_list_top1_news ul li.odd {
	background: url(images/offer_list_bg1.jpg) 0 0 no-repeat;
}

.offer_list_top1_news ul li.even {
	background: url(images/offer_list_bg2.jpg) 0 0 no-repeat;
}

.offer_list_top2 {
	width: 390px;
	overflow: hidden;
	float: left;
}

.offer_list_top2 ul li {
	margin: 0px auto;
}

.offer_list_top2 ul li img {
	width: 390px;
	height: 190px;
	border: none;
}

.offer_list_top2 ul li div ul {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
}

.offer_list_top2 ul li div ul li {
	text-align: left;
}

.offer_list_top2 ul li div ul li span {
	padding-left: 50px;
}

.offer_list_top3 {
	width: 230px;
	float: right;
}

.offer_list_top3_c1 .offer_list_top3_c1 li {
	background: url(images/job_reg_p_bg.gif) no-repeat center;
	padding-left: 10px;
	height: 32px;
	line-height: 32px;
	width: 82px;
	display: inline;
	margin: 8px 0 0 5px;
}

.offer_list_top3_c2 {
	text-align: center;
}

.offer_list_top3_c2 h2 span {
	font-weight: bold;
	margin: 15px 0px 0px 35px;
	height: 30px;
	line-height: 30px;
}

.offer_list_con_left {
	width: 330px;
	float: left;
}

.offer_list_con_left_title {
	background: url(images/offer_list_bg5.jpg) no-repeat top;
	width: 330px;
	height: 30px;
	margin-top: 5px;
}

.offer_list_con_left_title h2 {
	background: url(images/lhighs.gif) no-repeat 10px 11px;
}

.offer_list_con_left_title h2 span {
	font-weight: bold;
	font-size: 14px;
	line-height: 31px;
	padding: 0 0 0 20px;
}

.offer_list_con_left_title h2 img {
	margin: auto 5px;
}

.offer_list_con_right_title1 {
	font-weight: bold;
	font-size: 14px;
	padding: 8px 0px 0px 10px;
}

.offer_list_con_right_title2 {
	float: left;
	width: 250px;
}

.offer_list_right {
	width: 620px;
	float: right;
}

.offer_list_con_left_con {
	width: 318px;
	padding: 5px;
}

.offer_list_con_right_con {
	padding: 10px;
	height: 530px;
}

.price_list {
	padding: 10px 10px 0 10px;
}

.nominate_list {
	padding: 0 0 0 15px;
}

.add_market_list {
	padding: 5px;
}


/* product list ----------------------------------------------------*/

.pro_list_news {
	margin: 10px auto;
}

.offer_list_top3_c1 li {
	width: 96px;
	height: 32px;
	line-height: 32px;
	float: left;
	text-align: center;
	display: inline;
	margin: 0 5px 10px 0;
}

.offer_list_con_right {
	width: 620px;
	float: right;
	overflow: hidden;
}

.offer_list_con_right_title h2 {
	width: 100px;
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 24px;
	font-size: 14px;
	float: left
}

.find_industry {
	float: right;
	width: 300px;
	padding: 10px 0 0 0
}

.fleft img {
	padding: 3px;
	width: 67px;
	height: 67px;
	display: inline-block;
	float: left
}

.title_time {
	height: 25px;
	line-height: 25px;
}

.even_width {
	width: 200px;
	padding: 0 10px;
	float: left;
	overflow: hidden;
}

.even_padding {
	float: right;
	width: 45px;
	overflow: hidden;
}


/*pro_market----------------------------------------------------*/

.price_list li {
	height: 18px;
	line-height: 18px;
}

.price_list .h3 {
	font-size: 12px;
}

.price_btm {
	background: url(images/pro_markettitbj02.gif) no-repeat;
	height: 5px;
}

.nominate_market h2 {
	background: url(images/lhighs.gif) no-repeat 6px center;
	height: 29px;
	line-height: 29px;
	padding: 0 0 0 18px;
}

.nominate_list img {
	width: 100px;
	height: 80px;
	border: 1px solid #ccc;
	display: block;
}

.nominate_list li {
	float: left;
	margin: 5px 6px;
	display: block;
	overflow: hidden
}

.nominate_list p {
	text-align: center;
	width: 100px;
	height: 20px;
	display: block;
	overflow: hidden;
	line-height: 20px;
}

.special_market h2 {
	height: 29px;
	line-height: 29px;
	background: url(images/lhighs.gif) no-repeat 5px center;
	padding: 0 5px 0 18px;
}

.special_market_list {
	padding: 5px 0;
}

.special_market_list th {
	padding: 5px;
	font-weight: bold;
	text-align: right;
	vertical-align: top
}

.special_market_list td {
	padding: 5px;
}

.special_market_list a span {
	padding: 2px 5px;
}

.price_info {
	width: 232px;
	float: left
}

.main_left_img {
	width: 476px;
	float: right
}

.main_left_img img {
	border: 1px solid #ccc;
}

.add_market .intro {
	float: right;
	font-weight: normal
}

.add_market_list li {
	height: 22px;
	line-height: 22px;
	overflow: hidden
}

.market_meeting img {
	width: 230px;
	height: 70px;
	border: 1px solid #ccc;
	margin: 0 0 5px 0;
	display: block;
	overflow: hidden;
	float: left
}

.new_supply h2 {
	height: 29px;
	line-height: 29px;
	background: url(images/lhighs.gif) no-repeat 5px center;
	padding: 0 0 0 18px;
}

.new_supply_list li {
	height: 22px;
	line-height: 22px;
	width: 450px;
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 10px;
}


/*member upgrade----------------------------------------------------*/

.subnav {
	height: 28px;
	padding: 0 0 0 20px;
	border: 1px solid #edf4f9;
	line-height: 28px;
}

.black {
	font-weight: bold
}

.title_content {
	width: 800px;
	height: 35px;
	display: block;
	overflow: hidden;
	float: left
}

.title_telephone {
	width: 400px;
	height: 28px;
	display: block;
	overflow: hidden;
	float: left;
	text-align: left;
	padding: 0 0 0 20px;
	font-size: 12px;
	font-weight: normal
}

.title_star {
	width: 300px;
	height: 35px;
	display: block;
	overflow: hidden;
	float: right;
	text-align: right
}

.base_content {
	border: 1px solid #4db2f2;
	border-top: none;
	padding: 10px;
}

.member_upgrade {
	padding: 20px 0 30px 0;
	float: left;
	width: 450px;
}

.member_upgrade_content {
	border: 0;
	width: 450px;
}

.member_upgrade_content th {
	width: 200px;
	text-align: right;
	height: 25px;
	font-weight: bold;
}

.member_upgrade_content td {
	width: 250px;
	text-align: left;
	height: 25px;
}

.member_upgrade_img {
	float: right;
	width: 450px;
	padding: 40px 0 0 0;
}


/*info tip----------------------------------------------------*/

.info_tip_left {
	width: 730px;
	float: left
}

.info_tip_service {
	padding: 0 0 0 290px;
	height: 50px;
	line-height: 50px;
}

.info_tip_service span {
	float: left;
	background: url(images/tips_bg_info.png) no-repeat 0 0;
	text-indent: 50px;
	text-align: center;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="images/tips_bg_info.png");
}

.info_tip_service .true {
	background: url(images/tips_bg_true.png) no-repeat 0 0;
	text-align: center;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="images/tips_bg_true.png");
}

.info_tip_service .error {
	background: url(images/tips_bg_error.png) no-repeat 0 0;
	text-align: center;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="images/tips_bg_error.png");
}

.info_tip_left p {
	text-align: center;
	height: 55px;
	line-height: 55px;
	vertical-align: middle;
}

.info_tip_right {
	width: 200px;
	float: right;
	background: url(images/info_tip_05.gif) no-repeat;
	height: 90px;
	padding: 15px 0 0 0;
	display: inline;
	overflow: hidden
}

.info_tip_right p {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	padding: 0 0 0 35px;
	margin: 0 0 0 10px;
}

.info_tip_right .back {
	background: url(images/tips_bg_back.png) no-repeat 0 0;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="images/tips_bg_back.png");
}

.info_tip_right .close {
	background: url(images/tips_bg_close.png) no-repeat 0 0;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="images/tips_bg_close.png");
}

.write_reg img,
.info_tip_right p img,
.info_tip_left p img {
	vertical-align: middle;
	padding: 0 5px;
}

.write_reg {
	float: right;
	width: 400px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	_height: 18px;
	_padding: 8px 0 0 0
}

.base_content h3 {
	padding: 0 30px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #2ca5f3
}

.reg_member {
	padding: 10px 20px;
}

.reg_member th {
	width: 200px;
	text-align: right
}

.reg_member td {
	width: 220px;
	font-weight: bold;
	padding: 0 0 0 20px
}

.member_register {
	float: right;
	width: 650px;
	height: 28px;
	line-height: 28px;
	text-indent: 22px;
}

.offer_login_title h2 {
	height: 30px;
	line-height: 30px;
	background: url(images/lhighs.gif) no-repeat 6px center;
	padding: 0 5px 0 18px;
}

.offer_login_content {
	padding: 5px;
	border: 1px solid #ccc;
	border-top: none;
}

.user_login {
	border: 0;
	margin: 5px 0;
	display: block;
	overflow: hidden
}

.user_login th {
	text-align: right;
	font-weight: bold;
	width: 70px;
	height: 30px;
}

.user_login td {
	width: 105px;
	text-align: left;
	height: 30px;
}

.user_login input {
	width: 91px;
	padding: 1px;
}

.user_reg {
	text-align: center;
	border-top: 1px dashed #ccc;
}

.user_reg h3 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin: 0 0 10px 0
}

.reg_orange {
	width: 140px;
	height: 30px;
	display: block;
}

.user_reg p {
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 0 0 13px;
}

.base_info_content .base_info {
	width: 100%;
	border: 0
}

.base_info_content .base_info th {
	text-align: right;
	font-weight: bold;
	width: 80px;
	padding: 5px;
	vertical-align: top
}

.base_info_content .base_info td {
	text-align: left;
	padding: 5px 10px;
}

.base_info_content .bg {
	height: 31px;
}

.title_step {
	width: 600px;
	height: 35px;
	display: block;
	overflow: hidden;
	float: left
}

.expires {
	padding: 0 5px;
}

.bold {
	font-weight: bold
}

.reg_sucess {
	width: 290px;
	float: left;
}

.reg_proinfo {
	width: 650px;
	float: right
}

.reg_bj {
	float: left;
	background: url(images/tips_bg_true.png) no-repeat 0 0;
	width: 65px;
	height: 50px;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="images/tips_bg_true.png");
}

.reg_proinfo_content {
	float: left
}

.member_level {
	height: 32px;
}

.member_level img {
	vertical-align: middle
}

.member_room {
	height: 32px;
}

.reg_proinfo_content p {
	line-height: 26px;
}

.announce_list li {
	text-align: left;
	line-height: 24px;
}

.line {
	height: 1px;
	border-bottom: 1px dashed #cccccc;
	_line-height: 0;
}

.advance_search {
	padding: 10px 0;
}

.tabs_search {
	padding: 20px 0
}

.tabs_search th {
	text-align: right;
	width: 160px;
	font-weight: bold;
	padding: 10px 5px
}

.tabs_search td {
	padding: 10px 5px
}


/*Reports----------------------------------------------------*/

.substation_name {
	height: 35px;
	display: block;
	overflow: hidden;
	font-weight: bold;
	float: left;
	width: 90px;
}

.title_sub {
	float: left;
}

.title_sub_more {
	position: absolute;
	top: 5px;
	left: 10px;
}

.substation ul {
	padding: 0;
	clear: both
}

.substation h3 {
	height: 26px;
	line-height: 26px;
	background: #F9FCFE;
	border-top: 1px #B7E2FD solid;
	border-bottom: 1px #B7E2FD solid;
	font-size: 14px;
	padding: 0 0 0 12px
}

.substation h4 {
	height: 20px;
	line-height: 20px;
	padding: 3px 18px
}

.substation ul li ul li ul {
	padding: 0 0 0 15px
}

.substation ul li ul li ul li {
	display: inline
}

.substation ul li ul li ul li a {
	height: 20px;
	line-height: 20px;
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 0 0 15px;
}

.reports_ads img {
	padding: 0 0 6px 0
}

.sub_nominate {
	width: auto;
	clear: both
}

.sub_nominate_txt {
	border-left: 1px solid #B7E4FB;
	border-right: 1px solid #B7E4FB;
	padding: 5px;
	overflow: hidden;
}

.sub_nominate_txt li {
	height: 20px;
	line-height: 20px;
	background: url(images/listbg.jpg) no-repeat 0 9px;
	width: 198px;
	overflow: hidden;
	padding: 0 0 0 10px
}

.substation_area h2 {
	padding: 25px 0 0 270px;
	font-size: 32px;
	line-height: 180%
}

.substation_industry h2 {
	padding: 30px 0 0 140px;
	font-size: 32px;
	line-height: 180%;
}

.substation_main {
	padding: 10px 0;
}

.substation_main p {
	line-height: 20px;
	padding: 0 0 15px 0;
	text-indent: 20px;
}

.substation_product li {
	float: left;
	width: 80px;
	margin: 0 10px;
	display: block;
	overflow: hidden;
	_display: inline
}

.substation_product img {
	width: 80px;
	height: 80px;
	display: block;
	overflow: hidden
}

.substation_product p {
	width: 80px;
	height: 40px;
	overflow: hidden;
	text-align: center;
}


/*charge----------------------------------------------------*/

.charge_box .title_bar {
	height: 34px;
}

.charge_box .title_bar h6 {
	float: left;
	width: 145px;
	height: 30px;
	display: block;
	overflow: hidden
}

.charge_txt th {
	text-align: right;
	width: 240px;
	font-weight: bold;
	padding: 10px 5px
}

.charge_txt td {
	padding: 10px 5px
}

.charge_online th {
	text-align: right;
	width: 80px;
	font-weight: bold;
	padding: 10px 5px
}

.charge_online td {
	padding: 10px 5px
}

.charge_online p {
	text-indent: 20px;
	width: 640px;
}

.pay_description p {
	width: 540px;
}


/*lemma----------------------------------------------------*/

.new_lemma {
	float: left;
	width: 330px;
	border-right: 1px dashed #ccc;
}

.new_lemma h2 {
	height: 25px;
	font-size: 14px;
}

.new_lemma li a {
	margin: 0 10px 0 0;
}

.hot_lemma {
	float: right;
	width: 320px;
}

.hot_lemma h2 {
	height: 25px;
	font-size: 14px;
	text-align: right
}

.new_lemma li,
.lemma_main li,
.hot_lemma li {
	display: inline
}

.new_lemma li a,
.hot_lemma li a {
	height: 20px;
	line-height: 20px;
	width: 50px;
	float: left;
	display: block;
	overflow: hidden;
}

.hot_lemma li a {
	margin: 0 0 0 10px;
}

.lemma_main li {
	padding: 5px 0;
}

.lemma_main li a {
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 0 10px;
}

.lemma_main li p {
	padding: 5px 0;
	*padding: 5px 0 0 0
}

.lemma_main li p a {
	width: 50px;
	height: 20px;
	line-height: 20px;
	float: left;
	display: inline-block;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	padding: 0 0 0 10px;
}

.lemma_main li p a:hover {
	font-weight: normal;
	font-size: 12px;
}

.dictionary p {
	padding: 0 0 10px 0
}

.dictionary input {
	padding: 2px;
}

.input_w160 {
	width: 155px;
	height: 14px
}

.dictionary li {
	height: 22px;
	line-height: 22px;
	overflow: hidden
}

.lemma_list_title {
	height: 30px;
	border-bottom: 1px solid #8ccdf7;
}

.lemma_list_title h2 {
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	background: url(images/title_lemma_bg.gif) no-repeat;
	width: 108px;
	text-align: center;
	padding: 0 5px;
	overflow: hidden;
	_position: absolute
}

.lemma_list table {
	width: 100%
}

.lemma_list th {
	text-align: center;
	font-weight: bold;
	padding: 10px 0;
}

.lemma_list .title {
	width: 20%;
	text-align: center;
	padding: 3px 10px;
	*padding: 0 10px
}

.lemma_list li {
	padding: 5px 10px;
}


/*service center----------------------------------------------------*/

.service_center_txt {
	padding: 0 0 6px 0;
	background: url(images/service_center.jpg) no-repeat;
	height: 90px;
}

.service_center_txt .intro {
	float: left;
	width: 400px;
	padding: 20px 0 0 100px;
	display: block
}

.customer_service table {
	width: 100%
}

.customer_service th {
	text-align: center;
	font-weight: bold;
	padding: 10px 5px;
}

.customer_service td {
	padding: 5px;
	text-align: center
}

.customer_service .title {
	text-align: left;
	font-weight: bold;
	width: 350px;
	float: left
}

.customer_service .title span {
	margin: 0 5px;
}

.guest_book p,
.new_tips p {
	padding: 5px 0
}

.new_tips li {
	line-height: 20px;
}

.new_tips .break {
	word-break: break-all;
	width: 210px;
	overflow: hidden;
	padding: 0
}

.feedback input {
	margin: 0 2px 0 20px;
}

.guest_book_content {
	padding: 10px 0
}

.guest_book_content li {
	padding: 5px;
}

.guest_book_content span {
	font-weight: bold;
	text-align: right;
	width: 100px;
	display: block;
	float: left;
	padding: 0 10px;
}

.feedback {
	padding: 3px 10px 5px;
}

.service_term {
	text-align: center;
	height: 24px;
}

.service_term_content p,
.service_detail_content p {
	padding: 5px 15px;
}

.service_detail_answer01,
.service_detail_answer02 {
	background: url(images/service.gif) no-repeat;
	padding: 3px 32px 5px;
}

.service_detail_answer01 {
	background-position: 10px 3px
}

.service_detail_answer02 {
	background-position: 10px -47px
}

.service_detail_content .appraise {
	padding: 10px 15px;
}

.service_detail_content .appraise input {
	margin: 0 3px 0 30px
}


/*Brands-10-4-10-------------------------------------------------*/

.banner {
	margin: 0 0 6px 0;
}

.block_left_w500 {
	float: left;
	width: 500px;
}

.block_right_w220 {
	float: right;
	width: 220px;
}

.corner_content_s6 ul,
.brand_category_list ul {
	padding: 5px 10px;
}

.brand_category_list ul li ul {
	padding-left: 40px;
}

.brand_category_list ul li ul li {
	height: 18px;
	overflow: hidden
}

.corner_content_s6 li {
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.brand_recommend h2 {
	font-size: 14px;
	border-bottom: 1px dashed #ccc;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
}

#sidebar_logo {
	width: 150px;
	height: 50px;
	position: relative;
	overflow: hidden;
	display: table;
	padding: 0 6px 10px 11px;
	background: url(images/comapnylogo_bg.gif) no-repeat 10px 0;
	float: left
}

#sidebar_logo div {
	position: relative;
	min-height: 10px;
	_height: 10px;
	top: 50%;
	display: table-cell;
	vertical-align: middle;
}

#sidebar_logo img {
	position: relative;
	top: -50%;
}

.brand_list div {
	width: 74px;
	height: 74px;
	text-align: center;
	display: table;
}

.brand_list li {
	width: 76px;
	padding: 10px 16px;
	display: block;
	overflow: hidden;
	text-align: center;
	float: left;
}

.brand_list div span {
	display: table-cell;
	vertical-align: middle
}

.brand_list div span {
	_height: 100%;
	/* 要保证和父元素高度一样才行 */
	_writing-mode: tb-rl;
	_vertical-align: middle;
}


/* IE6 */

.brand_list div {
	*position: relative;
	*overflow: hidden;
}

.brand_list div span {
	*position: absolute;
	*left: 50%;
	*top: 50%;
}

.brand_list div img {
	*position: relative;
	*left: -50%;
	*top: -50%;
}


/* IE7 */

.brand_list img {
	max-width: 74px;
	max-height: 74px;
}


/* for Firefox & IE7 */

* html .brand_list img {
	/* for IE6 */
	width: expression(this.width > 74 && this.width > this.height ? 74: true);
	height: expression(this.height > 74 ? 74: true);
}

.brand_list p {
	width: 76px;
	height: 18px;
	overflow: hidden
}

.padding21 li {
	padding: 10px 21px 5px 21px;
}

.brand_hot .title h2 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	_position: absolute
}

.letterindex {
	height: 30px;
	background: url(images/letter_bg.gif) repeat-x 0 0;
	border-left: 1px solid #8ccdf7;
	border-right: 1px solid #8ccdf7;
	position: relative;
	width: 768px;
	z-index: 1
}

.letterindex .frist {
	border: 0;
}

.letter_content {
	border: 1px solid #8ccdf7;
}

.letter_title span {
	float: right;
	font-weight: normal;
}

.category_select {
	background: #d9effa;
	margin-top: 1px;
	padding: 0 10px;
}

.category_select_title {
	width: 90px;
	float: left;
	display: block;
	text-align: center;
	padding: 10px
}

.category_select_title span {
	padding: 0 20px 0 0;
}

.category_select_txt {
	float: left;
	border-left: 2px solid #fff;
	padding: 10px;
	width: 800px;
	display: block;
	overflow: hidden
}

.category_select_txt a {
	display: inline;
	margin: 0 10px;
}

.category_select_txt a span {
	display: inline-block;
	height: 20px;
	cursor: pointer
}

.brand_grade {
	width: 148px;
	float: left;
	text-align: center
}

.brand_img {
	width: 145px;
	height: 145px;
	border: 1px solid #333;
	padding: 1px;
	display: table;
	text-align: center;
}

.brand_img .logo {
	display: table-cell;
	vertical-align: middle;
}

.brand_img .logo {
	_height: 100%;
	_writing-mode: tb-rl;
	_vertical-align: middle;
}


/* IE6 */

.brand_img .logo img {
	vertical-align: middle;
}

.brand_img {
	*position: relative;
	*overflow: hidden;
}

.brand_img .logo {
	*position: absolute;
	*left: 50%;
	*top: 50%;
}

.brand_img .logo img {
	*position: relative;
	*left: -50%;
	*top: -50%;
}


/* IE7 */

.brand_grade img {
	max-width: 145px;
	max-height: 145px;
}


/* for Firefox & IE7 */

* html .brand_grade img {
	width: expression(this.width > 145 && this.width > this.height ? 145: true);
	height: expression(this.height > 145 ? 145: true);
}


/* for IE6 */

.brand_intro {
	float: right;
	width: 560px;
}

.brand_intro .title {
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	line-height: 30px;
	margin: 0 10px;
	background: url(images/title_bg_5.gif) no-repeat center bottom;
}

.brand_intro p {
	margin: 0 10px
}

.brand_intro_more {
	text-align: right;
	margin: 0 10px
}

.tag strong {
	padding: 0 0 0 20px;
}

.place_price strong {
	padding: 0 15px 0 10px;
	display: block;
	width: 6%;
	float: left;
	margin: 10px 0 0 0;
}

.place_price div {
	float: left;
	width: 90%
}

.place_price a {
	margin-left: 10px;
	display: inline-block;
	cursor: pointer
}

.area_price strong {
	padding: 0 15px 0 10px;
	display: block;
	width: 8%;
	float: left;
	margin-top: 10px;
}

.area_price div {
	float: left;
	width: 88%
}

.area_price a {
	margin-left: 10px;
	display: inline-block;
	cursor: pointer
}

.product_hot li {
	width: 76px;
	padding: 10px 21px 10px 29px;
	display: block;
	overflow: hidden;
	text-align: center;
	float: left;
}

.product_hot p {
	height: 18px;
	overflow: hidden
}

.letter_product_content table {
	border: 0;
	width: 100%;
}

.letter_product_content ul li {
	width: 49.5%;
	float: left;
	display: inline;
	overflow: hidden
}

.letter_product_content ul li ul {
	margin: 5px 15px;
	clear: both;
}

.letter_product_content ul li ul li {
	width: 100%;
	line-height: 22px;
	display: inline;
}

.brand_hot .letter_product_content ul li ul {
	clear: both;
}

.brand_hot .letter_product_content ul li ul li a {
	display: inline-block;
	padding: 0 2px;
	cursor: pointer
}

.brand_other .title h2 {
	font-size: 14px;
	height: 30px;
	width: 50%;
	line-height: 30px;
	text-align: center;
	_position: absolute;
	float: left
}

.price_menu_today li a {
	display: inline-block;
	overflow: hidden
}

.price_menu_today .btn_price_all {
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}

.product_brand_intro table {
	width: 100%;
	border: 0;
}

.product_brand_intro th {
	padding: 5px 5px;
	font-weight: bold;
	text-align: center
}

.product_brand_intro td {
	padding: 10px 5px;
	border-bottom: 1px dashed #ccc;
}

.product_brand_intro table .txt_left {
	text-align: left
}

#noborder {
	border: none;
}

.corner_content_s7 li {
	background: url(images/brand_bg.gif) no-repeat;
	height: 20px;
	width: 96px;
	float: left;
	padding: 8px 10px 20px 0;
	text-align: center;
	display: block;
	overflow: hidden
}


/*memeber reg*/

.memeber_black {
	clear: both;
}

.black_w680 {
	width: 680px;
	float: left;
}

.block_w240 {
	width: 240px;
	float: right;
}

.reg_member_list {
	width: 100%;
	border: 0;
}

.reg_member_list th {
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

.reg_member_list img {
	vertical-align: middle;
}

.reg_member_list td {
	padding: 5px 10px;
	text-align: center
}

.reg_member_list td p {
	text-align: left
}

.btn_reg {
	width: 100%;
	height: 30px;
	line-height: 28px;
	font-weight: bold;
	display: block
}

.text_left {
	text-align: left
}

.tips_star {
	float: right
}

.ex_con,
.exh_ad,
.exh_con,
.news_mainbody,
.offer_list,
.pro_list_news,
.advance_search {
	width: 100%;
}


/*sprite_title*/

.corner_border_box {
	height: 29px;
	border-bottom: 1px solid #8ccdf7;
}

.corner_border_title {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	_position: absolute
}

.substation_area {
	width: 728px;
	height: 148px;
	border: 1px solid #dee9f4;
	background: url(images/area_substation.jpg) no-repeat;
}

.substation_industry {
	width: 728px;
	height: 148px;
	border: 1px solid #aaddfd;
	background: url(images/industry_substation.jpg) no-repeat;
}

.hot_search h3 {
	width: 20px;
	float: left;
	display: inline;
	margin: 5px 0 5px 5px
}

.hot_search div {
	float: right;
	width: 660px;
}

.type .hot_search div a {
	margin: 0 5px;
	display: inline-block
}


/**append**/

.content1 img {
	max-width: 220px;
}


/* for Firefox & IE7 */

* html .content1 img {
	/* for IE6 */
	width: expression(this.width > 220 && this.width > this.height ? 220: true);
}

.messageconright p {
	background: url(images/quhuimima06.jpg) no-repeat left center;
	padding-left: 20px;
	color: #f00;
	line-height: 22px;
}

.job_type_c h3 em,
.co_type_c h3 em,
.co_assort h3 em {
	background: url(images/hot_titlebg.jpg) 9px 9px no-repeat;
	color: #3A8CC0;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
}

.co_type_c_title .more {
	padding: 0 5px;
}

.kinds p span {
	background: url(images/square_bg.gif) no-repeat 0 -98px;
	padding-left: 8px;
	color: #ff9513;
	font-weight: bold;
	margin-right: 5px;
}

.loading {
	margin-bottom: 5px;
	background: url(images/quhuimima_03.jpg) repeat-x;
	width: 950px;
	padding-left: 10px;
	height: 25px;
	padding-top: 5px;
	_padding-top: 9px;
	_height: 21px;
	font-weight: bold;
	color: #666;
}

.quick_filter {
	background: url(images/qiugoupage_07.jpg) no-repeat 10px 3px;
	padding: 0 0 0 18px;
	font-weight: bold;
	color: #FF9513
}

.companylistcontop {
	background: url(images/register01.jpg) no-repeat;
	width: 948px;
	height: 24px;
	font-weight: bold;
	padding: 8px 0 0 10px;
	color: #fff;
}

.find_product_leftcon h2 {
	background: url(images/find_product01.jpg) no-repeat top left;
	font-size: 14px;
	color: #000;
	height: 30px;
	margin: 0 0 10px 0;
	padding: 4px 0 4px 15px;
}

.no_outline a {
	outline: none;
}

.no_outline a {
	hide-focus: expression(this.hideFocus=true);
}

.box_date_search {
	padding: 5px;
}

.box_date_search div {
	padding: 5px 0;
}

.text_center {
	text-align: center
}

.s_input {
	width: 80px;
}

.place_price,
.area_price {
	background: #eff4fa url(images/placeprice_bg.gif) repeat-x 0 0;
	line-height: 20px;
	border: 1px solid #f0f4f5;
	border-top: none;
	padding: 2px 0;
}


/*base list*/

.base_list_box .base_list_head a {
	margin: 0 5px;
	display: inline-block;
	text-decoration: underline
}

.base_list_content {
	padding: 10px;
}

.base_list_img {
	float: left;
	display: inline
}

.base_list_img img {
	width: 80px;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 0 15px 0 0;
}

.base_list_info {
	float: left;
}

.base_list_info .title {
	font-size: 14px;
	font-weight: bold;
	height: 26px;
	overflow: hidden;
	display: block;
}

.base_list_info .update_time {
	height: 22px;
	line-height: 22px;
	color: #999;
}

.base_list_info .update_time em {
	font-style: italic;
	margin: 0 10px 0 0;
}

.base_list_info .txt_source {
	height: 20px;
}

.product_reports_content {
	padding: 10px;
	font-style: 14px;
}

.job_list_c {
	width: 719px;
	min-height: 290px;
	_height: 290px;
	padding-bottom: 15px;
}

.job_good_c {
	padding: 7px 0;
}

.market_list_c {
	padding-bottom: 15px;
}

.qiugouleftcon {
	clear: both;
	padding-bottom: 10px;
}

.pricecontent {
	margin-bottom: 20px;
	padding: 10px;
}

.registercon {
	padding: 30px 10px 20px 10px;
}

.companylistcon {
	width: 758px;
	margin-bottom: 10px;
}

.all_left_con,
.all_right_con {
	padding: 5px 10px 20px 10px;
}

.webmap_right_con {
	text-align: left;
	padding: 10px 10px 40px 10px;
}

.ex_con_left_con_body,
.ex_con_right_con_body {
	padding: 10px;
}

.base_info_content {
	padding: 10px 0 30px 0
}

.new_tips,
.dictionary,
.reports_ads {
	padding: 8px;
}

.category_title a {
	font-weight: bold;
}

.category_content {
	float: left;
	width: 95%
}

