<{assign var="page_title" value="$_get_password"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
<div class="content">
  <div class="tips"><span><{$position}></span></div>
  <div class="base_title">
        <h2><span class="corner_t_l"></span><span class="corner_t_m title_mouse"><{$_reset_password}></span><span class="corner_t_r"></span></h2> 
   </div>
   <div class="quhuimima">
		<div class="remessagecon">
		<form id="ResetFrm" name="reset_frm" method="post" action="getpasswd.php">
		<input type="hidden" name="data[username]" value="<{$username}>" />
		<input type="hidden" name="do" value="reset" />
		<input type="hidden" name="formhash" value="<{$formhash}>" />
		<p><{$_input_info_reset_password}></p><br />
        <table class="messagecon_list">
          <tr>
            <th><{$_user_authentication}></th>
            <td> <input type="text" value="<{$username}>" disabled /> &nbsp;<{$_login_your_account}></td>
          </tr>
          <tr>
            <th class="resetfont"><{$_reset_password}></th>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th><{$_new_password}></th>
            <td> <input type="password" name="data[password1]" id="password1" /> &nbsp;<{$_set_new_password}></td>
          </tr>
          <tr>
            <th><{$_re_enter_new_password}></th>
            <td> <input type="password" name="data[password1]" id="password2" /> &nbsp;<{$_enter_new_password_again}></td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td><input type="button" name="Submit" value="<{$_submit_reset_password}>" class="submit_w118" onclick="return check();" /></td>
          </tr>
        </table>
		</form>

	</div>
</div>

<script>
function check(){
	if($("#password1").val()=="" || $("#password2").val()==""){
		alert("<{$_enter_correct_password}>");
		return false;
	}else if($("#password1").val().length<6 ){
	alert("<{$_enter_valid_password}>")
	return false;
	}else if($("#password1").val()!=$("#password2").val()){
		alert("<{$_enter_password_different}>");
		return false;
	}else{
		$("#ResetFrm").submit();
	}
}
</script>
<{include file="`$ThemeName`/footer.html"}>