<{assign var="page_title" value="`$_get_password`"}>
<{include file="`$ThemeName`/header.html"}>
<style type="text/css">  
label.error {
  font-weight: bold;
  color: #b80000;
}
</style>
<div class="wrapper">
  <div class="content">
    <div class="tips"><span><{$position}></span></div>
    <div class="blank6"></div>
   <div class="quhuimima">  
      <div class="base_title">
         <h2><span class="corner_t_l"></span><span class="corner_t_m title_mouse"><{$_add_details}></span><span class="corner_t_r"></span><span class="title_telephone"><{$_issue_contact}><{$service_tel}></span></h2> 
      </div>
      <div class="messagecon">
              <div class="messageconleft">
              <form name="getpasswdfrm" id="getPasswdFrm" method="post" action="getpasswd.php" onsubmit="$('#GoNext').attr('disabled',true);">
                  <input type="hidden" name="action" value="getpasswd" />
                  <input type="hidden" name="formhash" value="<{$formhash}>" />
                    <strong><{$_input_name_password}></strong><br /><br />
                    <table class="messagecon_list">
                      <tr>
                        <th><{$_login_name}></th>
                        <td><input type="text" name="data[username]" value="" id="dataUsername" /></td>
                      </tr>
                      <tr>
                        <th><{$_your_email}></th>
                        <td><input type="text" name="data[email]" id="UserEmail" value="" /></td>
                      </tr>
                      <tr>
                        <th>&nbsp;</th>
                        <td><input type="submit" name="go_next" value="<{$_send_password_email_next}>" id="GoNext" onclick="return login(this);"  class="submit_w165"/></td>
                      </tr>
                    </table>
                </form>
                </div>
                <img src="<{$theme_img_path}>images/quhuuimima04.jpg" />
                <div class="messageconright">
                <{if $ERRORS}>
                    <p><{$ERRORS}></p>
                <{else}>
                    <{$_if_forget_password_pls_reset}>
                <{/if}>
                </div>
            </div>
    </div>
  </div>
</div>
<script language="javascript" src="scripts/jquery/validate.js"></script>
<script language="javascript">
<{fetch file="scripts/validate.js"}>
</script>
<{include file="`$ThemeName`/footer.html"}>