<{assign var="page_title" value="$_select_buy_service"}>
<{include file="`$ThemeName`/header.html"}>
<style type="text/css">
@import url(<{$theme_img_path}>effect.css);
</style>
<script src="scripts/jquery.tools.js"></script>
<div class="wrapper">
	<div class="tips"><span><{$position}></span></div>  
	<div class="blank6"></div>
         <!-- the tabs -->
        <ul class="tabs2 title_mouse">
              <li><a href="javascript:;"><span><{$_member_upgrade}></span></a></li>
              <li><a href="javascript:;"><span><{$_add_charge}></span></a></li>
              <li><a href="javascript:;"><span><{$_buy_advertising}></span></a></li>
        </ul>
        <!-- tab "panes" -->
	<div class="panes box_bord">
		<div class="charge_txt" style="display:none;">
			<table>
				<form method="post" name="apply_frm" id="ApplyFrm" action="<{$smarty.server.PHP_SELF}>" target="_self" />
				<input type="hidden" name="formhash" value="<{$formhash}>" />
				<input type="hidden" name="product_id" value="1" />
				<input type="hidden" name="do" value="apply" />
				  <tr>
					<th><{$_applicant_name}></th>
					<td><{if $pb_userid}><{$pb_username}><{else}><input name="username" type="text" id="username"><span>*<span><br>
							<{$_applicant_name_conditions}></span><{/if}></td>
				  </tr>
				  <tr>
					<th><{$_applicant_type}></th>
					<td><label>
					  <select name="item_id" id="TotalPrice1">
							  <{foreach from=$Items item=item}>
							  <option value="<{$item.id}>"><{$item.name}>&nbsp;<{$item.price}></option>
							  <{/foreach}>
							</select>
					</label></td>
				  </tr>
				  <tr>
					<th><{$_telephone}></th>
					<td><label>
					  <input name="tel" type="text" class="linehui" id="member_tel" value="<{$MemberInfo.tel}>" disabled="disabled">
							  <span><{$_left_bracket}><a href="javascript:;" onclick="$('#member_tel').attr('disabled',false);"><{$_modify}></a><{$_right_bracket}></span>
					</label></td>
				  </tr>
				  <tr>
					<th><{$_email}></th>
					<td><label>
					  <input name="email" type="text" class="linehui" id="member_email" value="<{$MemberInfo.email}>" disabled="disabled">
							  <span class="fontred"><{$_left_bracket}><a href="javascript:;" onclick="$('#member_email').attr('disabled',false);"><{$_modify}></a><{$_right_bracket}></span>
					</label></td>
				  </tr>
				  <tr>
					<th><{$_description}></th>
					<td><label>
					  <input name="content" type="text" class="linehui" id="content" value="" />
					</label></td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td><input type="button" class="submit_w118" value="<{$_next_step}>" onclick="$('#ApplyFrm').submit();"/></td>
				  </tr>
				  </form>
			</table>
		</div>
        <div class="charge_txt" style="display:none;">
			<table>
				<form method="post" name="charge_frm" id="ChargeFrm" action="<{$smarty.server.PHP_SELF}>" target="_self" />
				<input type="hidden" name="formhash" value="<{$formhash}>" />
				<input type="hidden" name="product_id" value="2" />
				<input type="hidden" name="do" value="apply" />
				  <tr>
					<th><{$_buyer_name}></th>
					<td><{if $pb_userid}><{$pb_username}><{else}><input name="username" type="text" id="username"><span>*<span><br>
							<{$_applicant_name_conditions}></span><{/if}></td>
				  </tr>
				  <tr>
					<th><{$_charge_value}></th>
					<td><label>
					<input name="total_price" id="TotalPrice2" type="text" class="linehui" value="">
					</label></td>
				  </tr>
				  <tr>
					<th><{$_telephone}></th>
					<td><label>
					  <input name="tel" type="text" class="linehui" id="member_tel2" value="<{$MemberInfo.tel}>" disabled="disabled">
							  <span><{$_left_bracket}><a href="javascript:;" onclick="$('#member_tel2').attr('disabled',false);"><{$_modify}></a><{$_right_bracket}></span>
					</label></td>
				  </tr>
				  <tr>
					<th><{$_email}></th>
					<td><label>
					  <input name="email" type="text" class="linehui" id="member_email2" value="<{$MemberInfo.email}>" disabled="disabled">
							  <span class="fontred"><{$_left_bracket}><a href="javascript:;" onclick="$('#member_email2').attr('disabled',false);"><{$_modify}></a><{$_right_bracket}></span>
					</label></td>
				  </tr>
				  <tr>
					<th><{$_select_pay_method}></th>
					<td><label>
					  <select name="payment_id" id="PaymentId">
							  <{foreach from=$payments item=item}>
							  <option value="<{$item.id}>"><{$item.title}></option>
							  <{/foreach}>
							</select>
					</label></td>
				  </tr>
				  <tr>
					<th><{$_description}></th>
					<td><label>
					  <input name="content" type="text" class="linehui" id="content" value="" />
					</label></td>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<td><input type="button" class="submit_w118" value="<{$_next_step}>" onclick="$('#ChargeFrm').submit();"/></td>
				  </tr>
				  </form>
			</table>
        </div>
        <div class="charge_txt" style="display: none;">
			<table>
			<form method="post" name="abuy_frm" id="BuyFrm" action="<{$smarty.server.PHP_SELF}>" target="_self" />
			<input type="hidden" name="formhash" value="<{$formhash}>" />
			<input type="hidden" name="product_id" value="3" />
			<input type="hidden" name="do" value="apply" />
			  <tr>
				<th><{$_nick_name}></th>
				<td><{if $pb_userid}><{$pb_username}><{else}><input name="username" type="text" id="username"><span>*<span><br>
						<{$_applicant_name_conditions}></span><{/if}></td>
			  </tr>
			  <tr>
				<th><{$_adzone_type}></th>
				<td><label>
				<select name="item_id" id="TotalPrice3">
						  <{foreach from=$Adzones item=item}>
						  <option value="<{$item.id}>"><{$item.name}>&nbsp;<{$item.price}></option>
						  <{/foreach}>
						</select>
				</label></td>
			  </tr>
			  <tr>
				<th><{$_telephone}></th>
				<td><label>
				  <input name="tel" type="text" class="linehui" id="member_tel3" value="<{$MemberInfo.tel}>" disabled="disabled">
						  <span><{$_left_bracket}><a href="javascript:;" onclick="$('#member_tel3').attr('disabled',false);"><{$_modify}></a><{$_right_bracket}></span>
				</label></td>
			  </tr>
			  <tr>
				<th><{$_email}></th>
				<td><label>
				  <input name="email" type="text" class="linehui" id="member_email3" value="<{$MemberInfo.email}>" disabled="disabled">
						  <span class="fontred"><{$_left_bracket}><a href="javascript:;" onclick="$('#member_email3').attr('disabled',false);"><{$_modify}></a><{$_right_bracket}></span>
				</label></td>
			  </tr>
			  <tr>
				<th><{$_description}></th>
				<td><label>
				  <input name="content" type="text" class="linehui" id="content" value="" />
				</label></td>
			  </tr>
			  <tr>
				<th>&nbsp;</th>
				<td><input type="button" class="submit_w118" value="<{$_next_step}>" onclick="$('#BuyFrm').submit();"/></td>
			  </tr>
			  </form>
			</table>
        </div>
      </div>
</div>
<script>
$(function() {
$("ul.tabs2").tabs("div.panes > div",{initialIndex:<{$index|default:0}>});
});
</script>
<{include file="`$ThemeName`/footer.html"}>