<{assign var="page_title" value="`$page_title`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
  <div class="content clearfix">
    <div class="tips"><span><{$position}></span></div>
    <div class="blank6"></div>
    <div class="companylistconleft">
        <div class="base_title">
          <h2><span class="corner_t_l"></span><span class="corner_t_m title_mouse"><{$_search_result}></span><span class="corner_t_r"></span></h2> 
	    </div>
        <div class="base_list_box box_bord">
           <div class="base_list_head"><strong><{$_puglish_time}></strong><a href="news/list.php?filter=2592000"><{$_this_month}></a><a href="news/list.php?filter=604800"><{$_this_week}></a><a href="news/list.php?filter=86400"><{$_today_hours}></a></div>
           <div class="base_list_content clearfix">	
           <{foreach from=$Items name=newslist item=item}>
                <div class="base_list clearfix">
                    <{if $item.picture}><div class="base_list_img"><img src="<{$item.image}>" /></div><{/if}>
                    <div class="base_list_info">
                      <span class="title title_link"><a href="news/detail.php?id=<{$item.id}>"><{$item.title}></a></span>
                      <p> <{$item.digest}></p>
                      <div class="update_time"><em><{$_update_time}>(<{$item.pubdate}>)</em><{$_categories}>[<a href="news/list.php?typeid=<{$item.type_id}>"><{$Newstypes[$item.type_id]}></a>]</div>
                      <div class="txt_source"><span class="fr link-underline"><a href="news/detail.php?id=<{$item.id}>"><{$_visit_full_content}>...</a></span><{$item.clicked}> <{$_visited}>&nbsp;<{$_source}><{$item.source|default:$site_name}></div>
                  </div>
                 </div>
                 <hr class="hr_dashed" />
               <{/foreach}>
                <div><{$ByPages}></div>
           </div>
        </div>
    </div>
    <div class="companylistconright">
      <div class="lookcompany">
        <div class="recommendcompanytop"><img src="<{$theme_img_path}>images/lhighs.gif" /><{$_category_nav}></div>
        <div class="companylistseecon">
          <ul>
          	<{foreach from=$SubCats item=item1}>
            <li><a href="news/list.php?typeid=<{$item1.id}>"><{$item1.name}></a></li>
            <{/foreach}>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="lookcompany">
        <div class="recommendcompanytop"><img src="<{$theme_img_path}>images/lhighs.gif" /><{$_hot_info_top}></div>
        <div class="companylistseecon">
          <ul>
          	<{news type="hot" row=10}>
            <li><a href="news/detail.php?id=[field:id]">[field:title]</a></li>
            <{/news}>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="lookcompany" style="margin-top:10px;">
       <div class="companylistseecon" >
        <form action="news/list.php" method="get" id="NewsSearchFrm"><input type="text" name="q" value="" class="input"/><input type="button" value="<{$_search}>" onclick="$('#NewsSearchFrm').submit();" class="submit"/></form></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  </div>
<script>
$("#SearchFrm").attr("action","news/list.php");
$("#topMenuNews").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>