<{assign var="page_title" value="`$_nventory`"}>
<{include file="`$ThemeName`/header.html"}>
<script src="scripts/swfobject1.5.js" type="text/javascript"></script>
<style type="text/css">
@import url(<{$theme_img_path}>effect.css);
</style>
<script src="scripts/jquery.tools.js"></script>
<script src="scripts/jquery.hover.js"></script>
<div class="blank6"></div>
<div class="fullsrceen_ad"><{ads typeid=2}><a href="[link:url]" rel="promotion">[field:src]</a><{/ads}></div>
<div class="blank6"></div>
<div class="container clearfix">
   <div class="main_left_w220">
		<div class="cornerbox">
			<div class="title_bar_s1">
				<span class="title_top_s6"><span></span></span>
				<h3><{$_product_category}></h3>
			</div>
			<div class="price_menu product_menu_list">
				<ul id="topnav">
				<{foreach from=$Industry item=industry_item key=industry_key}>
					<li>
						<a href="product/list.php?industryid=<{$industry_key}>"><{$industry_item.title}></a>
						<{if $industry_item.child}>
						<div class="sub">
						   <div class="row clearfix">
							 <ul>
							 <{foreach from=$industry_item.child item=item_child}>
								<li><a href="product/list.php?industryid=<{$item_child.id}>"><{$item_child.title}></a></li>
							  <{/foreach}>
							 </ul> 
							</div>
						</div>
						<{/if}>
					</li>
				  <{/foreach}>
				</ul>
                <div class="blank6"></div>
			</div>
			<!--<div class="corner_bottom">
				<div class="corner_bottom_l"></div>
				<div class="corner_tottom_r"></div>
			</div>-->
		</div>
      <div class="blank6"></div>
      <div class="title_bar_s1">
        <span class="title_top_s1"><span></span></span>
        <h3><{$_hot_product}></h3>
      </div>
	  <div>
        <ul class="product_sort">
        <{product type="hot" row=10 titlelen="10"}>
        <li><em>[[field:hits]]</em>[link:url]</li>
        <{/product}>
       </ul>
	  </div>
      <div class="blank6"></div>
      <div class="title_bar_s1">
        <span class="title_top_s1"><span></span></span>
        <h3><{$_standards}></h3>
      </div>
	  <div>
        <ul class="product_sort">
        <{standard  row=10}>
        <li>[link:url]</li>
        <{/standard}>
       </ul>
	  </div>
   </div>
   <div class="main_right_w730">  
      <div class="product_reports">
          <div class="product_reports_img"><{ads typeid=4}>This text is replaced by the Flash movie.<{/ads}></div>
          <div class="blank6"></div>
          <div class="base_title">
          <h2><span class="corner_t_l"></span><span class="corner_t_m title_mouse"><{$_category_topics}></span><span class="corner_t_r"></span></h2>
	     </div>

        <div class="product_reports_content box_bord clearfix">
         <h3><span class="find_product_blue"><{$_maybe_browse_categories}></span>&nbsp;&nbsp;<{industry row="25" topid=1}><a href="product/list.php?industryid=[field:id]" title="[field:title]">[field:title]</a> | <{/industry}></h3>
			<{foreach from=$IndustryProducts item=industry_product key=industry_product_key}>         
            <{if $industry_product.sub}>
            <h2 class="find_product_blue"><span><a href="product/list.php?industryid=<{$industry_product.id}>"><{$_more}>...</a></span><{$industry_product.name}></h2>
            <ul>
              <li>
               	<ul class="product_reports_list clearfix">
                <{foreach from=$industry_product.sub item=industry_subproduct key=industry_subproduct_key}> 
                <li><a href="product/content.php?id=<{$industry_subproduct.id}>"><img src="<{$industry_subproduct.image}>" alt="<{$industry_subproduct.name}>" /></a><span><a href="product/content.php?id=<{$industry_subproduct.id}>"><{$industry_subproduct.name}></span></a></li> 
                <{/foreach}>
                </ul>
              </li>
            </ul>
            <{/if}>
            <{/foreach}>
        </div>
      </div>
      <div class="find_product_right">
      <div class="title_bar_s1">
        <span class="title_top_s1"><span></span></span>
        <h3><{$_recommended}></h3>
       </div>
       <ul class="nominate_content clearfix">
		<{product row=8 type="image,commend"}>
		<li>
		 <span class="nominate_img"><a href="product/content.php?id=[field:id]"><img src="[img:src]" width="80" height="80" alt="[field:title]" /></a></span>
		 <span class="nominate_text"><p><a href="product/content.php?id=[field:id]" title="[field:title]">[field:title]</a></p><p title="[field:company]">[field:company]</p></span>
		</li>
      <{/product}>
    </ul>
      </div>
   
   </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	function megaHoverOver(){
		$(this).find(".sub").stop().fadeTo('fast', 10000).show();
			
		//Calculate width of all ul's
		(function($) { 
			jQuery.fn.calcSubWidth = function() {
				rowWidth = 0;
				//Calculate row
				$(this).find("ul").each(function() {					
					rowWidth += $(this).width(); 
				});	
			};
		})(jQuery); 
		
		if ( $(this).find(".row").length > 0 ) { //If row exists...
			var biggestRow = 0;	
			//Calculate each row
			$(this).find(".row").each(function() {							   
				$(this).calcSubWidth();
				//Find biggest row
				if(rowWidth > biggestRow) {
					biggestRow = rowWidth;
				}
			});
			//Set width
			$(this).find(".sub").css({'width' :biggestRow});
			$(this).find(".row:last").css({'margin':'0'});
			
		} else { //If row does not exist...
			
			$(this).calcSubWidth();
			//Set Width
			$(this).find(".sub").css({'width' : rowWidth});
			
		}
	}
	
	function megaHoverOut(){ 
	  $(this).find(".sub").stop().fadeTo('fast', 1, function() {
		  $(this).hide(); 
	  });
	}


	var config = {    
		 sensitivity: 2, // number = sensitivity threshold (must be 1 or higher)    
		 interval: 100, // number = milliseconds for onMouseOver polling interval    
		 over: megaHoverOver, // function = onMouseOver callback (REQUIRED)    
		 timeout: 0, // number = milliseconds delay before onMouseOut    
		 out: megaHoverOut // function = onMouseOut callback (REQUIRED)    
	};

	$("ul#topnav li .sub").css({'opacity':'0'});
	$("ul#topnav li").hoverIntent(config);


});
</script>
<script>
$("#SearchFrm").attr("action","product/list.php");
$("#topMenuProduct").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>



