<{assign var="page_title" value="$_member_reg"}>
<{include file="`$ThemeName`/header.html"}>
<style type="text/css">  
label.error {
  font-weight: bold;
  color: #b80000;
}
</style>
<div class="wrapper">
	<div class="subnav">
        <div class="member_register"><span class="step_11"><{$_fill_reg_info}></span><span class="step_02"><{$_reg_success}></span></div>
     </div>
     <div class="blank6"></div>
     <div class="base_title">
       <h2><span class="corner_t_l"></span><span class="corner_t_m title_mouse"><{$_fill_reg_info}></span><span class="corner_t_r"></span></h2> 
	</div>
	<div class="registercon box_bord">
            <form name="regfrm" id="regfrm" method="post" action="" autocomplete="off" onsubmit="$('#Submit').attr('disabled',true);">
            <input type="hidden" name="formhash" value="<{$formhash}>" />
            <input type="hidden" name="register" value="<{$smarty.get.type}>" />
            <input type="hidden" name="forward" value="<{$smarty.get.forward}>" />
			<label class="registerlabel" for="dataMemberUsername">
			<{$_member_login_name}><span>*</span>
			</label>
			<label>
			<input type="text" name="data[member][username]" id="dataMemberUsername" value="" />
			</label><br />
			<label class="lenglabel" id="membernameDiv">
			<{$_member_login_name_conditions}>
			</label>
            <br clear="all" />
			<label class="registerlabel" for="dataMemberEmail">
			E-mail<{$_colon}><span>*</span>
			</label>
			<label>
			<input name="data[member][email]" id="dataMemberEmail" value="" />
			</label><br />
			<label class="lenglabel" id="memberemailDiv">
			<{$_email_conditions}>
			</label><br clear="all" />
			<label class="registerlabel" for="memberpass">
			<{$_password}><span>*</span>
			</label>
			<label>
			<input type="password" name="data[member][userpass]" id="memberpass" value="">
			</label><br />
			<label class="lenglabel">
			<{$_password_conditions}>
			</label>
			<br clear="all" />
			<label class="registerlabel" for="re_memberpass">
			<{$_re_enter_password}><span>*</span>
			</label>
			<label>
			<input name="re_memberpass" type="password" id="re_memberpass" value="">
			</label><br />
			<label class="lenglabel">
			<{$_re_enter_up_password}>
			</label>
            <br clear="all" />
            <{if $ifcapt}>
			<label class="registerlabel" for="login_auth">
			<{$_code}>
			</label>
			<span class="registercheck"><img class="registerpic" width="123" height="50" id="imgcaptcha" src="captcha.php?sid=<{$sid}>" alt="<{$_unclear_see_numbers}>" title="<{$_unclear_see_numbers}>" />
			<p>
			<object type="application/x-shockwave-flash" data="images/play.swf?audio=captcha.php&amp;do=play&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000" height="19" width="19">
			<param name="movie" value="images/play.swf?audio=captcha.php&amp;do=play&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000" />
			</object>
			<br /><a href="javascript:;"><img src="<{$theme_img_path}>images/gongqiu03.jpg" class="registerpic2" id="exchange_imgcapt" /></a></p><br clear="all" /></span><br clear="all" />
			<label class="checkinput">
			<input name="data[capt_register]" id="login_auth" type="text" value="" size="4" style="width:60px;">&nbsp;&nbsp;<font class="gray"><{$_input_code}></font>
			</label>
            <br clear="all" />
            <{/if}>
			<p class="registerp2"><input name="licence_check" id="LicenseCheck" type="checkbox" onclick="if(this.checked)$('#Submit').removeAttr('disabled'); else $('#Submit').attr('disabled','true');" checked="checked" /><label for="LicenseCheck"><{$_see_agree}></label></p>
            <br clear="all" />
			<p class="registerbutton"><input type="submit" name="Submit" id="Submit" value="<{$_register}>" class="submit_w67" /></p>
			</form>
		</div>
 </div>
<script language="javascript" src="scripts/jquery/validate.js"></script>
<script language="javascript" src="scripts/validate.js" charset="<{$Charset}>"></script>
<{include file="`$ThemeName`/footer.html"}>