<{assign var="page_title" value="`$_customer_service_center`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
	<div class="tips"><span><{$position}></span></div>
	<div class="blank6"></div>  
	<div class="content clearfix">
	  <div class="main_left_w720">
	  	<div class="service_center_txt">
             <div class="intro">
             <span><{$_focus_user_service}></span><em><{$_service_for_your_internet}></em>
             </div>
             <div class="title"><{$_customer_service}></div>
         </div>
		 <div class="corner_box">
			<div class="title_bar_s4">
			 <span class="title_top_s4"><span></span></span>  
			</div>
		   <div class="customer_service box_bord">
			 <table cellspacing="0">
				  <tr>
					<th><{$_problems}></th>
					<th><{$_status}></th>
					<th><{$_submit_time}></th>
					<th><{$_reply_time}></th>
				  </tr>
                  <{foreach from=$Items name=Items item=item}>
				  <tr>
					<td><div class="title"><span>[<a href="service/list.php?typeid=<{$item.type_id}>"><{$item.typename}></a>]</span><a href="service/detail.php?id=<{$item.id}>"><{$item.title}></a></div></td>
					<td><{if $item.revert_content}><span class="answer"><{$_answered}></span><{else}><{$_no_answer}><{/if}></td>
					<td><span<{if $item.revert_content}> class="answer"<{/if}>><{$item.submitdate}></span></td>
					<td><span<{if $item.revert_content}> class="answer"<{/if}>><{$item.revertdate}></span></td>
				  </tr>
                  <{/foreach}>
				</table>
			 <div><{$ByPages}></div>
		 </div>
		</div>
		</div>
	  <div class="main_right_w230">
		<div class="corner_box">
		   <div class="title_bar_s4">
		  <span class="title_top_s4"><span></span></span>
		  <h3><{$_latest_tips}></h3>
		</div>
		   <div class="new_tips">
		<ul>
		<{feed row="10"}>
		  <li>[link:title]</li>
		<{/feed}>
		</ul>
	   </div>
	   </div>
	   </div>
	  </div>
	</div>
</div>
<{include file="`$ThemeName`/footer.html"}>