<{assign var="page_title" value="`$page_title`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
  <div class="content">
    <div class="tips"><span><{$position}></span></div>
    <div class="news_all clearfix">
      <div class="news_all_left">
       <div class="news_title">
        <div class="title_bar_s4">
          <span class="title_top_s4"><span></span></span>
          <h2><span><{$item.title}></span>
          <p><{$_source}><span class="gray"><{$item.source|default:$site_name}></span> <{$_post_time}><span class="gray">(<{$item.pubdate}>)</span><{$_categories}><span class="gray link-underline">[<a href="standard.php?do=search&typeid=<{$item.type_id}>"><{$item.typename}></a>]</span></p>
          </h2>
       </div>
       </div>
        <div class="news_all_left_con">
          <{$item.content}>
		  <div class="clear"></div>
          <div id="news_info"><{if $item.attach_hashid}>[<a href="misc.php?do=download&aid=<{$item.attach_hashid}>" target="_blank"><img src="<{$theme_img_path}>images/download.gif" border="0" /><{$_download_attach}></a>] <{/if}>[<a href="standard.php?do=downloadtxt&id=<{$item.id}>" target="_blank"><img src="<{$theme_img_path}>images/document.gif" border="0" /><{$_download_article}></a>] [<a href="javascript:window.close()"><{$_close_widow}></a>] [<a href="javascript: window.print();"><{$_print_page}></a>] <{$_views}><{$item.clicked}></div>
        </div>
      </div>
      <div class="all_right">
       <div class="title_bar_s4">
          <span class="title_top_s4"><span></span></span>
          <h3><{$_similars}><{$_standards}></h3>
       </div>
        <div class="all_right_con">
          <ul class="news_list">
          <{standard row=10 titlelen=32 typeid=$item.type_id}>
            <li> <a href="standard.php?id=[field:id]" title="[field:fulltitle]">[field:title]</a></li>
          <{/standard}>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<script>
$("#SearchFrm").attr("action","news/list.php");
$("#topMenuNews").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>