<{assign var="page_title" value="`$page_title`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="wrapper">
  <div class="content clearfix">
    <div class="tips"><span><{$position}></span></div>
    <div class="blank6"></div>
    <div class="companylistconleft">
        <div class="base_title">
          <h2><span class="corner_t_l"></span><span class="corner_t_m title_mouse"><{$_search_result}></span><span class="corner_t_r"></span></h2> 
	    </div>
        <div class="base_list_box box_bord">
           <div class="base_list_head"><strong><{$_puglish_time}></strong><a href="standard.php?do=search&filter=2592000"><{$_this_month}></a><a href="standard.php?do=search&filter=604800"><{$_this_week}></a><a href="standard.php?do=search&filter=86400"><{$_today_hours}></a></div>
           <div class="base_list_content clearfix">	
           <{foreach from=$Items name=newslist item=item}>
                <div class="base_list clearfix">
                    <div class="base_list_info">
                      <span class="title title_link"><a href="standard.php?id=<{$item.id}>"><{$item.title}></a><em>(<{$item.create_date}>)</em></span>
                      <p><{$item.digest}></p>
                      <div class="update_time"><{if $item.publish_date}><em><{$_force_time}>(<{$item.publish_date}>)</em><{/if}><{$_categories}>[<a href="standard.php?typeid=<{$item.type_id}>"><{$item.type_name}></a>]</div>
                      <div class="txt_source"><span class="fr link-underline"><a href="standard.php?id=<{$item.id}>"><{$_visit_full_content}>...</a></span><{$item.clicked}> <{$_visited}>&nbsp;<{$_source}><{$item.source|default:$site_name}></div>
                  </div>
                 </div>
                 <hr class="hr_dashed" />
               <{/foreach}>
                <div><{$ByPages}></div>
           </div>
        </div>
    </div>
    <div class="companylistconright">
      <div class="lookcompany">
        <div class="recommendcompanytop"><img src="<{$theme_img_path}>images/lhighs.gif" /><{$_search_by_category}></div>
        <div class="companylistseecon">
          <ul>
          <{foreach from=$Types item=item1 key=key1}>
            <li><a href="standard.php?typeid=<{$key1}>"><{$item1}></a></li>
            <{/foreach}>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="lookcompany" style="margin-top:10px;">
       <div class="companylistseecon" >
        <form action="standard.php" method="get" id="NewsSearchFrm"><input type="hidden" name="do" value="search" /><input type="text" name="q" value="" class="input"/><input type="button" value="<{$_search}>" onclick="$('#NewsSearchFrm').submit();" class="submit"/></form></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  </div>
<script>
$("#SearchFrm").attr("action","standard.php");
$("#topMenuNews").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>