/** About links **/
a:link,a:visited { color:#333333; text-decoration:none;}
a:hover,a:active { color: #0688db}
.underline a:hover {text-decoration:underline;}
a.btn_free:hover,a:active { color:#000000; }
.bg_hover:hover {background-color:#f4f8fb;border:2px solid #7cc0e3;margin:-2px;}
.title_color,.company_login_color { }
.wrapper .title_link a { color:#0099ff}
.wrapper .title_link { color:#666666}
.search_panel .history, .search_panel .history a,.search_panel .history a:hover {color:#000;}
.typeboxlet01:link,.typeboxlet01:visited{ font-size:13px; color:#0048A2; font-weight:bold; margin-right:10px;}
.typeboxlet01:hover{  color:#0048A2; text-decoration:underline; }
.job_type_c h3 em a,.co_type_c h3 em a,.co_assort h3 em a{color:#3A8CC0;}
.news_title P a { color:#666666;font-weight:normal;}
.offer_login_content p a { color:red;}
.user_reg p a { color:#000000 ;font-weight:bold; }
.member_room a span{ color:#1c9df0; padding:0 5px;}
.customer_service .title span a, .new_tips li a span , .new_tips .break a, .guest_book p a { color:#3399ff;}
.corner_box .new_tips a, .corner_box .new_tips li a { text-decoration:underline;color:#3399FF}
.price_menu .btn_price_all a, .price_menu_today .btn_price_all a  {color:#49b3f7}
.product_hot p a { color:#6b6c6c}
.brand_hot .letter_product_content ul li h3 a {color:#2099e7;}
.corner_content_s7 li a { color:#0000ff}
.subnav a { color:#929191; font-weight:normal;}
.substation h3 a {color:#2376b3; }
#nav_inner ul li a { color:#fff; }
.tag a span { margin-left:15px; display:inline-block; color:#0066ff; cursor:pointer}
.tips span a:hover {color: #0688db}
/*font color*/
.font14 {color:#1983bb; font-size:14px; font-weight:bold;}
.gray { color:#666666}
.co01{ color:#EF700A;}
.black{color:#000;}
.red{color:#f00;}
.help_lcont h2 a { color:#4283ba;}
.help_telcont{color:#666;}
.remessagecon p.resetpassword{color:#0090ed;font-weight:bold;font-style:normal;}
.resetfont { color:#0090ed; height:50px; text-align:left}
.market_list .price .pricecon em{color:#B41212;font-size:13px;margin:0 3px;}
.market_list_c ul li h2 em{font-size:13px;color:#666;margin-left:5px;}
.exhibition_c .companylistcontent .span6{width:150px;text-align:center;padding:0px 0px;margin:0; display:inline; overflow:hidden; vertical-align: middle; color:#333}
.exhibition_c .companylistcontent div p span.span4 a{font-size:13px;font-weight:bold;color:#0090ED;}
.qiugouleftcon .offer_info .smallblue { color:#0099FF}
.qiugouleftcon .offer_info .smallblue a {color:#0099FF}
.detailcon ul.paragraphs li.paragraph span,.detailcon2 ul.paragraphs li.paragraph span{color:#0048a2;}
.detailcon ul.paragraphs li.paragraph span.gray,.detailcon2 ul.paragraphs li.paragraph span.gray{color:#666;}
.takenumber p{margin:35px 0 0 10px;font-weight:bold;color:#f00;}
.right1 a {font-size:14px;color:#0090ed;font-weight:bold;}
.preview{color:#0090ed;margin:0 4px;}
.spellprice{font-weight:bold;color:#82ea48;}
.content3 p{color:#666;clear:both;font-weight:normal;padding:10px 0 0 120px;border:none;}
.registerlabel span{color:#f00;font-weight:normal;margin:0 3px;}
.registercon .registerp1{color:#666;}
.registercon .registerp2 span{color:#0090ed;}

.loading span{color:#b41212;}
.loadingconleft p,.loadingconright p{color:#0090ed;font-weight:bold;font-size:14px;border-bottom:1px solid #0090ed;padding-bottom:5px;}
.loadingconleft .loadingp1,.loadingconleft .loadingp2,.loadingconleft .loadingp3{font-weight:normal;border:none;color:#000;margin:10px 0 0 25px;font-size:12px;}
.loadingconleft .loadingp1{margin-left:80px;color:#666;margin-top:8px;}
.loadingconright ul li p{border:none;font-weight:normal;color:#000;font-size:12px;width:110px;float:left;margin-top:6px;}
.companylisttop span,.companylisttop2 span{color:#ff9513;font-weight:bold;margin-right:10px;}
.companylistcontopspan{color:#000;margin:0 5px;}
.companylistcontent div p span.span4,.companylistcontent2 div p span.span4{color:#0048a2;font-weight:bold;font-size:14px;margin-right:5px;}
.companylistcontent div p span.span5,.companylistcontent2 div p span.span5{color:#666;}
.companylistseecon p span{font-weight:bold;color:#0090ed;}
.serviceconrightcon span{color:#00f;text-decoration:underline;}
.all_right_con h2{color:#0090ed;}
.webmap_left_con1 h2,.webmap_left_con2 h2{ color:#0090ed; margin-left:5px; margin-top:5px;}
.webmap_right_title span{color:#000;font-weight:bold;margin-left:18px;margin-top:5px; line-height:30px;}
.ex_con_left_title p{color:#000; font-weight:bold; text-align:center;display:block; line-height:28px; padding-left:15px;}
.exh_recentlist .sort { width:65px; float:left; overflow:hidden; display:block;}
.hot_word{padding:5px;}
.find_product_mid_top h2{font-size:14px; color:#000; height: 32px;margin: 0 0 10px 0;padding: 4px 0 4px 15px; line-height:30px; display:inline;}
.find_product_blue{color:#1a7ac1; font-weight:bold;}
.find_product_mid_con{color:#1a7ac1;}
.news_list_title{ color:#0090ed;}
.offer_list_top1_news ul li.title h3 span{margin-left:0px; color:#2376b3; }
.offer_list_blueword{color:#129ef9;}
.title_time h4 { text-align:center; width:328px; font-size:14px; font-weight:bold; color:#2376b3; background-color:#e2f4fd; height:25px; line-height:25px;border-left:1px #B7E4FB solid;border-right:1px #B7E4FB solid;}
.base_info_content .star { color:#FF0000; padding:5px 0 0 5px; vertical-align:middle}
.substation_tips { height:25px; line-height:25px; text-indent:30px; color:#096db6}
 .substation_area h2 span {color:#1b496b; font-size:26px;}
     .substation_industry h2 span {color:#1b496b; font-size:26px;}
	 .substation_product { background-color:#e3f3fb; padding:10px}
	 
 .lemma_list li p { font-size:12px; font-weight:normal; color:#000000; padding:5px 0;*padding:0 }
 .lemma_list li p span, .lemma_list li p span a { color:#0090ed}
.lemma_list li { font-size:14px;color:#0090ed; font-weight:bold;}
.service_center_txt .intro span { color:#eab847; font-size:16px; font-weight:bold; line-height:120%; display:block; text-align:center; padding:5px 0}
.service_center_txt .intro em { font-size:14px; font-weight:bold; color:#666666; text-align:right; display:block;}
.service_center_txt .title {float:right; width:160px; font-size:24px; font-weight:bold; color:#346a96; line-height:180%;  padding:20px 0 0 0; display:block}
.customer_service .answer, .service_detail_content p span, .service_detail_content .appraise span { color:#ccc}
.brand_category_list h3 { color:#1a7ac1; height:24px; line-height:24px; overflow:hidden}
.letterindex h3 { font-size:14px; font-weight:bold; float:left;width:100px; text-align:center; color:#5ab8f5; line-height:30px;}
.letter_product_content ul li h3 { color:#2099e7; font-size:14px; border-bottom:1px solid #d1ecfd; height:24px; line-height:24px; margin:5px 10px 0 }
.product_hot em { height:18px; overflow:hidden; color:#FF0000}

.help_lcont h2{ font-size:14px; color:#4283BA; padding:15px;}

.lookcompany,.recommendcompany{width:188px;border:1px solid #b8e3ff;height:auto;margin-top:6px;}
.companylistsee{width:188px;border:1px solid #b8e3ff;height:auto;margin-top:6px;}
.buymessage,.recommendcompany{width:188px;border:1px solid #b8e3ff;height:auto;margin-top:6px;}

.letter_product_content th {background:#d1ecfd; width:20px; padding:10px; font-size:14px; font-weight:bold;}

.letter_product_content td { padding:5px 0px;}
.bg_base {background:#f1f9fe;}
.wrapper .big-color-weight a {color: #fff;text-decoration:none;}
.letter_product_content .padding0 { padding:0; height:2px; line-height:0px;}

.highlight {color: #CC0033; }