<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 插件 &raquo; 管理</p>
</div>
<div id="rightTop"> 
    <h3>插件</h3> 
    <ul class="subnav">
		<li><a href="plugin.php">管理</a></li>
        <li><a class="btn1"><span><{$title}></span></a></li>
    </ul>
</div>
<div class="info">
  <form action="plugin.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />
  <input type="hidden" name="entry" value="<{$name}>" />
  <input type="hidden" name="formhash" value="<{$formhash}>" />
    <table class="infoTable">
	<tr>
        <th class="paddingT15"> Flash播放器地址：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[movie]" value="<{$movie|default:'plugins/vcastr/vcastr22.swf'}>" /></td>
      </tr>
	  <tr>
        <th class="paddingT15"> FlashVars：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[flashvars]" value="<{$flashvars|default:'plugins/vcastr/video.xml'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 播放器宽度：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="pluginvar[width]" value="<{$width|default:410}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 播放器高度:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[height]" value="<{$height|default:190}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 播放器水印文字:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[flashtitle]" value="<{$flashtitle|default:'PHPB2B Athena DEMO'}>" /></td>
      </tr>
	  <{foreach from=$data key=k item=v}>
      <tr>
         <th class="paddingT15">视频属性</th>
        <td class="paddingT15 wordSpacing5"><input name="source[]"  value="<{$k}>" />&nbsp;<input name="title[]" value="<{$v}>" /></td>
      </tr>
	  <{foreachelse}>
      <tr>
        <th class="paddingT15">视频属性</th>
        <td><input name="source[]" style="color:gray;" onfocus="if(this.value=='请输入视频地址'){this.value=''};" value="请输入视频地址" />&nbsp;<input name="title[]" style="color:gray;" onfocus="if(this.value=='请输入视频标题'){this.value=''};" value="请输入视频标题" /></td>
      </tr>
	  <{/foreach}>
	  <tbody>
	  <tr id="tRow0" style="display : none ;">
        <th class="paddingT15">新增视频</th>
        <td><input name="source[]" style="color:gray;" onfocus="if(this.value=='请输入视频地址'){this.value=''};" value="请输入视频地址" />&nbsp;<input name="title[]" style="color:gray;" onfocus="if(this.value=='请输入视频标题'){this.value=''};" value="请输入视频标题" /></td>
      </tr>
	  </tbody>
	  <tr>
        <th class="paddingT15"> <img src="images/add.gif" /><a href="javascript:;" onclick="$('#tRow0').clone().show().appendTo( $('#tRow0').parent() );" style="color: blue;">&nbsp;添加视频</a></th>
        <td class="paddingT15 wordSpacing5"></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" id="Save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>