<div>
   <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="<{$width|default:410}>" height="<{$height|default:190}>">
   <param name="movie" value="<{$movie}>?LogoText=<{$flashtitle}>&IsAutoPlay=1&IsContinue=1&vcastr_xml=<{$flashvars}>">
   <param name="quality" value="high">
   <param name="allowFullScreen" value="true" />
   <embed src="<{$movie}>?LogoText=<{$flashtitle}>&IsAutoPlay=1&IsContinue=1&vcastr_xml=<{$flashvars}>" allowFullScreen="true" quality="high" type="application/x-shockwave-flash" width="<{$width}>" height="<{$height}>"></embed>
</object>
</div>