<{assign var="PageTitle" value="`$_space_album`"}>
<{assign var="cur" value="space_album"}>
<{include file="header.html"}>
<div class="wrapper">
	<{include file="banner.html"}>
	<div class="content">
		<{include file="leftbar.html"}>
			<div class="rightbarcontact">
					<div class="playercontact">
					<div class="playerheadcontact"><span class="playlistcontact"><{$_space_album}></span><span class="player_head_concontact"></span><img src="images/contactus_13.jpg" /></div>
					<div class="clear"></div>
					<div class="player_concontact clearfix">
					<{if $Items}>
						<ul>
						<{foreach from=$Items item=item}>
							<li><a href="<{$item.middleimage}>" rel="facebox"><img src="<{$item.image}>" width="80" height="80" alt="<{$item.title}>" border="0"></a><p><{$item.title|truncate:20}></p></li>
						<{/foreach}>				
						</ul>
						<div class="clear"></div>
						<p class="page"><{$ByPages}></p>
					<{/if}>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
<{include file="footer.html"}>