<{assign var="PageTitle" value="`$_contact_us`"}>
<{assign var="cur" value="space_contact"}>
<{include file="header.html"}>
<div class="wrapper">
	<{include file="banner.html"}>
	<div class="content">
	<{include file="leftbar.html"}>
	<div class="rightbarcontact">
			<div class="playercontact">
			<div class="playerheadcontact"><span class="playlistcontact"><{$_contact_us}></span><span class="player_head_concontact"></span><img src="images/contactus_13.jpg" /></div>
			<div class="clear"></div>
			<div class="contact_list">
				<p><span>Company name:</span><{$COMPANY.name}></p>
				<p><span>Contact:</span><{$COMPANY.link_man}></p>
				<p><span>phone:</span><{$COMPANY.tel}></p>
				<p><span>fax:</span><{$COMPANY.fax}></p>
				<p><span>e-mail:</span><{mailto address="`$COMPANY.email`" encode="javascript" text="`$COMPANY.email`"}></p>
				<p><span>Address:</span><{$COMPANY.address}></p>
				<p><span>Postal Code:</span><{$COMPANY.zipcode}></p>
				<p><span>URL:</span><{$COMPANY.site_url}></p>
				<{plugin name="googlemap" lng=`$COMPANY.map_longitude` lat=`$COMPANY.map_latitude` title=`$COMPANY.name`}>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<{include file="footer.html"}>