<{assign var="PageTitle" value="`$_feed_back_to_company`"}>
<{assign var="cur" value="space_index"}>
<{include file="header.html"}>
<div class="wrapper">
	<{include file="banner.html"}>
	<div class="content">
		<{include file="leftbar.html"}>
		<div class="rightbarcontact">
					<div class="playercontact">
					<div class="playerheadcontact"><span class="playlistcontact"><{$_feed_back_to_company}></span><span class="player_head_concontact"></span><img src="images/contactus_13.jpg" /></div>
					<div class="clear"></div>
					<div class="playerconmessage">
						<form name="feedfrm" action="" method="post">
						<input type="hidden" name="companyid" value="<{$COMPANY.id}>">
						  <label class="messagecon">留言内容：</label>
						  <label>
						  <textarea name="feed[content]" class="textarea"><{if $pb_userid==""}>请您先登陆...<{/if}></textarea>
						  </label>
						  <div class="clear"></div>
						  <label>
						  <input type="submit" name="save" value="提交"  class="massage_button1" <{if $pb_userid==""}>disabled="disabled"<{/if}>/>
						  </label>
						  <label>
						  <input type="submit" name="reset" value="重填"  class="massage_button"/>
						  </label>
						</form>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
<{include file="footer.html"}>