	<div class="notice">
		<p><span>免责说明：</span> 本商铺内所展现的公司信息、产品信息及其他相关信息均由商铺所属企业自行提供，信息的真 实性、准确<br/>性和合法性由商铺所属企业完全负责。 <span><{$site_name}></span>对此不承担任何保证责任!<br/>
<span>特别提醒：</span> 为保障您的利益及交易安全，建议您在确定贸易伙伴时优先选择名企会员和信用会员。</p>
	</div>
	<div class="foot">
		<p>Copyright (c) <{$company_name}>。All rights reserved.</p>
		<{if $pb_username!=""}><a href="<{$SiteUrl}>office-room/">管理员入口</a>　|　<{/if}><a href="<{$SiteUrl}>help/">使用帮助</a>　|　<a href="javascript:;" class="top">返回顶部</a>
	</div>
	<div><img src="images/contactus_22.gif"></div>
</div>
</body>
</html>