<{assign var="PageTitle" value="`$item.name`"}>
<{assign var="cur" value="space_hr"}>
<{include file="header.html"}>
<div class="wrapper">
	<{include file="banner.html"}>
	<div class="content">
		<{include file="leftbar.html"}>
			<div class="rightbarcontact">
			    <div class="company_job">
                    <p class="title">职位名称：<{$item.name}></p>
                        <p><strong>性别要求：</strong><{$Gender[$item.require_gender_id]}></p>
						<p><strong>招聘人数：</strong><{$item.peoples}></p>
						<p><strong>学历要求：</strong><{$Education[$item.require_education_id]}></p>
						<p><strong>年龄要求：</strong><{$item.require_age}></p>
						<p><strong>薪资范围：</strong><{$Salary[$item.worktype_id]}></p>
						<p><strong>工作地点：</strong><{$item.work_station}></p>
						<p><strong>工作性质：</strong><{$Worktype[$item.worktype_id]}></p>
						<p><strong>发布日期：</strong><{$item.created|date_format:"%Y-%m-%d"}></p>
						<p><strong>职位描述/要求：</strong><{$item.content}></p>
                   </div>
			</div>
			<div class="clear"></div>
		</div>
<{include file="footer.html"}>