<{assign var="PageTitle" value="`$_space_intro`"}>
<{assign var="cur" value="space_intro"}>
<{include file="header.html"}>
<div class="wrapper">
	<{include file="banner.html"}>
	<div class="content">
		<{include file="leftbar.html"}>
			<div class="right_barintro">
				<div class="pic"><img src="<{$COMPANY.logo}>" /><p><span><{$_space_intro}></span><br /><br />    <{$COMPANY.description}></p>
		<div class="clear"></div></div>
		<div class="text">
			<ul>
				<li><p><span>法人代表/负责人：</span></p><p><{$COMPANY.boss_name}></p></li>
				<li><p><span>主营行业：</span></p><p><{$COMPANY.main_prod}></p></li>
				<li><p><span>公司类型：</span></p><p><{$COMPANY.ecnomy}></p></li>
				<li><p><span>经营模式：</span></p><p><{$COMPANY.manage_type}></p></li>
				<li><p><span>主要经营地点：</span></p><p><{$COMPANY.main_biz_place}></p></li>
				<li><p><span>注册资本：</span></p><p><{$COMPANY.reg_fund}></p></li>
				<li><p><span>注册年份：</span></p><p><{$COMPANY.found_year}></p></li>
				<li><p><span>注 册 地：</span></p><p><{$COMPANY.reg_address}></p></li>
			</ul>
		</div>
		</div>
		<div class="clear"></div>
</div>
<{include file="footer.html"}>