<{assign var="PageTitle" value="`$item.title`"}>
<{assign var="cur" value="space_news"}>
<{include file="header.html"}>
<div class="wrapper">
	<{include file="banner.html"}>
	<div class="content">
		<{include file="leftbar.html"}>
			<div class="rightbarmore">
						<p class="title"><{$item.title}></p><br />
						<br />
						<p><{$item.content}></p>
						<p style="text-align:right;">【<a href="javascript:window.close()" class="link12_blue">关闭窗口</a>】【<a href="javascript: window.print();" class="link12_blue">打印</a>】</p>
						
			</div>
			<div class="clear"></div>
		</div>
<{include file="footer.html"}>