/*  
The Name: 默认企业模板
The URI: http://demo.phpb2b.com/cn/
Description: A PHPB2B Corperate Templet. Enjoy!
Author: PB TEAM
Author URI: http://www.phpb2b.com/
Version: 3.0
*/
* { padding:0; margin:0; font-size:12px;}
body, th, td, input, select, textarea { font: 12px/1.5em Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; }
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form, img,fieldset { margin: 0; padding: 0;border:none; list-style-type:none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style: none; }
select { margin-right: 2px; }
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover { color: #0033FF}
a img { border: none; }
em { font-style:normal;}
div{margin:0 auto; padding:0;}
table {border-collapse:collapse;} 
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
*html .clearfix{ height:1%;}
*+html .clearfix{ height:1%;}
.wrapper{width:960px;height:auto;margin:0 auto;padding:5px 0 20px 0;}
.head{background:url(images/contactus_03.jpg) no-repeat;width:960px;height:110px;padding-top:60px;z-index:1;position:relative;}
.head span{color:#fff;}
.head ul.list1{list-style-type:none;height:15px;padding-right:30px;}
.head ul.list1 li{float:right;}
.head ul.list1 li.company{background:url(images/contactus_03.gif) no-repeat;padding-left:20px;margin-left:10px;}
.head ul.list1 li.message{background:url(images/contactus_06.gif) no-repeat;padding-left:19px;margin-left:20px;}
.imgabsolute,.imgabsolute2{position:absolute;}
.imgabsolute{left:27px;top:25px;font-size: 25px;line-height: 200%}
.imgabsolute2{left:28px;top:100px;}
.global_link{z-index:2;margin-top:25px;font-size:14px;height:40px;overflow:hidden;}
.global_link ul.list2{list-style-type:none;height:40px;overflow:hidden;}
.global_link span,.global_link ul.list2{float:left;}
.global_link ul.list2 li{float:left;background:url(images/contactus_14.jpg) no-repeat;width:81px;height:23px;text-align:center;padding-top:6px;margin:11px 4px 0;}
.global_link span{margin:10px 33px 0 60px;color:#23528c;}
.clear{width:1px;height:1px;overflow:hidden;;clear:both;visibility:hidden;}
.global_link ul.list2 li.home{background:url(images/contactus_11.jpg) no-repeat;width:81px;height:27px;z-index:3;margin-top:0;padding-top:13px;}
.global_link ul.list2 li.home a{color:#fff;text-decoration:none;font-weight:bold;}
.global_link ul.list2 li.home a:hover,.global_link ul.list2 li.home a:active{color:#000;text-decoration:none;}
#tips{background:#013256;height:20px;color:#9dadc2;padding:10px 0 0 20px;}
#tips a { color:#9dadc2;}
.content{height:auto;margin-top:6px;}
.leftbar{width:201px;height:auto;float:left;}
.latest_news{width:196px;height:auto;background:#f4f5f5 url(images/contactus_06.jpg) no-repeat left top;padding:0px 0 20px 5px;}
.latest_news div img,.latest_news div p{float:left;}
.latest_news div img{margin-top:1px;margin-left:20px;}
.latest_news p{color:#fff;font-size:14px;font-weight:bold;margin-bottom:16px;padding:8px 0 0 23px;height:23px;}
.latest_news ul{list-style-type:none;}
.latest_news ul li{background:url(images/contactus_20.jpg) no-repeat left 4px;padding-left:10px;line-height:20px;}
.latest_news ul li a{display:block;text-overflow:ellipsis;width:170px;overflow:hidden;white-space:nowrap;}


.rightbar{width:707px;height:auto;border:1px solid #ccc;float:left;margin-left:10px;display:inline;padding:25px 20px 10px 20px;}
.welcome p{float:left;}
.welcome img { float:left;border:1px solid #374E6C; padding:5px;}
.welcome{margin-bottom:6px;}
.welcome p{width:402px;margin-left:30px;line-height:18px;}
.title{font-weight:bold;font-size:14px;}
.more{margin-left:310px;}

.welcome img {max-width: 240px;max-height: 175px;} /* for Firefox & IE7 */
* html .welcome img { /* for IE6 */
width: expression(this.width > 240 && this.width > this.height ? 175:true );
height: expression(this.height > 175 ? 175:true );
}

.playerheadcon{background:url(images/contactus_12.jpg) repeat-x;width:570px;height:30px;}
.playerhead img,.playerheadcon,.playerhead span{float:left}
.playlist{background:url(images/contactus_10.jpg) no-repeat;width:102px;height:24px;font-size:14px;color:#fff;font-weight:bold;padding:6px 0 0 20px;}
.playerheadcon img{margin:8px 0 0 500px;}
.playercon{border:1px solid #374e6c;padding:10px 10px 20px 10px;margin-top:-1px;}
.playercon ul{list-style-type:none;}
.playercon ul li{float:left;width:80px;margin:5px 15px; display:block; overflow:hidden;}
.playercon ul li img{ width:80px; height:80px; display:block;}
.playercon ul li p{ text-align:left; width:80px; height:40px; line-height:20px; overflow:hidden}


.notice{height:60px;background:#063659;margin-bottom:6px;padding:10px 0 0 100px;color:#fff;}
.notice p{line-height:17px;background:url(images/pic_10.jpg) no-repeat;padding-left:40px;}
.notice p span{color:#fd0101;}
.notice p span a{color:#fd0101;text-decoration:none;}
.notice p span a:hover,.notice p span a:active{color:#000;text-decoration:none;}

.foot{border:1px solid #374e6c;height:42px;border-bottom:none;padding:30px 0 0 50px;}
.foot p{float:left;margin-right:200px;display:inline;}

.rightbarcontact{width:749px;height:auto;float:left;margin-left:10px;display:inline;padding:0px 0px 6px 0px;}
.player_head_concontact{background:url(images/contactus_12.jpg) repeat-x;width:612px;height:30px;}
.playerheadcontact img,.player_head_concontact,.playerheadcontact span{float:left}
.playlistcontact{background:url(images/contactus_10.jpg) no-repeat;width:102px;height:24px;font-size:14px;color:#fff;font-weight:bold;padding:6px 0 0 20px;}
.player_head_concontact img{margin:8px 0 0 500px;}
.player_concontact{border:1px solid #374e6c;padding:20px 10px 10px 10px;margin-top:-1px;}
.player_concontact p{ text-align:left; width:80px; height:25px; line-height:25px; overflow:hidden}
.player_concontact p span{float:left;font-weight:bold;width:100px;text-align:right;}
.contact_list{border:1px solid #374e6c;padding:20px 10px 10px 10px;margin-top:-1px;}
.contact_list p{ text-align:left; height:30px; line-height:30px; overflow:hidden}
.contact_list p span{float:left;font-weight:bold;width:100px;text-align:right;}
.contact_list 
.right_barjoinin{width:667px;float:left;margin-left:10px;display:inline;border:1px solid #d6ebfd;padding:20px 30px 20px 50px;}
.title{text-align:center;font-weight:bold;font-size:14px}
.right_barjoinin p{line-height:30px;height:30px;}
.right_barjoinin span{font-weight:bold;float:left;width:100px;text-align:right;margin-right:10px;}
.special{padding-left:110px;}
.player_concontact li{float:left;margin:3px 18px;text-align:center; width:80px; display:block; overflow:hidden}
.player_concontact li p{line-height:20px; height:40px;}
.player_concontact p.page span{font-weight:normal;width:70px;text-align:center;}
.player_concontact p.page span span{color:#f00;float:none;}
.player_concontact p.page{margin-top:30px;padding-left:120px;height:22px;color:#013256;overflow:hidden;}

.companytitle{font-weight:bold;}

.playerconmessage label{display:block;float:left;}
.playerconmessage label.messagecon{margin:80px 20px 0 0;}
.textarea{width:588px;height:180px;}
.massage_button,.massage_button1{background:url(images/pic_25.gif) no-repeat;width:79px;height:30px;border:none;margin:20px 40px 0 0;}
.massage_button1{margin-left:300px;}
.playerconmessage{width:727px;height:240px;border:1px solid #374e6c;padding:20px 10px 20px 10px;margin-top:-1px;}
.rightbarmore{width:707px;height:auto;float:left;margin-left:10px;display:inline;border:1px solid #ccc;padding:20px 20px 20px 20px;}
.rightbarmore p{line-height:18px;}
.right_barintro{width:707px;float:left;margin:0 0 6px 10px;display:inline;border:1px solid #d6ebfd;padding:20px 20px 20px 20px;}
.right_barintro .pic p,.right_barintro .pic img{float:left;}

.right_barintro .pic img{  display:block; overflow:hidden}
.right_barintro .pic img {max-width: 240px;max-height: 175px;} /* for Firefox & IE7 */
* html .right_barintro .pic img { /* for IE6 */
width: expression(this.width > 240 && this.width > this.height ? 175:true );
height: expression(this.height > 175 ? 175:true );
}
.right_barintro .pic p{width:400px;line-height:18px; margin:0 0 0 30px;}
.right_barintro .pic p span{font-weight:bold;font-size:14px;}
.right_barintro .pic{border-bottom:1px dotted #ccc;}
.pic{padding-bottom:20px;}
.text{margin-top:20px;}
.text ul{list-style-type:none;}
.text ul li{float:left;width:347px;margin:12px 0;}
.right_barintro .text ul li p{line-height:20px;}
.text ul li span{font-weight:bold;}
.hr_content {border:1px solid #374e6c;padding:20px 10px 10px 10px;margin-top:-1px;}
.company_job { padding:10px 20px}
	.company_job .title { font-size:14px; font-weight:bold; height:30px; line-height:30px; padding:0 0 10px 30px}
	.company_job span { display:inline-block; float:left; width:100px; text-align:right; overflow:hidden; font-weight:bold; padding:0 10px;}
	.company_job p { line-height:24px; height:auto}
	.company_job .special { text-indent:35px;}
