<{include file="header.html"}>
<script src="../scripts/jquery/facebox.js" type="text/javascript"></script>
<link href="../images/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script>
jQuery(document).ready(function($) {
	$.facebox.settings.loadingImage = '<{$SiteUrl}>images/facebox/loading.gif'; 
	$.facebox.settings.closeImage = '<{$SiteUrl}>images/facebox/closelabel.gif'; 
	$('a[rel*=facebox]').facebox() 
})
</script>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_ads}> &raquo; <{$_ads}></p>
</div>
<div id="rightTop"> 
    <h3><{$_ads}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="ad.php"><span><{$_management}></span></a></li>
        <li><a href="ad.php?do=edit"><{$_add_or_edit}></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
        <input type="hidden" name="do" value="search" />
             <div> 
                <select class="querySelect" name="adzone_id" id="AdzoneId">
				<option value="0"><{$_pls_select}><{$_adzone}></option>
				<{foreach from=$Adzones item=item}>
                <option value="<{$item.id}>"><{$item.name}></option>
                <{/foreach}>
				</select>
                <input type="submit" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll"><{$_the_title}></label></th>
		  <th>位置</th>
		  <th>是否上线</th>
		  <th><{$_if_valid_n}></th>
		  <th>图例</th>
		  <th>点击数</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.title}></label></td>
		  <td><a title="点击搜索" href="ad.php?do=search&adzone_id=<{$item.adzone_id}>"><{$item.adzone}></a></td>
		  <td><{$AdsStatus[$item.state]}></td>
		  <td><{$AdsStatus[$item.status]}></td>
		  <td><{if $item.is_image==1}><a href="<{$item.src}>" rel="facebox"><img class="double-border" src="<{$item.src}>" width="150" /></a><{else}><{$item.start_date|date_format:"%Y-%m-%d"}><{$_arrive_to}><{$item.end_date|date_format:"%Y-%m-%d"}><{/if}></td>
		  <td><{$item.clicked}></td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_delete" href="ad.php?id=<{$item.id}>&adzone_id=<{$item.adzone_id}>&do=del<{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="ad.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
          </ul>      
          </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="7"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
      <input type="submit" name="down" value="下线" class="formbtn batchButton"/>
      <input type="submit" name="up" value="上线" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>