<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_system_tool}> &raquo; <{$_my_notes}></p>
</div>
<div id="rightTop"> 
    <h3><{$_my_notes}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="adminnote.php"><span><{$_management}></span></a></li>
        <li><a href="adminnote.php?do=edit"><{$_add_or_edit}></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
        <input type="hidden" name="do" value="search" />
             <div> 
				<{$_title_or_keywords}> : <input class="queryInput" type="text" name="q" value="<{$smarty.get.q}>" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="adminnote.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll"><{$_the_title}></label></th>
		  <th>内容摘要</th>
		  <th>时间</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.title|truncate:35}></label></td>
		  <td><{$item.content|truncate:100|strip_tags}></td>
		  <td><{$item.created|date_format:"%Y-%m-%d"}></td>
		  <td class="handler">
           <ul id="handler_icon">
            <li><a class="btn_delete" href="adminnote.php?id=<{$item.id}>&do=del<{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="adminnote.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
          </ul>  
		 </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="5"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>