<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_member_center}> &raquo; <{$_administrator}></p>
</div>
<div id="rightTop"> 
    <h3><{$_administrator}></h3> 
    <ul class="subnav">
		<li><a href="adminer.php"><{$_management}></a></li>
		<li><a href="adminer.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a class="btn1" href="adminer.php?do=password"><span><{$_change_pass}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="adminer.php" id="EditFrm" name="edit_frm">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> Old password: </th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[old_pass]" type="password" id="dataOldPass" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> New password:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[adminer][user_pass]" type="password" id="dataAdminerUserPass" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> Enter the new password again:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[new_pass]" type="password" id="dataNewPass" /></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="changepass" value="change Password" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>