<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_system_tool}> &raquo; <{$_my_notes}></p>
</div>
<div id="rightTop"> 
    <h3><{$_my_notes}></h3> 
    <ul class="subnav">
		<li><a href="adminnote.php"><{$_management}></a></li>
        <li><a class="btn1" href="adminnote.php?do=edit"><span><{$_add_or_edit}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="adminnote.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <{$_title_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[adminnote][title]" value="<{$item.title}>" /></td>
      </tr>
      
      <tr>
        <th class="paddingT15"> 内容：</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:550px;height:100px;" name="data[adminnote][content]" id="AdminnoteContent"><{$item.content}></textarea></td>
      </tr>
      
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{editor type="ckeditor" element="AdminnoteContent" toolbar="Full"}>
<{include file="footer.html"}>