<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_ads}> &raquo; <{$_adzone}></p>
</div>
<div id="rightTop"> 
    <h3><{$_adzone}></h3> 
    <ul class="subnav">
		<li><a href="adzone.php"><{$_management}></a></li>
        <li><a href="adzone.php?do=edit&id=<{$id}>"><{$_add_or_edit}></a></li>
		<li><a class="btn1" href="adzone.php?do=makejs&id=<{$id}>"><span>查看调用代码</span></a></li>
    </ul>
</div>
<div class="info">
<form name="textfrm">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <a href="javascript:clip('textfrm.copy')" title="点击复制到剪贴板">(点击复制到剪贴板)</a></th>
        <td class="paddingT15 wordSpacing5"><textarea name="copy" style="width:450px;overflow-y:visible;font-family:Arial"><{$XMLDATA}></textarea></td>
      </tr>
    </table>
</div>
<script type="text/javascript">
<!--
function clip(text){
	str=eval("document." + text)
	str.select()
	str = document.selection.createRange();
	clipboardData.setData('text',(str.text));
	alert("数据已经复制到剪贴板");
}
//-->
</script>
<{include file="footer.html"}>