<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_ads}> &raquo; <{$_adzone}></p>
</div>
<div id="rightTop"> 
    <h3><{$_adzone}></h3> 
    <ul class="subnav">
		<li><a href="adzone.php"><{$_management}></a></li>
        <li><a class="btn1" href="adzone.php?do=edit"><span><{$_add_or_edit}></span></a></li>
        <li><a href="<{if $id}>adzone.php?do=makejs&id=<{$id}><{else}>javascript:;<{/if}>">生成JS代码</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="adzone.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$id}>">
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 容器编号：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="adzone[id]" value="<{$item.id}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 容器名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="adzone[name]" value="<{$item.name}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 展示对象：</th>
        <td class="paddingT15 wordSpacing5">
		<select multiple name="membergroup_ids[]" id="MembergroupIds">
			<option value="0"><{$_no_limit}></option>
			<{foreach from=$Membergroups name=membergroup key=key1 item=item1}>
			<option value="<{$key1}>"><{$item1}></option>
			<{/foreach}>
		</select><label class="field_notice">如果非选中项，则在其空间内不会显示广告位及广告，排除的标签参数为：groupid</label>
		</td>
      </tr>
      <tr>
        <th class="paddingT15"> 简要说明：</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:550px;height:50px;" name="adzone[description]" id="dataTradeContent"><{$item.description}></textarea></td>
      </tr>
      <tr>
        <th class="paddingT15">价格：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="adzone[price]" value="<{$item.price}>" type="text" /></td>
      </tr>      
      <tr>
        <th class="paddingT15">容器宽度：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="adzone[width]" value="<{$item.width}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15">容器高度：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="adzone[height]" value="<{$item.height}>" type="text" /></td>
      </tr>      
      <tr>
        <th class="paddingT15"> <{$_adzone_type}></th>
        <td class="paddingT15 wordSpacing5">
			<select name="adzone[what]" id="AdzoneWhat">
				<option value="1">站内广告</option>
				<option value="2">站外广告</option>
			</select>
		</td>
      </tr>
      <tbody id="AdzoneWhat2" style="display:none;">
      <tr>
        <th class="paddingT15"> <{$_ads}>HTML代码：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="adzone[additional_adwords]" id="dataTradeContent"><{$item.additional_adwords}></textarea>        </td>
      </tr>
      </tbody>
      <tr>
        <th class="paddingT15"> 广告位样式：</th>
        <td class="paddingT15 wordSpacing5">
			<select name="adzone[style]" id="AdzoneStyle">
				<option value="0">系统默认</option>
				<option value="1">Flash图片轮换</option>
			</select>
		</td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="立即发布" />		</td>
      </tr>
    </table>
  </form>
</div>
<script>
$(function(){
	<{if $item.membergroup_ids}>$('#MembergroupIds').val(<{$item.sel_membergroup_ids}>);<{/if}>
	$("#AdzoneWhat").val("<{$item.what|default:1}>");
	$("#AdzoneStyle").val("<{$item.style|default:0}>");
	$("#AdzoneWhat").change( function() { 
			$("#AdzoneWhat2").toggle();
		} 
	);
});
<{if $item.what==2}>
$("#AdzoneWhat2").show();
<{/if}>
</script>
<{include file="footer.html"}>