<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_announcement}></p>
</div>
<div id="rightTop"> 
    <h3><{$_announcement}></h3> 
    <ul class="subnav">
		<li><a href="announce.php"><{$_management}></a></li>
        <li><a href="announce.php?do=edit"><{$_add_or_edit}></a></li>
		<li><a class="btn1" href="announcementtype.php"><span><{$_sorts}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="save" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> One line represents one category:</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:250px;height:100px;" name="data[sort]" id="dataSort"><{$sorts}></textarea>
		<label class="field_notice">If you need to add a new category, please press enter and wrap</label></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" value="<{$_save}>" />
		</td>

      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>