<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_area}></p>
</div>
<div id="rightTop"> 
    <h3><{$_area}></h3> 
    <ul class="subnav">
		<li><a href="area.php"><{$_management}></a></li>
		<li><a href="area.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a href="areatype.php"><{$_sorts}></a></li>
        <li><a class="btn1" href="area.php?do=clear"><span><{$_clearing}></span></a></li>
        <li><a href="area.php?do=refresh"><{$_update_cache}></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="edit_frm" action="area.php" id="EditFrm" method="post">
        <input type="hidden" name="do" value="clear" />
             <div class="left"> 
               <label for="Level1"><input type="checkbox" name="data[level][]" id="Level1" value="1"/>First-level area</label>
               <label for="Level2"><input type="checkbox" name="data[level][]" id="Level2" value="2" checked="checked"  />Secondary area</label>
               <label for="Level3"><input type="checkbox" name="data[level][]" id="Level3" value="3" checked="checked" />Tertiary area</label>
                <input type="submit" name="save" id="Save" class="formbtn" value="Clean up now" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare"></div>
<{include file="footer.html"}>