<{include file="header.html"}>
<script src="../scripts/jquery/facebox.js" type="text/javascript"></script>
<link href="../images/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script>
jQuery(document).ready(function($) {
	$.facebox.settings.loadingImage = '<{$SiteUrl}>images/facebox/loading.gif'; 
	$.facebox.settings.closeImage = '<{$SiteUrl}>images/facebox/closelabel.gif'; 
	$('a[rel*=facebox]').facebox() 
})
</script>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_product_center}></p>
</div>
<div id="rightTop"> 
    <h3><{$_product_center}></h3> 
    <ul class="subnav">
		<li><a href="product.php"><{$_management}></a></li>
		<li><a href="productsort.php">Types of</a></a></li>
        <li><a href="productcategory.php">Product Category</a></li>
		<li><a href="brand.php">Brand</a></li>
        <li><a class="btn1" href="brand.php?do=edit"><span><{$_add_or_edit}></span></a></li>
        <li><a href="brandtype.php">Brand<{$_types}></a></li>
    </ul>
</div>
<div class="info">
  <form action="brand.php" method="post" id="EditFrm" name="edit_frm" enctype="multipart/form-data">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
   <input type="hidden" name="company_name" value="<{$item.companyname}>" />
  <input type="hidden" name="username" value="<{$item.username}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15">brand name</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[name]" value="<{$item.name}>" />        </td>
      </tr>
      <tr>
        <th class="paddingT15"> Alias:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[alias_name]" value="<{$item.alias_name}>" /><label class="field_notice">Optimization Name</label></td>
      </tr>
	  <{if $item.id}>
	  <tr>
        <th class="paddingT15"> Member name:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="brand[[username]" value="<{$item.username}>"  readonly/></td>
      </tr>
	   <tr>
        <th class="paddingT15"> Company Name:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="brand[company_name]" value="<{$item.companyname}>" readonly/></td>
      </tr>
	  <{else}>
	  	  <tr>
        <th class="paddingT15"> Member name:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="brand[[username]" value="<{$item.username}>"  /></td>
      </tr>
	   <tr>
        <th class="paddingT15"> Company Name:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="brand[company_name]" value="<{$item.companyname}>" /></td>
      </tr>
	  <{/if}>
      <tr>
        <th class="paddingT15"> Classification:</th>
        <td class="paddingT15 wordSpacing5">
		<select name="data[type_id]" id="Brandtypes">
		<option value="0">Top Classification</option>
        <{$BrandtypeOptions}>
		</select>        
		</td>
      </tr>
	  	<tr>
        <th class="paddingT15"> Views:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[hits]" value="<{$item.hits}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> Description:</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[description]"><{$item.description}></textarea>
        </td>
      </tr>
      <tr>
        <th class="paddingT15">Whether<{$_commend}>：</th>
        <td class="paddingT15 wordSpacing5">          
		<{html_radios name="data[if_commend]" options=$AskAction checked=$item.if_commend|default:"0" separator=" "}></td>
      </tr>
      <tr>
	   <tr>
        <th class="paddingT15"><{$_picture}></th>
        <td class="paddingT15 wordSpacing5">
        <input class="infoTableFile2" type="file" name="pic" id="pic" />
          <label class="field_notice">(Support format GIF,JPG,JPEG,PNG）</label>
          <{if $item.picture}>
          <br /><span><img src="<{$item.image}>" alt="<{$item.name}>"/></span>
          <{/if}>
        </td>
      </tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />
		</td>
      </tr>
    </table>
  </form>
</div>
<script>
jQuery(document).ready(function($) {
$("#Brandtypes").val("<{$item.type_id|default:0}>");})
</script>
<{editor type="tiny_mce"}>
<{include file="footer.html"}>