<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_companynews}></p>
</div>
<div id="rightTop"> 
    <h3><{$_companynews}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="companynews.php"><span><{$_management}></span></a></li>
		<li><a href="companynewstype.php"><{$_types}></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
             <div> 
				<{$_title_keywords}> : <input class="queryInput" type="text" name="q" value="" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll">公司名称</label></th>
		  <th>新闻标题</th>
		  <th>浏览量</th>
		  <th>状态</th>
		  <th>发布时间</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.companyname}></label></td>
		  <td><{$item.title|truncate:35}></td>
		  <td><{$item.clicked}></td>
		  <td><{if $item.CompanynewsStatus==1}>正常<{else}>无效<{/if}></td>
		  <td class="pb_datetime"><{$item.pubdate}></td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_delete" href="companynews.php?id=<{$item.id}>&do=del" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_browse" href="companynews.php?do=view&id=<{$item.id}>" title="查看"><{$_cp_view}></a></li>
            <li><a class="btn_up" href="news.php?do=edit&action=convert&companynewsid=<{$item.id}>" title="推送到行业资讯">推送到行业资讯</a></li>
          </ul>  
		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="7"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
      <input type="submit" name="check" value="审核" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>