<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_companynews}></p>
</div>
<div id="rightTop"> 
    <h3><{$_companynews}></h3> 
    <ul class="subnav">
		<li><a href="companynews.php"><{$_management}></a></li>
        <li><a class="btn1"><span><{$_cp_view}></span></a></li>
    </ul>
</div>
<div class="info">
    <table class="infoTable">
      
      <tr>
        <th class="paddingT15"> 公司名称：</th>
        <td class="paddingT15 wordSpacing5"><{$item.companyname}></td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_title_n}></th>
        <td class="paddingT15 wordSpacing5"><{$item.title}></td>
      </tr>
      
      <tr>
        <th class="paddingT15"> 内容：</th>
        <td class="paddingT15 wordSpacing5"><{$item.content|strip_tags}></td>
      </tr>
      <tr>
        <th class="paddingT15">点击数：</th>
        <td class="paddingT15 wordSpacing5"><{$item.clicked}></td>
      </tr>
      <tr>
        <th class="paddingT15">发布时间：</th>
        <td class="paddingT15 wordSpacing5"><{$item.created|date_format:"%Y-%m-%d"}></td>
      </tr>
    </table>
</div>
<{include file="footer.html"}>