<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_fair}></p>
</div>
<div id="rightTop"> 
    <h3><{$_fair}></h3> 
    <ul class="subnav">
		<li><a href="fair.php"><{$_management}></a></li>
		<li><a href="fairtype.php"><{$_sorts}></a></li>
        <li><a class="btn1" href="fairtype.php?do=edit"><span><{$_add_or_edit}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="fairtype.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[expotype][name]" value="<{$item.name}>" /></td>
      </tr>   
      
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>