<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_ads}> &raquo; <{$_friendlink}></p>
</div>
<div id="rightTop"> 
    <h3><{$_friendlink}></h3> 
    <ul class="subnav">
		<li><a href="friendlink.php"><{$_management}></a></li>
        <li><a href="friendlink.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a class="btn1" href="friendlinktype.php"><span><{$_sorts}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="save" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 一行表示一个分类:</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:250px;height:100px;" name="data[sort]" id="dataSort"><{$sorts}></textarea>
		<label class="field_notice">如果需要添加新分类，请按回车并换行</label></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" value="<{$_save}>" />
		</td>

      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>