<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_ads}> &raquo; <{$_friendlink}></p>
</div>
<div id="rightTop"> 
    <h3><{$_friendlink}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="friendlink.php"><span><{$_management}></span></a></li>
        <li><a href="friendlink.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a href="friendlinktype.php"><{$_sorts}></a></li>
    </ul>
</div>
<div class="tipsblock">
	<ul id="tipslis">
		<li>你可以使用标签<strong>&lt;{friendlinks}&gt;</strong>调用<{$_friendlink}>数据</li>
	</ul>
</div>
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll"><{$_the_title}></label></th>
		  <th>链接地址</th>
		  <th>Logo图片</th>
		  <th>所在行业</th>
		  <th>所在城市</th>
		  <th>显示顺序</th>
		  <th><{$_action}></th>
		</tr>
	</thead>
    <tfoot>
		<tr>
		  <th></th>
		  <th><label for="idAll"><{$_the_title}></label></th>
		  <th>链接地址</th>
		  <th>Logo图片</th>
		  <th>所在行业</th>
		  <th>所在城市</th>
		  <th>显示顺序</th>
		  <th><{$_action}></th>
		</tr>
	</tfoot>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.title}></label></td>
		  <td><a href="<{$item.url}>" target="_blank"><{$item.url}></a></td>
		  <td><{if $item.logo}><img src="<{$item.logo}>" height="35" /><{/if}></td>
		  <td><{$item.industryname}></td>
		  <td><{$item.areaname}></td>
		  <td><{$item.priority}></td>
		  <td class="handler">
           <ul id="handler_icon">
            <li><a class="btn_delete" href="friendlink.php?id=<{$item.id}>&do=del<{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="friendlink.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
        </ul>		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="8"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>