<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_ads}> &raquo; <{$_service_manage}></p>
</div>
<div id="rightTop"> 
    <h3><{$_service_manage}></h3> 
    <ul class="subnav"> 
		<li><a class="btn1" href="goods.php"><span>列表</span></a></li>
        <li><a href="goods.php?do=edit"><{$_add_or_edit}></a></li>
    </ul> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="goods.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onClick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll">服务名称</label></th>
		  <th>价格</th>
		  <th>描述</th>
		  <th><{$_add}>时间</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onClick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.name}></label></td>
		  <td><{$item.price}></td>
		  <td><{$item.description|truncate:100}></td>
		  <td><{$item.created|date_format:"%Y-%m-%d"}></td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_delete" href="goods.php?id=<{$item.id}>&do=del" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="goods.php?id=<{$item.id}>&do=edit" title="<{$_edit}>"><{$_edit}></a></li>
          </ul>
         
		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="6"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
  </form>
</div>
<{include file="footer.html"}>