<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_extension}> &raquo; <{$_help_file}></p>
</div>
<div id="rightTop"> 
    <h3><{$_help_file}></h3> 
    <ul class="subnav">
		<li><a href="help.php"><{$_management}></a></li>
		<li><a href="helptype.php"><{$_sorts}></a></li>        
        <li><a class="btn1" href="helptype.php?do=edit"><span><{$_add_or_edit}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="helptype.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <{$_title_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[helptype][title]" value="<{$item.title}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"><{$_digest_n}></th>
        <td class="paddingT15 wordSpacing5"> <textarea style="width:550px;height:100px;" name="data[helptype][description]" id="helpContent"><{$item.description}></textarea></td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_display_order}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[helptype][display_order]" value="<{$item.display_order|default:0}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 上级类别：</th>
        <td class="paddingT15 wordSpacing5">
		<select name="data[helptype][parent_id]">
		<option value="0">顶级分类</option>
        <{$HelptypeOptions}>
		</select>        
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>