<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_extension}> &raquo; <{$_help_file}></p>
</div>
<div id="rightTop"> 
    <h3><{$_help_file}></h3> 
    <ul class="subnav">
		<li><a href="help.php"><{$_management}></a></li>
        <li><a class="btn1" href="helptype.php"><span><{$_sorts}></span></a></li>        
        <li><a href="helptype.php?do=edit"><{$_add_or_edit}></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
             <div class="right"> 
				<{$_title_keywords}> : <input class="queryInput" type="text" name="q" value="" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll">内容摘要</label></th>
		  <th><{$_the_title}></th>
		  <th>级别</th>
		  <th>显示顺序</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.description|truncate:100}></label></td>
		  <td><a title="<{$_click_preview}>" href="<{$SiteUrl}>help/index.php?typeid=<{$item.id}>" target="_blank"><{$item.title}></a></td>
		  <td><{$item.level}></td>
		  <td><{$item.display_order}></td>
		  <td class="handler">
           <ul id="handler_icon">
            <li><a class="btn_delete"  href="helptype.php?id=<{$item.id}>&do=del<{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="helptype.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
          </ul>  
		 </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="6"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>