<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_industry}></p>
</div>
<div id="rightTop"> 
    <h3><{$_industry}></h3> 
    <ul class="subnav">
		<li><a href="industry.php"><{$_management}></a></li>
		<li><a href="industry.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a href="industrytype.php"><{$_sorts}></a></li>
        <li><a class="btn1" href="industry.php?do=clear"><span><{$_clearing}></span></a></li>
        <li><a href="industry.php?do=refresh"><{$_update_cache}></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="edit_frm" action="industry.php" id="EditFrm" method="post">
        <input type="hidden" name="do" value="clear" />
             <div class="left"> 
               <label for="Level1"><input type="checkbox" name="data[level][]" id="Level1" value="1"/>一级分类</label>
               <label for="Level2"><input type="checkbox" name="data[level][]" id="Level2" value="2" checked="checked"  />二级分类</label>
               <label for="Level3"><input type="checkbox" name="data[level][]" id="Level3" value="3" checked="checked" />三级分类</label>
                <input type="submit" name="save" id="Save" class="formbtn" value="立即清理" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare"></div>
<{include file="footer.html"}>