<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_system_tool}> &raquo; <{$_log_browse}></p>
</div>
<div id="rightTop"> 
    <h3><{$_log_browse}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="log.php"><span><{$_administrator}>日志</span></a></li>
        <li><a href="log.php?do=clear"><{$_clearing}></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get">
        <input type="hidden" name="do" value="search" />
             <div> 
				输入关键字 : 
				  <input class="queryInput" type="text" name="q" value="" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll">级别</label></th>
		  <th>摘要</th>
		  <th>来源</th>
		  <th>日期和时间</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><img src="<{$item.label}>" /></td>
		  <td><label for="item_<{$item.id}>"><{$item.description}></label></td>
		  <td><{$item.source_module}></td>
		  <td class="pb_datetime"><{$item.pubdate}></td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_delete" href="log.php?do=del&id=<{$item.id}><{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li>
          </ul> 
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="6"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>