<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_member_center}> &raquo; <{$_user_center}> &raquo; 分类</p>
</div>
<div id="rightTop"> 
    <h3><{$_member}></h3> 
    <ul class="subnav">
		<li><a href="member.php"><{$_management}></a></li>
        <li><a href="membertype.php"><{$_sorts}></a></li>
        <li><a class="btn1" href="membertype.php?do=edit"><span><{$_add_or_edit}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="membertype.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[membertype][name]" value="<{$item.name}>" /></td>
      </tr>   
      <tr>
        <th class="paddingT15"> <{$_digest_n}></th>
        <td class="paddingT15 wordSpacing5">
		<textarea style="width:550px;height:50px;" name="data[membertype][description]"><{$item.description}></textarea>
		</td>
      </tr>
      <tr>
        <th class="paddingT15">默认会员组：</th>
        <td class="paddingT15 wordSpacing5">
        <select name="data[membertype][default_membergroup_id]" id="dataMembertypeGroupId">
        <{html_options options=$Membergroups selected=$item.default_membergroup_id}>
        </select>        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>