<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_member_center}> &raquo; <{$_user_center}></p>
</div>
<div id="rightTop"> 
    <h3><{$_member}></h3> 
    <ul class="subnav">
		<li><a href="member.php"><{$_management}></a></li>
        <li><a href="member.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a href="membertype.php"><{$_sorts}></a></li>
        <li><a class="btn1" href="memberemail.php"><span>Email alert</span></a></li>        
    </ul>
</div>
<div class="info">
  <form method="post" action="" id="EditFrm" name="edit_frm">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> Sending conditions:</th>
        <td class="paddingT15 wordSpacing5">
		<input type="checkbox" name="data[all]" value="1" id="data_all" onclick='$("#condition").toggle();'>&nbsp;<label for="data_all">All(Ignore all the following conditions)</label><br />
		<div id="condition">
		<input type="text" name="data[day]" style="width:18px;">&nbsp;Users who have not logged in in the day<br />
		user ID(ID) in<input type="text" name="data[id][from]" style="width:18px;">versus<input type="text" name="data[id][to]" style="width:18px;">between
		</div>
		</td>
      </tr>   
      <tr>
        <th class="paddingT15"> User Type:</th>
        <td class="paddingT15 wordSpacing5">
        <select name="data[membertype_id]" id="dataMemberTypeId">
		<option value="0">Not specify</option>
        <{html_options options=$Membertypes selected=$item.membertype_id}>
        </select>
        </td>
      </tr>
      <tr>
        <th class="paddingT15">Member Group:</th>
        <td class="paddingT15 wordSpacing5">
        <select name="data[membergroup_id]" id="dataMemberGroupId">
		<option value="0">Not specify</option>
        <{html_options options=$MembergroupOptions selected=$item.membergroup_id}>
        </select>
        <{if $item.groupimage}><img src="<{$item.groupimage}>" /><{/if}>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_title_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input name="data[subject]" value="" required="" /></td>
      </tr>      
      <tr>
        <th class="paddingT15">Content of Email:</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:550px;height:100px;" name="data[content]" required="" id="NewsContent"><{$item.content}></textarea></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="send" value="send immediately" />		</td>
      </tr>
    </table>
  </form>
</div>
<{editor type="ckeditor" element="NewsContent" toolbar="Full"}>
<{include file="footer.html"}>