<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_member_center}> &raquo; member</p>
</div>
<div id="rightTop"> 
    <h3><{$_member}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="member.php"><span><{$_management}></span></a></li>
        <li><a href="member.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a href="membertype.php"><{$_sorts}></a></li>        
        <li><a href="memberemail.php">mail</a></li>        
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
        <input type="hidden" name="do" value="search" />
             <div> 
				<{$_cp_username}> <input class="queryInput" type="text" name="member[name]" id="member_name" value="<{$smarty.get.member.name}>" /> 
                <select class="querySelect" name="groupid" id="Groupid">
				<option value="0">Type of membership</option>
				<{html_options options=$MembergroupOptions selected=$smarty.get.groupid}>
				</select>
				<select name="member[status]" id="member_status">
				<option value="0">Approval Status</option>
				<{html_options options=$MemberStatus selected=$smarty.get.member.status}>
				</select>
                <input type="submit" name="search" id="Search" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>" id="dataZone">
		<thead>
			<tr>
			  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
			  <th><label for="idAll"><{$_cp_username}></label></th>
			  <th></th>
			  <th>Approval Status</th>
			  <th>full name</th>
			  <th>Authentication type</th>
			  <th><{$_membergroup}></th>
			  <th>integral</th>
			  <th>Credit index</th>
			  <th><{$_action}></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
			  <th colspan="10"><div class="pageLinks"><{$ByPages}></div></th>
			</tr>
		<tfoot>
		<tbody>
			<{foreach from=$Items item=item}>
			<tr class="tatr2">
			  <td class="firstCell"><{if $item.candelete}><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"><{/if}></td>
			  <td><label for="item_<{$item.id}>"><{$item.username}></label></td>
			  <td><{if $item.pubdate>$today_timestamp}>&nbsp;<img src="images/new.gif" /><{/if}></td>
			  <td><{$MemberStatus[$item.status]}></td>
			  <td><{$item.NickName}></td>
			  <td><{$item.trust_image}></td>
			  <td><a href="member.php?do=search&groupid=<{$item.membergroup_id}>"><img src="../images/group/<{$Membergroups[$item.membergroup_id].avatar}>" border="0" alt="<{$Membergroups[$item.membergroup_id].name}>" /></a></td>
			  <td><{$item.points}></td>
			  <td><{$item.credits}></td>
			  <td class="handler">
              <ul id="handler_icon">
                <{if $item.candelete}><li><a class="btn_delete" href="member.php?id=<{$item.id}>&do=del<{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li><{/if}>
                <li><a class="btn_edit" href="member.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
              </ul>
              </td>
			</tr>
			<{foreachelse}>
			<tr class="no_data info">
			  <td colspan="10"><{$_no_datas}></td>
			</tr>
			<{/foreach}>
		</tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
		<input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
		<select name="pb_action" id="PbAction" class="actionsel" onchange="javascript:document.list_frm.submit()">
		<option value="0"><{$_pls_select}><{$_action}></option>
		<optgroup label="Approval Status">
		<option value="status_1">examination passed</option>
		<option value="status_3">Audit not passed</option>
		<option value="status_0">invalid</option>
		<option value="status_4">Prohibit</option>
		<option value="status_2">Moderated</option>
		</optgroup>
		<optgroup label="Set the membership type to">
		<{foreach from=$Membertypes name=usertype item=item1 key=key1}>
		<option value="membertype_<{$key1}>"><{$item1}></option>
		<{/foreach}>
		</optgroup>
		<optgroup label="Set member group as">
		<{foreach from=$MembergroupOptions name=MembergroupOptions item=item2 key=key2}>
		<option value="membergroup_<{$key2}>"><{$item2}></option>
		<{/foreach}>
		</optgroup>
		</select>
    </div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>