<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_templet}> &raquo; <{$_nav}></p>
</div>
<div id="rightTop"> 
    <h3><{$_nav}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="nav.php"><span><{$_management}></span></a></li>
        <li><a href="nav.php?do=edit"><{$_add_or_edit}></a></li>
    </ul>
</div>
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="nav.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll"><{$_naming}></label></th>
		  <th><{$_preview}></th>
		  <th>链接地址</th>
		  <th>显示顺序</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell">
          <input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>">
          <input type="hidden" name="nid[]" value="<{$item.id}>" />
          </td>
		  <td><label for="item_<{$item.id}>"><{$item.name}></label></td>
		  <td><{$item.title}></td>
		  <td><{$item.url}></td>
		  <td><input type="text" name="display_order[]" style="width:35px; text-align:center" value="<{$item.display_order}>" /></td>
		  <td class="handler">
           <ul id="handler_icon">
            <li><a class="btn_edit" href="nav.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
          </ul>
		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="6"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
      <input type="submit" name="update_prior" value="<{$_updating}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>