<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_templet}> &raquo; <{$_nav}></p>
</div>
<div id="rightTop"> 
    <h3><{$_nav}></h3> 
    <ul class="subnav">
		<li><a href="nav.php"><{$_management}></a></li>
        <li><a class="btn1" href="nav.php?do=edit"><span><{$_add_or_edit}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="nav.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
	<{if $item.id}>
      <tr>
        <th class="paddingT15">编号：</th>
        <td class="paddingT15 wordSpacing5"><{$item.id}></td>
      </tr>
	<{else}>
      <tr>
        <th class="paddingT15">编号：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[nav][id]" value="" /></td>
      </tr>
	<{/if}>	
      <tr>
        <th class="paddingT15"> <{$_title_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[nav][name]" value="<{$item.name}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"><{$_display_order}></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[nav][display_order]" value="<{$item.display_order}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15">链接地址：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[nav][url]" value="<{$item.url}>" type="text" /><label class="field_notice">站内链接只需相对地址即可</label></td>
      </tr>
      <tr>
        <th class="paddingT15"> 备注：</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:550px;height:100px;" name="data[nav][description]"><{$item.description}></textarea></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save_and_pub}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>