<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_industry_news}></p>
</div>
<div id="rightTop"> 
    <h3><{$_industry_news}></h3> 
    <ul class="subnav">
		<li><a href="news.php" class="btn1"><span><{$_management}></span></a></li>
        <li><a href="news.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a href="newstopic.php"><{$_topic_news}></a></li>        
        <li><a href="newstype.php"><{$_sorts}></a></li>
		<li><a href="newsgather.php">采集</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
        <input type="hidden" name="do" value="search" />
             <div> 
				标题关键字 : <input class="queryInput" type="text" name="q" value="<{$smarty.get.q}>" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="news.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll">新闻标题</label></th>
		  <th>焦点头条</th>
		  <th>分类名称</th>
		  <th>浏览量</th>
		  <th>发布时间</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.title}></label><{if $item.picture!=''}><span class="icon-pic"></span><{/if}><{if $item.if_commend}><span class="icon-commend"></span><{/if}></td>
		  <td><input type="radio" name="if_focus" <{if $item.if_focus=="1"}>checked<{/if}> value="<{$item.id}>" value="<{$item.id}>" /></td>
		  <td><a title="<{$Newstypes[$item.type_id]}>" href="<{$smarty.server.PHP_SELF}>?do=search&typeid=<{$item.type_id}>"><{$Newstypes[$item.type_id]}></a></td>
		  <td><{$item.clicked}></td>
		  <td><{$item.created|date_format:"%Y-%m-%d"}></td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_browse" href="../news/detail.php?id=<{$item.id}>" target="_blank" title="<{$_preview}>"><{$_preview}></a></li>
            <li><a class="btn_delete" href="news.php?id=<{$item.id}>&do=del<{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="news.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
          </ul>  
		 </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="7"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
      <input type="submit" name="update" value="<{$_set_headline}>" class="formbtn batchButton"/>
      <input type="submit" name="commend" value="推荐" class="formbtn batchButton"/>
      <input type="submit" name="cancel_commend" value="取消推荐" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>