<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_industry_news}></p>
</div>
<div id="rightTop"> 
    <h3><{$_industry_news}></h3> 
    <ul class="subnav">
        <li><a href="news.php"><{$_management}></a></li>
        <li><a href="news.php?do=edit"><{$_add_or_edit}></a></li>
		<li><a class="btn1" href="newscomment.php"><span>评论</span></a></li>
        <li><a href="newstopic.php"><{$_topic_news}></a></li>
        <li><a href="newstype.php"><{$_sorts}></a></li>
		<li><a href="newsgather.php">采集</a></li>
    </ul>
</div>
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="nav.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll">评论内容</label></th>
		  <th>资讯标题</th>
		  <th>评论者</th>
		  <th>发表时间</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2" title="<{$item.message}>">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.message|truncate:100}></label></td>
		  <td><{$item.title}></td>
		  <td><{$item.username}></td>
		  <td class="pb_datetime"><{$item.pubdate}></td>
		  <td class="handler">
            <ul id="handler_icon">
            <li><a class="btn_browse"  href="<{$SiteUrl}>news/detail.php?id=<{$item.news_id}>" title="<{$_preview}>"><{$_preview}></a></li>
          </ul>  
		 </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="6"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>