<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_industry_news}></p>
</div>
<div id="rightTop"> 
    <h3><{$_industry_news}></h3> 
    <ul class="subnav">
		<li><a href="news.php"><{$_management}></a></li>
        <li><a href="news.php?do=edit"><{$_add_or_edit}></a></li>
        <li><a href="newstopic.php"><{$_topic_news}></a></li>
        <li><a href="newstype.php"><{$_sorts}></a></li>
        <li><a class="btn1" href="newsgather.php"><span>采集</span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 资讯类别：</th>
        <td class="paddingT15 wordSpacing5">
        <select name="data[type_id]" id="DataTypeId">
        <{$NewstypeOptions}>
        </select>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 处理相同标题：</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="throw_similar" options=$AskAction checked=1 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> 采集地址与规则：</th>
        <td class="paddingT15 wordSpacing5">          
		<textarea style="width:650px;height:150px;" name="rules">http://www.cpp1.cn/News.htm
/^http:\/\/www\.cpp1\.cn\/News\/[0-9]{4}-[0-9]{1,2}\/[0-9]{1,2}\/[0-9]+\.htm/i
/<span[^>]*id="ctl00_ContentPlaceHolder1_newsShow_ctl00_txtTitle">([^<>]*)<\/span>/si
/<span[^>]*id="ctl00_ContentPlaceHolder1_newsShow_ctl00_txtBody"[^>]*>(.*?)<\/span>/si</textarea><br /><label class="field_notice">分为4行，第一行表示采集地址，第二行表示链接规则，第三行表示标题规则，第四行表示内容规则</label></td>
      </tr>      
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" id="Gather" name="gather" value="立即采集" />		</td>
      </tr>
    </table>
  </form>
</div>
<script src="../scripts/jquery/facebox.js" type="text/javascript"></script>
<link href="../images/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script>
$(document).ready(function() {
	$.facebox.settings.opacity = 0.1; 
	$.facebox.settings.loadingImage = '<{$SiteUrl}>images/facebox/loading.gif'; 
	$.facebox.settings.closeImage = '<{$SiteUrl}>images/facebox/closelabel.gif'; 
    // put all your jQuery goodness in here.
	$("#Gather").click( function () { $.facebox("<{$_do_not_close_when_doing}>"); }); 
});
</script>
<{include file="footer.html"}>