<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_industry_news}></p>
</div>
<div id="rightTop"> 
    <h3><{$_industry_news}></h3> 
    <ul class="subnav">
		<li><a href="news.php"><{$_management}></a></li>
        <li><a href="newstopic.php"><{$_topic_news}></a></li>
        <li><a class="btn1" href="newstopic.php?do=edit"><span><{$_add_or_edit}></span></a></li>
        <li><a href="newstype.php"><{$_sorts}></a></li>
		<li><a href="newsgather.php">采集</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="newstopic.php" id="EditFrm" name="edit_frm" enctype="multipart/form-data">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <{$_title_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="newstopic[title]" value="<{$item.title}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_digest_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="newstopic[description]" value="<{$item.description}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 资讯列表：</th>
        <td class="paddingT15 wordSpacing5"><textarea name="data[news]" id="dataNews"><{$item.news}></textarea><label class="field_notice">可以添加多个资讯编号，一行代表一条</label></td>
      </tr>
      <tr>
        <th class="paddingT15">图片：</th>
        <td class="paddingT15 wordSpacing5">
        <input class="infoTableFile2" type="file" name="pic" id="pic" />
          <label class="field_notice">（支持格式GIF,JPG,JPEG,PNG）</label>
          <{if $item.picture}>
          <br /><span><img src="<{$item.image}>" alt="<{$item.name}>"/></span>
          <{/if}>
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>