<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_passport}></p>
</div>
<div id="rightTop"> 
    <h3><{$_passport}></h3> 
    <ul class="subnav">
		<li><a href="passport.php"><{$_management}></span></li>
		<li><a class="btn1" href="passport.php?do=set"><span><{$_basic_setting}></span></a></li>
		<{foreach from=$Items item=item}>
		<{if $item.available}>
        <li><a class="btn_edit" href="passport.php?do=edit&entry=<{$item.name}>&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$item.title}></a></li>
		<{/if}>
		<{/foreach}>
    </ul>
</div>
<div class="info">
  <form action="passport.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="setting">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <{$_if_valid}></th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][passport_support]" options=$AskAction checked=$item.passport_support|default:0 separator=""}></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save_passport" value="<{$_save_setting}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>