<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_product_center}></p>
</div>
<div id="rightTop"> 
    <h3><{$_product_center}></h3> 
    <ul class="subnav">
		<li><a href="product.php"><{$_management}></a></li>
		<li><a class="btn1" href="productsort.php"><span>Types of</span></a></a></li>
		<li><a href="productcategory.php">Product Category</a></a></li>
		<li><a href="brand.php">Brand</a></a></li>
		<li><a href="brandtype.php">Brand category</a></a></li>
		<li><a href="price.php">Offer</a></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="save" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> One line represents one category:</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:250px;height:100px;" name="data[sort]" id="dataSort"><{$sorts}></textarea>
		<label class="field_notice">If you need to add a new category, please press enter and line feed</label></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" value="<{$_save}>" />
		</td>

      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>