<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_trade_management}> &raquo; <{$_product_center}></p>
</div>
<div id="rightTop"> 
    <h3><{$_product_center}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="product.php"><span><{$_management}></span></a></li>
        <li><a href="product.php?do=edit"><{$_add_or_edit}></a></li>
		<li><a href="productsort.php">Types of</a></li>
		<li><a href="productcategory.php">Product Category</a></a></li>
		<li><a href="brand.php">Brand</a></a></li>
		<li><a href="brandtype.php">Brand category</a></a></li>
		<li><a href="price.php">Offer</a></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get" action="product.php"> 
        <input type="hidden" name="do" value="search" />
             <div> 
				<{$_member_name_n}> <input class="queryInput" type="text" name="data[username]" value="" /> 
				Company Name: <input class="queryInput" type="text" name="data[companyname]" value="" /> 
                <select class="querySelect" name="product[status]" id="ProductStatus">
					<{html_options options=$CheckStatus selected=$smaty.post.product.status}>
				</select>
				Product name keywords: <input class="queryInput" type="text" name="data[q]" value="" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="<{$_searching}>" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="product.php" method="post">
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th></th>
		  <th><label for="idAll">Product Name</label></th>
		  <th>Company Name</th>
		  <th>On/off</th>
		  <th>Status</th>
		  <th>Release time</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tfoot>
		<tr>
		  <th colspan="8"><div class="pageLinks"><{$ByPages}></div></th>
		</tr>
    <tfoot>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><{if $item.created>$today_timestamp}><span class="icon-new"></span><{/if}><{if $item.Ifcommend}><span class="icon-commend"></span><{/if}><{if $item.ProductPicture!=''}><span class="icon-pic"></span><{/if}></td>
		  <td><label for="item_<{$item.id}>"><{$item.ProductName}></label></td>
		  <td><a href="company.php?do=edit&id=<{$item.CID}>"><{$item.companyname}></a></td>
		  <td><{$BooleanVars[$item.ProductState]}></td>
		  <td><{$CheckStatus[$item.ProductStatus]}></td>
		  <td class="pb_datetime"><{$item.pubdate}></td>
		  <td class="handler">
          <ul id="handler_icon">
            <li><a class="btn_delete" href="product.php?id=<{$item.id}>&do=del" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="product.php?do=edit&id=<{$item.id}>" title="<{$_edit}>"><{$_edit}></a></li> 
             <li><a class="btn_browse" href="<{$SiteUrl}>product/content.php?id=<{$item.id}>" target="_blank" title="<{$_preview}>"><{$_preview}></a></li>
          </ul>  
		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="7"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
      <input type="submit" name="recommend" value="<{$_commend}>product" class="formbtn batchButton"/>
      <select name="status" id="Status" onchange="$('#ListFrm').submit();">
      	<option>Set status</option>
        <option value="0">Set to invalid</option>
        <option value="1">Set active</option>
      </select>
    </div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>