<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_service_center}></p>
</div>
<div id="rightTop"> 
    <h3><{$_service_center}></h3> 
    <ul class="subnav">
		<li><a href="service.php">Customer submission</a></li>
		<li><a class="btn1" href="service.php?do=client"><span>Terms of Service: </span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="service.php">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"><label for="price_format"> Terms of Service: </label></th>
        <td class="paddingT15 wordSpacing5"><textarea name="data[setting1][service_client]" id="SERVICE_CLIENT" style="width:650px;height:300px;" ><{$item.SERVICE_CLIENT}></textarea>
		</td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="save_client" value="<{$_submit}>" />
          <input class="formbtn" type="reset" name="reset" value="<{$_reset}>" />
        </td>
      </tr>
    </table>
  </form>
</div>
<{editor type="ckeditor" element="SERVICE_CLIENT" toolbar="Full"}>
<{include file="footer.html"}>