<{include file="header.html"}>
<script src="../scripts/jquery/facebox.js" type="text/javascript"></script>
<link href="../images/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; Email settings</p>
</div>
<div id="rightTop"> 
    <h3>Email settings</h3> 
</div>
<div class="info"> 
    <form method="post" action="setting.php" name="edit_frm" id="EditFrm">
    <input type="hidden" name="do" id="Do" value="" />
        <table class="infoTable"> 
            <tr> 
                <th class="paddingT15"> 
              <label for="email_type">Mail sending method:</label></th> 
          <td class="paddingT15 wordSpacing5"> 
                    <label for="mail_sendtype1"><input type="radio" name="data[setting][send_mail]" id="mail_sendtype1" value="1">&nbsp;Use the built-in Mail service of the server(<{$_commend}>This way)</label>&nbsp;<label for="mail_sendtype2"><input type="radio" name="data[setting][send_mail]" id="mail_sendtype2" value="2">&nbsp;Use other SMTP services</label>&nbsp;</td> 
            </tr>
            <tbody id="smtp_set" style="<{if $item.SEND_MAIL==1}>display:none;<{/if}>">
            <tr> 
                <th class="paddingT15"> 
                    SMTP server address:</th> 
                <td class="paddingT15 wordSpacing5"> 
                    <input class="infoTableInput" type="text" name="data[setting][smtp_server]" value="<{$item.SMTP_SERVER|default:'smtp.qq.com'}>" /></td> 
            </tr> 
            <tr> 
                <th class="paddingT15"> 
                    SMTP Server port:</th> 
                <td class="paddingT15 wordSpacing5"> 
                    <input class="infoTableInput" type="text" name="data[setting][smtp_port]" value="<{$item.SMTP_PORT|default:'25'}>" /></td> 
            </tr> 
            <tr> 
                <th class="paddingT15"> 
                    SMTP Authentication required:</th> 
                <td class="paddingT15 wordSpacing5"> 
                <input type="radio" name="data[setting][smtp_auth]" id="smtp_auth1" value="1" <{if $item.SMTP_AUTH=="1"}>checked="checked"<{/if}> />Yes
                <input type="radio" name="data[setting][smtp_auth]" id="smtp_auth2" value="0" <{if $item.SMTP_AUTH=="0"}>checked="checked"<{/if}> />No
                </td> 
            </tr> 
            <tr> 
                <th class="paddingT15"> 
                    Sender’s email address:</th> 
                <td class="paddingT15 wordSpacing5"> 
                <input class="infoTableInput" type="text" name="data[setting][mail_from]" value="<{$item.MAIL_FROM|default:'email@host.com'}>" /></td> 
            </tr>
            <tr> 
                <th class="paddingT15"> 
                    Name of sender:</th> 
                <td class="paddingT15 wordSpacing5"> 
                    <input class="infoTableInput" type="text" name="data[setting][mail_fromwho]" value="<{$item.MAIL_FROMWHO|default:$sitetitle}>" /></td> 
            </tr> 
            <tr> 
                <th class="paddingT15"> 
                    SMTP Authentication<{$_cp_username_n}></th> 
                <td class="paddingT15 wordSpacing5"> 
                <input class="infoTableInput" type="text" name="data[setting][auth_username]" id="auth_username" value="<{$item.AUTH_USERNAME|default:'username'}>" /></td> 
            </tr>
            <tr> 
                <th class="paddingT15"> 
                    SMTP Authentication method:</th> 
                <td class="paddingT15 wordSpacing5"> 
                <input class="infoTableInput" type="text" name="data[setting][auth_protocol]" id="auth_auth_protocol" value="<{$item.AUTH_PROTOCOL|default:''}>" /><span class="gray">Don’t fill in unless you need it. For example, Gmail mailbox needs to be set as ssl</span></td> 
            </tr>
            <tr> 
                <th class="paddingT15"> 
                    SMTP Authentication password:</th> 
                <td class="paddingT15 wordSpacing5"> 
                <input class="infoTableInput" name="data[setting][auth_password]" type="password" id="auth_password" value="<{$item.AUTH_PASSWORD|default:'password'}>"/></td> 
            </tr>
            </tbody>
            <tr> 
                <th class="paddingT15"> 
                    Test email address:</th> 
                <td class="paddingT15 wordSpacing5"> 
                <input class="infoTableInput" type="text" name="data[setting][testemail]" id="dataTestemail" value="<{$item.TESTEMAIL}>" />&nbsp;&nbsp;<input class="formbtn" type="button" name="test" id="Test" value="test" /></td> 
            </tr> 
            <tr> 
            <th></th> 
            <td class="ptb20"> 
                <input class="formbtn" type="submit" name="save_mail" id="SaveEmail" value="<{$_save}>" /> 
                <input class="formbtn" type="reset" name="reset" id="ResetEmail" value="<{$_reset}>" /> 
            </td> 
        </tr> 
        </table> 
    </form> 
</div> 
<script language="JavaScript" type="text/JavaScript">
jQuery(document).ready(function($) {
	$("#dataTestemail").focus(function(){
	if($("#dataTestemail").val()=='<{$service_email}>'){
		$("#dataTestemail").val("")};
	}).blur(function(){
	if($("#dataTestemail").val()==''){
		$("#dataTestemail").val("<{$service_email}>").css("color","#ccc")};
	});
	$("#mail_sendtype<{$item.SEND_MAIL|default:"1"}>").attr("checked",'checked');
	$("#mail_sendtype2").click(
		function(){
			$("#smtp_set").show();
		}
	);
	$("#mail_sendtype1").click(
		function(){
			$("#smtp_set").hide();
		}
	);
	$("#Test").click(
		function(){
			$("#Do").val("testemail");
			$.facebox.settings.loadingImage = '<{$SiteUrl}>images/facebox/loading.gif'; 
			$.facebox.settings.closeImage = '<{$SiteUrl}>images/facebox/closelabel.gif'; 
			jQuery.facebox('<{$_on_sending}>...');
			$("#EditFrm").submit();
		}
	);
})
</script>
<{include file="footer.html"}>