<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_secure_auth}></p>
</div>
<div id="rightTop"> 
    <h3><{$_secure_auth}></h3> 
    <ul class="subnav">
        <li><a href="setting.php?do=secure">Safety</a></li>
		<li><a href="setting.php?do=auth" class="btn1"><span>Verification code</span></a></li>
    </ul>
</div>
<div class="info"> 
    <form method="post" action="setting.php" name="edit_frm"> 
        <table class="infoTable"> 
         	<tr> 
                <th class="paddingT15">Sign in<{$_auth_key_n}></th> 
              	<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][capt_logging]" options=$AskAction checked=$item.CAPT_LOGGING|default:0 separator=""}></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">Registered<{$_auth_key_n}></th> 
              	<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][capt_register]" options=$AskAction checked=$item.CAPT_REGISTER|default:0 separator=""}></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">Free release of supply and demand<{$_auth_key_n}></th> 
              	<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][capt_post_free]" options=$AskAction checked=$item.CAPT_POST_FREE|default:0 separator=""}></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">Market library submission<{$_auth_key_n}></th> 
              	<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][capt_add_market]" options=$AskAction checked=$item.CAPT_ADD_MARKET|default:0 separator=""}></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">Console login<{$_auth_key_n}></th> 
       			<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][capt_login_admin]" options=$AskAction checked=$item.CAPT_LOGIN_ADMIN|default:0 separator=""}></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">Application<{$_friendlink}><{$_auth_key_n}></th> 
              	<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][capt_apply_friendlink]" options=$AskAction checked=$item.CAPT_APPLY_FRIENDLINK|default:0 separator=""}></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">Comments or suggestions<{$_auth_key_n}></th> 
       			<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][capt_service]" options=$AskAction checked=$item.CAPT_SERVICE|default:0 separator=""}></td> 
          	</tr>
            <tr> 
            <th></th> 
            <td class="ptb20"> 
                <input class="formbtn" type="submit" name="saveauth" value="<{$_submit}>" /> 
            </td> 
        </tr> 
        </table> 
    </form> 
</div> 
<{include file="footer.html"}>