<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_reg_and_visit}></p>
</div>
<div id="rightTop"> 
    <h3><{$_reg_and_visit}></h3> 
    <ul class="subnav">
		<li><a href="setting.php?do=register">registered</a></li>
        <li><a href="setting.php?do=registerfile" class="btn1"><span>default setting</span></a></li>
    </ul>
</div>
<div class="info"> 
    <form method="post" name="edit_frm" action="setting.php"> 
    <input type="hidden" name="data[reg_filename]" value="<{$item.REG_FILENAME}>" />
    <input type="hidden" name="data[post_filename]" value="<{$item.POST_FILENAME}>" />
        <table class="infoTable"> 
		    <tr>
				<th class="paddingT15"> Direct access to the forwarding address:</th>
				<td class="paddingT15 wordSpacing5"><input name="data[setting][redirect_url]" type="text" id="RedirectUrl" value="<{$item.REDIRECT_URL}>" class="infoTableInput" /><span class="gray"><p>The URL directly visits the specified redirection address. If specified, when the user visits the website by entering your domain name, it will point to the page; if not specified, the default is the root directory index.php</p></span></td>
			</tr>
         	<tr> 
                <th class="paddingT15">Enterprise Space Naming:</th> 
              	<td class="paddingT15 wordSpacing5"><input type="text" name="data[setting][space_name]" value="<{$item.SPACE_NAME|default:$_space_name}>" class="infoTableInput" /></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">Registration file name:</th> 
              	<td class="paddingT15 wordSpacing5"><input type="text" name="data[setting][reg_filename]" value="<{$item.REG_FILENAME|default:'register.php'}>" class="infoTableInput" /></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">Free release of supply and demand file names:</th> 
              	<td class="paddingT15 wordSpacing5"><input type="text" name="data[setting][post_filename]" value="<{$item.POST_FILENAME|default:'post.php'}>" class="infoTableInput" /></td> 
          	</tr> 
            <tr> 
            <th></th> 
            <td class="ptb20"> 
                <input class="formbtn" type="submit" name="saveregister" value="<{$_submit}>" /> 
                <input class="formbtn" type="reset" name="reset" value="<{$_reset}>" /> 
            </td> 
        </tr> 
        </table> 
    </form> 
</div> 
<{include file="footer.html"}>