<{include file="header.html"}>
<link href="../images/jquery/colorpicker.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/jquery/colorpicker.js"></script>
<script>
jQuery(document).ready(function($) {
	$.fn.colorPicker.defaultColors = ['00FFFF', '000000', '999999', 'FF0000', 'FFFF00', '0000FF', 'FFFFFF', '00FF7F', '00FF00'];
	$('#color1').colorPicker();
})
</script>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_site_info}></p>
</div>
<div id="rightTop">
	<h3><{$_site_info}></h3>
	<ul class="subnav">
		<li><a class="btn1" href="setting.php?do=basic"><span><{$_basic_setting}></span></a></li>
		<li><a href="setting.php?do=basic_contact"><{$_contact_method}></a></li>
		<li><a href="setting.php?do=basic_desc"><{$_site_desc}></a></li>
	</ul>
</div>
<div class="info">
  <form method="post">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"><label for="time_zone"> Site name:</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][site_name]" type="text" id="site_name" value="<{$item.SITE_NAME|default:$site_name}>" class="infoTableInput" />
          <span class="gray">The website name, which will be displayed in the navigation bar and website introduction</span>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="time_format_simple"> Website title:</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][site_title]" type="text" id="site_title" value="<{$item.SITE_TITLE|default:$site_title}>" class="infoTableInput" />
          <span class="gray">The title will be displayed in the title of the page</span>
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="time_format_complete"> Site subtitle:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][site_banner_word]" type="text" id="site_banner_word" value="<{$item.SITE_BANNER_WORD|default:$site_banner_word}>"/>
          <span class="gray">The slogan will be displayed on the website promotion</span>
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="time_format_complete"> Logo address:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][site_logo]" type="text" id="site_logo" value="<{$item.SITE_LOGO|default:"images/logo.gif"}>"/>
          <span class="gray">Logo address, if there is no HTTP://, Then local</span>
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="price_format"> website URL：</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][site_url]" type="text" id="site_url" value="<{$item.SITE_URL|default:$smarty.const.URL}>" />
          <span class="gray">website URL, which will be displayed as a link at the bottom of the page, Must end with "/"</span>
		</td>
      </tr>
	   <tr>
        <th class="paddingT15"><label for="price_format"> Website record information code:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][icp_number]" type="text" id="icp_number" value="<{$item.ICP_NUMBER|default:$icpnumber}>" />
          <span class="gray">If the website has been filed, enter your ICP here Record information, it will be displayed at the bottom of the page, if not, please leave it blank</span>
                </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="savebasic" value="<{$_submit}>" />
          <input class="formbtn" type="reset" name="reset" value="<{$_reset}>" />
        </td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>