<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; safety verification</p>
</div>
<div id="rightTop"> 
    <h3>safety verification</h3> 
    <ul class="subnav">
        <li><a href="setting.php?do=secure" class="btn1"><span>Safety</span></a></li>
		<li><a href="setting.php?do=auth">Verification code</a></li>
    </ul>
</div>
<div class="info"> 
    <form method="post" action="setting.php" name="edit_frm"> 
        <table class="infoTable"> 
         	<tr> 
                <th class="paddingT15">Website security key:</th> 
              	<td class="paddingT15 wordSpacing5"><input name="data[setting][auth_key]" value="<{$item.AUTH_KEY}>" /><label class="field_notice">A unique string used to identify the website</label></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">n Allow tourists to publish supply and demand:</th> 
       			<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][vis_post]" options=$AskAction checked=$item.VIS_POST|default:0 separator=""}></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">Tourists release supply and demand review:</th> 
       			<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][vis_post_check]" options=$AskAction checked=$item.VIS_POST_CHECK|default:1 separator=""}></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">Open supply information:</th> 
       			<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][sell_logincheck]" options=$AskAction checked=$item.SELL_LOGINCHECK|default:1 separator=""}></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">Open Buying Information:</th> 
       			<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][buy_logincheck]" options=$AskAction checked=$item.BUY_LOGINCHECK|default:1 separator=""}></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">Enable local session.save_path：</th> 
              	<td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][session_savepath]" options=$AskAction checked=$item.SESSION_SAVEPATH|default:1 separator=""}><label class="field_notice">The default is system definition</label></td> 
          	</tr> 
            <tr> 
            <th></th> 
            <td class="ptb20"> 
                <input class="formbtn" type="submit" name="saveauth" value="<{$_submit}>" /> 
            </td> 
        </tr> 
        </table> 
    </form> 
</div> 
<{include file="footer.html"}>