<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_time_set}></p>
</div>
<div id="rightTop"> 
    <h3><{$_time_set}></h3> 
</div>
<div class="info"> 
  <form action="setting.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="functions">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> Default date format: </th>
        <td class="paddingT15 wordSpacing5"><input name="data[date_format]" type="text" id="DateFormat" value="<{$item.DATE_FORMAT|default:"%Y-%m-%d"}>"/>
          <span class="gray">支持<a href="http://www.php.net/strftime" target="_blank">strftime</a>In any format, such as "%Y-%m-%d” Means <{$smarty.now|date_format:"%Y-%m-%d"}></span></td>
      </tr>
      <tr>
        <th class="paddingT15"> Default time difference:</th>
        <td class="paddingT15 wordSpacing5"><input name="data[time_offset]" type="text" id="TimeOffset" value="<{$item.TIME_OFFSET|default:0}>"/>
          <span class="gray">The time difference between local time and GMT, GMT time is:<{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}></span></span></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save_datetime" value="<{$_save_setting}>" />		</td>
      </tr>
    </table>
  </form>
</div> 
<{include file="footer.html"}>