<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_cache_setting}></p>
</div>
<div id="rightTop"> 
    <h3><{$_cache_setting}></h3> 
</div>
<div class="info"> 
  <form action="setting.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="functions">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> Main page cache:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][main_cache]" options=$AskAction checked=$item.MAIN_CACHE|default:0 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> Business room data cache:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][member_cache]" options=$AskAction checked=$item.MEMBER_CACHE|default:0 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> Enterprise spatial data cache:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][space_cache]" options=$AskAction checked=$item.SPACE_CACHE|default:0 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> Tag call data cache:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][label_cache]" options=$AskAction checked=$item.LABEL_CACHE|default:0 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> Cache time:</th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][main_cache_lifetime]" type="text" id="DateFormat" value="<{$item.MAIN_CACHE_LIFETIME|default:3600}>"/>
          <span class="gray">The unit is seconds, the default is 3600 seconds, that is, one hour, 0 means no cache</span></td>
      </tr>
      <tr>
        <th class="paddingT15"> Whether to check template changes:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[setting][main_cache_check]" options=$AskAction checked=$item.MAIN_CACHE_CHECK|default:0 separator=""}><span class="gray">If enabled, when the template changes, the system automatically<{$_update_cache}>, Not checked by default</span></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save_cache" value="<{$_save_setting}>" />		</td>
      </tr>
    </table>
  </form>
</div> 
<{include file="footer.html"}>