<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_site_info}></p>
</div>
<div id="rightTop">
	<h3><{$_site_info}></h3>
	<ul class="subnav">
		<li><a href="setting.php?do=basic"><{$_basic_setting}></a></li>
		<li><a href="setting.php?do=basic_contact"><{$_contact_method}></a></li>
		<li><a class="btn1" href="setting.php?do=basic_desc"><span><{$_site_desc}></span></a></li>
	</ul>
</div>
<div class="info">
  <form method="post">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"><label for="price_format"> <{$_site_desc_n}></label></th>
        <td class="paddingT15 wordSpacing5"><textarea name="data[setting1][site_description]" id="SiteDescription" style="width:650px;height:300px;" ><{$item.SITE_DESCRIPTION}></textarea>
          <span class="gray"><{$_site_desc_and_show}></span>
		</td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="savebasic" value="<{$_submit}>" />
          <input class="formbtn" type="reset" name="reset" value="<{$_reset}>" />
        </td>
      </tr>
    </table>
  </form>
</div>
<{editor type="ckeditor" element="SiteDescription" toolbar="Full"}>
<{include file="footer.html"}>