<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_functions}></p>
</div>
<div id="rightTop"> 
    <h3><{$_functions}></h3> 
	<ul class="subnav">
		<li><a class="btn1" href="setting.php?do=functions"><span>Static optimization</span></a></li>
		<li><a href="setting.php?do=attach">Attachment settings</a></li>
	</ul>
</div>
<div class="info"> 
  <form action="setting.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="functions">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> Top-level domain support:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[topleveldomain_support]" options=$AskAction checked=$item.topleveldomain_support|default:0 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> Second-level domain name support:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[subdomain_support]" options=$AskAction checked=$item.subdomain_support|default:0 separator=""}>
		<span id="divDataSubdomain">&nbsp;<input name="data[subdomain]" type="text" id="subdomain" value="<{$item.subdomain}>" class="infoTableInput" />
          <span class="gray">If enabled, please fill in the second-level domain name suffix, for example yourdomain.com (is important.）</span></span></td>
      </tr>
      <tr>
        <th class="paddingT15"> URL static:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[rewrite_able]" options=$AskAction checked=$item.rewrite_able|default:0 separator=""}></td>
      </tr>
      <tr>
        <th class="paddingT15"> Rewrite compatibility:</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[rewrite_compatible]" options=$AskAction checked=$item.rewrite_compatible|default:0 separator=""}></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save_functions" value="<{$_save_setting}>" />		</td>
      </tr>
    </table>
  </form>
</div> 
<{include file="footer.html"}>