<{include file="header.html"}>
<link href="../images/jquery/colorpicker.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/jquery/colorpicker.js"></script>
<script>
jQuery(document).ready(function($) {
	$.fn.colorPicker.defaultColors = ['00FFFF', '000000', '999999', 'FF0000', 'FFFF00', '0000FF', 'FFFFFF', '00FF7F', '00FF00'];
	$('#color1').colorPicker();
})
</script>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_site_info}></p>
</div>
<div id="rightTop">
	<h3><{$_site_info}></h3>
	<ul class="subnav">
		<li><a href="setting.php?do=basic"><{$_basic_setting}></a></li>
		<li><a class="btn1" href="setting.php?do=basic_contact"><span><{$_contact_method}></span></a></li>
		<li><a href="setting.php?do=basic_desc"><{$_site_desc}></a></li>
	</ul>
</div>
<div class="info">
  <form method="post">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"><label for="price_format"> Company name:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][company_name]" type="text" id="company_name" value="<{$item.COMPANY_NAME|default:$companyname}>" />
          <span class="gray">Company name, which will be displayed in some copyright information statements</span>
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="price_format"> Website customer service hotline:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][service_tel]" type="text" id="service_tel" size="30" value="<{$item.SERVICE_TEL|default:$service_tel}>"  />
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="price_format"> Website sales hotline:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][sale_tel]" type="text" id="sale_tel" size="30" value="<{$item.SALE_TEL|default:$sale_tel}>" />
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="price_format"> Website customer service number:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][service_qq]" type="text" id="data[setting][sale_tel]" size="30" value="<{$item.SERVICE_QQ|default:$service_qq}>" />
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="price_format"> Website customer service MSN Messenger account:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][service_msn]" type="text" id="data[setting][sale_tel]2" size="30" value="<{$item.SERVICE_MSN|default:$service_msn}>" />
		</td>
      </tr>
      <tr>
        <th class="paddingT15"><label for="price_format"> Website Customer Service Email:</label></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput" name="data[setting][service_email]" type="text" id="service_email" size="30" value="<{$item.SERVICE_EMAIL|default:$service_email}>" />
		</td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="savebasic" value="<{$_submit}>" />
          <input class="formbtn" type="reset" name="reset" value="<{$_reset}>" />
        </td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>