<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_templet}> &raquo; <{$_company_templet}></p>
</div>
<div id="rightTop"> 
    <h3><{$_company_templet}></h3> 
    <ul class="subnav">
		<li><a href="templet.php"><{$_manage}></a></li>
        <li><a class="btn1" href="templet.php?do=edit&id=<{$item.id}>"><span><{$_edit}></span></a></li>
    </ul>
</div>
<div class="info">
  <form action="templet.php" method="post" id="EditFrm" name="edit_frm" enctype="multipart/form-data">
  <input type="hidden" name="id" value="<{$item.id}>">
  <input type="hidden" name="type" value="<{$smarty.get.type}>">
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <{$_template_name}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[templet][title]" value="<{$item.title}>" /><label class="field_notice">显示的标题</label>        </td>
      </tr>
	  <{if $smarty.get.type=="user"}>
      <tr>
        <th class="paddingT15"> 适用会员类型：</th>
        <td class="paddingT15 wordSpacing5">
			<select multiple name="data[require_membertype][]" id="RequireMembertype">
			<option value="0"><{$_no_limit}></option>
			<{foreach from=$Membertypes item=typename key=typekey}>
			<option value="<{$typekey}>"><{$typename}></option>
			<{/foreach}>
			</select><{$_click_ctrl_n_select}></td>
      </tr>
      <tr>
        <th class="paddingT15"> 适用会员组：</th>
        <td class="paddingT15 wordSpacing5">
			<select multiple name="data[require_membergroups][]" id="RequireMembergroups">
			<option value="0"><{$_no_limit}></option>
			<{foreach from=$Membergroups item=groupitem key=groupkey}>
			<option value="<{$groupkey}>"><{$groupitem}></option>
			<{/foreach}>
			</select><{$_click_ctrl_n_select}></td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_if_default}></th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[templet][is_default]" options=$AskAction checked=$item.is_default|default:0 separator=""}></td>
      </tr>
	  <{/if}>
      <tr>
        <th class="paddingT15"> 简单描述：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[templet][description]"><{$item.description}></textarea>        </td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_if_valid}></th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[templet][status]" options=$AskAction checked=$item.status|default:0 separator=""}></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>