<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_userpage}></p>
</div>
<div id="rightTop"> 
    <h3><{$_userpage}></h3> 
    <ul class="subnav">
		<li><a class="btn1" href="userpage.php"><span><{$_management}></span></a></li>
        <li><a href="userpage.php?do=edit"><{$_add_or_edit}></a></li>
    </ul>
</div>
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="userpage.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="<{$_data_zone}>">
    <thead>
		<tr>
		  <th class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="<{$_select_switch}>"></th>
		  <th><label for="idAll">show name</label></th>
		  <th>abstract</th>
		  <th>Page order</th>
		  <th><{$_action}></th>
		</tr>
    </thead>
    <tbody>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.title}></label></td>
		  <td><{$item.digest}></td>
		  <td><{$item.display_order}></td>
		  <td class="handler">
           <ul id="handler_icon">
            <li><a class="btn_delete" href="userpage.php?id=<{$item.id}>&do=del<{$addParams}>" title="<{$_delete}>"><{$_delete}></a></li>
            <li><a class="btn_edit" href="userpage.php?do=edit&id=<{$item.id}><{$addParams}>" title="<{$_edit}>"><{$_edit}></a></li>
            <li><a class="btn_browse" href="<{if $item.url}><{$item.url}><{else}><{$SiteUrl}>page.php?id=<{$item.id}><{/if}>" target="_blank" title="<{$_click_preview}>"><{$_preview}></a></li>
          </ul>  
		 </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="5"><{$_no_datas}></td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="<{$_action_zone}>">
    <div class="left paddingT15" id="batchAction">
      <input type="submit" name="del" value="<{$_delete}>" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>