<{include file="header.html"}>
<div id="currentPosition">
	<p><{$_your_current_position}> <{$_setting_global}> &raquo; <{$_userpage}></p>
</div>
<div id="rightTop"> 
    <h3><{$_userpage}></h3> 
    <ul class="subnav">
		<li><a href="userpage.php"><{$_management}></a></li>
        <li><a class="btn1" href="userpage.php?do=edit"><span><{$_add_or_edit}></span></a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="userpage.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> show name:</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[userpage][title]" value="<{$item.title}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15">Abbreviated name:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[userpage][name]" value="<{$item.name}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> <{$_digest_n}></th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[userpage][digest]" value="<{$item.digest}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"><{$_display_order}></th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[userpage][display_order]" value="<{$item.display_order}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15">Link address:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[userpage][url]" value="<{$item.url}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> details:</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:550px;height:100px;" name="data[userpage][content]" id="UserpageContent"><{$item.content}></textarea></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="<{$_save_and_pub}>" />		</td>
      </tr>
    </table>
  </form>
</div>
<{editor type="ckeditor" element="UserpageContent" toolbar="Full"}>
<{include file="footer.html"}>