<style>
body {
color:#000000;
font:12px "宋体";
}
* {
margin:0;
padding:0;
}
.clock {
height:60px;
overflow:hidden;
padding:4px 4px 4px 10px;
position:relative;
width:215px;
}
.clock a {
clear:both;
line-height:16px;
}
</style>
<div class="clock">
<iframe class="c-weather" scrolling="0" height="25" frameborder="0" width="245" src="http://m.weather.com.cn/m/pn3/weather.htm" allowtransparency="true" marginwidth="0" marginheight="0">
</iframe>
<p>
<script>
var d = new Date();
var ymd = d.getFullYear() + "年" + (d.getMonth()+1) + "月" + d.getDate() + "日", week = ['日', '一', '二', '三', '四', '五', '六'];
document.write("<a href=http://wannianli.1616.net>" + ymd +"<br/>" + "星期" + week[d.getDay()] + "</a>");
</script>
</p>
</div>