<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 插件 &raquo; 管理</p>
</div>
<div id="rightTop"> 
    <h3>插件</h3> 
    <ul class="subnav">
		<li><a href="plugin.php">管理</a></li>
        <li><a class="btn1"><span><{$title}></span></a></li>
    </ul>
</div>
<div class="info">
  <form action="plugin.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />
  <input type="hidden" name="entry" value="<{$name}>" />
  <input type="hidden" name="formhash" value="<{$formhash}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> SiteMap文件名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="pluginvar[filename]" value="<{$filename|default:'sitemap.xml'}>" />
		</td>
      </tr>
      <tr>
        <th class="paddingT15"> 最近一次更新时间：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="pluginvar[lastmod]" value="<{$lastmod|default:$smarty.now}>" />
		</td>
      </tr>
      <tr>
        <th class="paddingT15"> 是否立即提交：</th>
        <td class="paddingT15 wordSpacing5">          
		<input type="radio" name="pingnow" value="1">是 <input type="radio" name="pingnow" value="0" checked="checked">否
		</td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" id="Save" value="立即更新" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>