<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 插件 &raquo; 管理</p>
</div>
<div id="rightTop"> 
    <h3>插件</h3> 
    <ul class="subnav">
		<li><a href="plugin.php">管理</a></li>
        <li><a class="btn1"><span><{$title}></span></a></li>
    </ul>
</div>
<div class="info">
  <form action="plugin.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />
  <input type="hidden" name="entry" value="<{$name}>" />
  <input type="hidden" name="formhash" value="<{$formhash}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 默认电话：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[tel]" value="<{$tel}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 默认MSN：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[msn]" value="<{$msn}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 默认QQ：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[tel]" value="<{$tel}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 默认旺旺：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[tel]" value="<{$tel}>" /></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" id="Save" value="保存" />		
		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>