<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" id="FlashVars" width="<{$width|default:300}>" height="<{$height|default:200}>">  
<param name="movie" value="<{$site_url}>plugins/card/mycard.swf?instanceid=<{$id}>">  
<param name="allowScriptAccess" value="sameDomain" />
<param name="FlashVars" value="" />
<param name="quality" value="high">   
<param name="bgcolor" value="#FFFFFF">
<!--[if !IE]> <-->  
<embed src="<{$site_url}>plugins/card/mycard.swf?instanceid=<{$id}>" quality="high" bgcolor="#ffffff" width="<{$width|default:300}>" height="<{$height|default:200}>" name="FlashVars" align="middle" allowScriptAccess="sameDomain" FlashVars="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
 FAIL (the browser should render some flash content, not this).  
</object>  
<!--> <![endif]-->
</object>
