<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 系统工具 &raquo; 支付方式</p>
</div>
<div id="rightTop"> 
    <h3>支付方式</h3> 
    <ul class="subnav">
		<li><a href="payment.php">管理</a></li>
        <li><a class="btn1"><span>编辑</span></a></li>
    </ul>
</div>
<div class="info">
  <form action="payment.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>">
  <input type="hidden" name="data[payment][name]" id="PaymentName" value="<{$smarty.get.entry}>">
    <table class="infoTable">
      <tr>
        <th colspan="2" class="paddingT15 wordSpacing5">基本信息</th>
      </tr>
      <tr>
        <th class="paddingT15"> 名称：</th>
        <td class="paddingT15 wordSpacing5"><{$item.name}></td>
      </tr>
      <tr>
        <th class="paddingT15"> 显示标题：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[payment][title]" value="<{$item.title|default:$item.name}>" /><label class="field_notice">显示的标题</label></td>
      </tr>
      
      <tr>
        <th class="paddingT15"> 详细信息：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[payment][description]"><{$item.description}></textarea>        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 是否启用：</th>
        <td class="paddingT15 wordSpacing5"><{html_radios name="data[payment][available]" options=$AskAction checked=$item.available|default:1 separator=""}></td>
      </tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{editor type="tiny_mce"}>
<{include file="footer.html"}>