<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<link href="../images/jquery/colorpicker.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/jquery/colorpicker.js"></script>
<script>
jQuery(document).ready(function($) {
	$.fn.colorPicker.defaultColors = ['00FFFF', '000000', '999999', 'FF0000', 'FFFF00', '0000FF', 'FFFFFF', '00FF7F', '00FF00'];
	$('#color1').colorPicker();
})
</script>
<div id="currentPosition">
	<p><{$_your_current_position}> 插件 &raquo; 管理</p>
</div>
<div id="rightTop"> 
    <h3>插件</h3> 
    <ul class="subnav">
		<li><a href="plugin.php">管理</a></li>
        <li><a class="btn1"><span><{$title}></span></a></li>
    </ul>
</div>
<div class="info">
  <form action="plugin.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />
  <input type="hidden" name="entry" value="<{$name}>" />
  <input type="hidden" name="formhash" value="<{$formhash}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> Flash地址：</th>
        <td class="paddingT15 wordSpacing5"><input style="width:350px;" name="pluginvar[movie]" value="<{$movie|default:'plugins/hello/bcastr.swf'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> XML文件地址：</th>
        <td class="paddingT15 wordSpacing5"><input style="width:350px;" name="pluginvar[flashvars]" value="<{$flashvars|default:'xml=plugins/hello/imageroll.xml'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 宽度：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="pluginvar[width]" value="<{$width|default:'473'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 高度：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="pluginvar[height]" value="<{$height|default:'170'}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 背景色：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" id="color1" name="pluginvar[bgcolor]" value="<{$bgcolor|default:'#ff0000'}>" /></td>
      </tr>      
	  <{foreach from=$data item=item}>
      <tr>
         <th class="paddingT15">图片属性</th>
        <td class="paddingT15 wordSpacing5"><input name="image[]"  value="<{$item.image}>" />&nbsp;<input name="link[]" value="<{$item.link}>" /></td>
      </tr>
	  <{foreachelse}>
      <tr>
        <th class="paddingT15">图片属性</th>
        <td><input name="image[]" />&nbsp;<input name="link[]" /></td>
      </tr>
	  <{/foreach}>
	  <tbody>
	  <tr id="tRow0" style="display : none ;">
        <th class="paddingT15">新增图片</th>
        <td><input name="image[]" />&nbsp;<input name="link[]" /></td>
      </tr>
	  </tbody>
	  <tr>
        <th class="paddingT15"> <img src="images/add.gif" /><a href="javascript:;" onclick="$('#tRow0').clone().show().appendTo( $('#tRow0').parent() );" style="color: blue;">&nbsp;添加图片</a></th>
        <td class="paddingT15 wordSpacing5"></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" id="Save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>