		<object type="application/x-shockwave-flash" data="<{$movie|default:'images/breathe.swf'}>" width="<{$width}>" height="<{$height}>" id="bcastr" bgColor="<{$bgcolor|default:null}>">
				<param name="movie" value="<{$movie}>"/>
				<param name="allowFullScreen" value="true" />
				<param name="FlashVars" value="<{$flashvars|default:'xml=plugins/hello/imageroll.xml'}>" />
		</object>